.categories-section {
    &__container {
        padding-top: calc(var(--gs) * 2);

        @media (--tablet) {
            padding: 0 var(--gs);
            margin-bottom: calc(var(--gs) * 3);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @media (--tablet) {
            justify-content: space-between;
        }
    }

    &__item {
        width: calc(var(--gs) * 15);

        @media (--tablet) {
            width: calc(var(--gs) * 8);
        }
    }
}
