.categories-section {
    &__container {
        padding-top: calc(var(--gs) * 2);

        @media (--tablet) {
            padding: 0 var(--gs);
            margin-bottom: calc(var(--gs) * 3);
            border-bottom: 1px solid var(--cl-divider-grey);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 calc(var(--gs) * -2.5);

        @media (--desktop) {
            margin: 0 calc(var(--gs) * -2.5);
        }

        @media (--tablet-lg) {
            margin: 0 calc(var(--gs) * -1);
        }
    }

    &__item {
        width: calc(calc(100% / 8) - calc(var(--gs) * 5));
        margin: 0 calc(var(--gs) * 2.5) calc(var(--gs) * 3);

        @media (--desktop) {
            width: calc(calc(100% / 6) - calc(var(--gs) * 5));
            margin: 0 calc(var(--gs) * 2.5) calc(var(--gs) * 3);
        }

        @media (--tablet-lg) {
            width: calc(calc(100% / 6) - calc(var(--gs) * 2));
            margin: 0 var(--gs) calc(var(--gs) * 3);
        }

        @media (--tablet) {
            width: calc(25% - calc(var(--gs) * 2));
        }
    }
}
