.aselect {
}

.aselect .selector {
    position: relative;
    z-index: 1;
}

.aselect .selector .arrow {
    position: absolute;
    right: 10px;
    top: 40%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #888;
    transform: rotateZ(0deg) translateY(0px);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.59, 1.39, 0.37, 1.01);
}

.aselect .selector .expanded {
    transform: rotateZ(180deg) translateY(2px);
}

.aselect .selector .label {
    max-height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    color: var(--cl-white);
    background: var(--cl-black);
}

.label-text {
    margin-right: 8px;
}

.label-svg {
    transition: .3s all;
    fill: var(--cl-white);
}

.non-target-label {
    color: #000 !important;
    background: #f8f8f8 !important;
}

.non-target-svg {
    fill: #000;
}

.aselect ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    background: #fff;
}

.aselect li {
    cursor: pointer;
    padding: 12px;
    color: #666;
}

.aselect li:hover {
    color: white;
    background: var(--cl-black);
}

.aselect .current {
    background: #eaeaea;
}

.aselect .hidden {
    visibility: hidden;
}

.aselect .visible {
    visibility: visible;
}
