.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    &__top {
        background-color: var(--cl-white);
        height: 60px;
    }

    &__middle {
        background-color: var(--cl-global);

        &-inner {
            padding: var(--gs) 0;
            display: flex;
            justify-content: space-between;
        }

        &-link {
            text-transform: uppercase;
            color: var(--cl-white);
        }
    }
}
