.header {
    background-color: var(--cl-orange);
    position: fixed;
    z-index: 999;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;

    .inner {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 15px 5px;
    }

    a {
        color: rgba(255, 255, 255, 0.8);
        line-height: 24px;
        transition: color 0.15s ease;
        display: inline-block;
        vertical-align: middle;
        font-weight: 300;
        letter-spacing: 0.075em;
        margin-right: 1.8em;

        &:hover {
            color: var(--cl-white);
        }

        &.router-link-active {
            color: var(--cl-white);
            font-weight: 400;
        }

        &:nth-child(6) {
            margin-right: 0;
        }
    }

    .github {
        color: var(--cl-white);
        font-size: 0.9em;
        margin: 0;
        float: right;
    }
}

@media (max-width: 860px) {
    .header .inner {
        padding: 15px 30px;
    }
}

@media (max-width: 600px) {
    .header {
        .inner {
            padding: 15px;
        }

        a {
            margin-right: 1em;
        }

        .github {
            display: none;
        }
    }
}
