.cabinet-requisites-panel {
    &__item {
        align-items: center;

        & + & {
            margin-top: calc(var(--gs) * 2);
        }

        &-input {
            flex: 1;
            max-width: 288px;

            @media (--tablet-lg-min) and (--desktop) {
                max-width: 258px;
            }

            @media (--tablet) {
                max-width: 100%;
            }
        }

        &-textarea {
            width: 100%;

            textarea {
                line-height: 24px;
                height: 64px;
            }
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        margin-top: calc(var(--gs) * 4);

        @media (--tablet-lg) {
            justify-content: center;
        }
    }

    &__save-btn {
        @media (--tablet) {
            width: 100%;
            margin: 0 calc(var(--gs) * 2);
        }
    }
}
