.favorites-panel {
    width: 544px;

    &.tooltip[x-placement^='bottom'] {
        padding-top: 34px;
    }

    .general-popup-panel__header {
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: calc(var(--gs) * 2);
    }

    .general-popup-panel__body {
        display: block;
    }

    .general-popup-panel__bottom {
        display: block;
    }

    .tooltip-arrow {
        display: none;
    }

    &__preloader {
        display: flex;
        margin: 0 auto;
    }

    &__body {
        max-height: 552px;
        display: flex;
    }

    &__scroll {
        height: auto !important;
    }

    &__list {
        padding-right: calc(var(--gs) * 2);
        width: 100%;

        &-item {
            padding: calc(var(--gs) * 2) 0;
            border-bottom: 1px solid var(--cl-divider-grey);

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}
