.catalog-view {
    overflow-x: hidden;

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: calc(var(--gs) * 5);

        @media (--tablet-lg) {
            margin-bottom: 0;
            padding: 0;
        }
    }

    &__section {
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet-lg) {
            margin-bottom: calc(var(--gs) * 4);
        }

        &-hl {
            font-size: 28px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet) {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.02em;
            }
        }
    }

    &__breadcrumbs {
        order: 0;
        margin: var(--gs) 0;

        @media (--tablet-lg) {
            order: 1;
            padding: 0 calc(var(--gs) * 3);
        }

        @media (--tablet) {
            padding: 0 calc(var(--gs) * 2);
        }
    }

    &__banner,
    &__brand {
        order: 1;
        height: 240px;

        @media (--tablet-lg) {
            order: 0;
        }

        .catalog-banner-card__panel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: none;

            @media (--tablet-lg-min) {
                height: 100%;
                text-align: left;
                top: 0;
                left: 35%;
                width: 65%;

                &-title {
                    margin-bottom: var(--gs);
                    width: 80%;
                }

                &-btn {
                    width: max-content;
                    max-width: 200px;
                }
            }

            @media (--tablet-lg) {
                height: 100%;
                text-align: center;
                align-items: center;
                top: 0;
                left: 0;
                width: 100%;
                padding: calc(var(--gs) * 3);

                &-title {
                    margin-bottom: var(--gs);
                    width: 100%;
                }

                &-btn {
                    width: max-content;
                    max-width: 200px;
                }
            }
        }
    }

    &__brand {
        .catalog-banner-card__panel {
            color: var(--cl-global);
        }

        .catalog-banner-card__panel-bottom-text {
            font-weight: normal;
            font-size: 16px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 288px 1fr;
        grid-template-rows: 1fr;
        grid-gap: calc(var(--gs) * 8);
        overflow: hidden;
        padding-bottom: calc(var(--gs) * 7);

        @media (--desktop) {
            grid-template-columns: 256px 1fr;
            grid-template-rows: 1fr;
        }

        @media (--tablet-lg) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 0;
        }

        @media (--tablet) {
            padding: 0;
        }
    }

    &__side-panel {
        @media (--tablet-lg) {
            display: none;
        }

        &-categories {
            margin-bottom: calc(var(--gs) * 4);

            &-item {
                text-transform: uppercase;
            }

            .slide-right {
                &-enter {
                    transform: translateX(30px);

                    &-to {
                        transform: translateX(0);
                    }
                }

                &-leave {
                    transform: translateX(0);

                    &-to {
                        transform: translateX(30px);
                    }
                }
            }
        }
    }

    &__main {
        &-header {
            display: flex;
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet-lg) {
                justify-content: space-between;
                align-items: flex-start;
            }

            @media (--tablet) {
                flex-direction: column;
                align-items: center;
                padding-bottom: var(--gs);
            }

            &-title {
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;

                @media (--tablet) {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: calc(var(--gs) * 2);
                }
            }

            &-hl {
                display: inline-block;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 28px;
                line-height: 40px;
                margin: 0;
                margin-right: calc(var(--gs) * 2);

                @media (--tablet) {
                    padding: 0 calc(var(--gs) * 2);
                    margin-right: 0;
                }
            }

            &-text {
                display: inline-block;
                font-size: 14px;
                margin: 0;

                @media (--tablet) {
                    margin-right: 0;
                }
            }

            &-sort {
                display: inline-block;
                width: calc(calc(100% / 3) - calc(var(--gs) * 2));
                padding: 0;
                margin-left: auto;

                @media (--tablet-lg) {
                    display: none;
                }

                .multiselect__tags {
                    border: 1px solid var(--cl-global);
                    padding: 3px 40px 3px 16px;
                }

                .multiselect__error {
                    display: none;
                }

                .multiselect__single {
                    line-height: 32px;
                }

                .multiselect__select {
                    top: 0;
                }
            }

            &-btn {
                display: none;

                @media (--tablet-lg) {
                    display: flex;
                    white-space: nowrap;
                }

                @media (--tablet) {
                    width: calc(100% - calc(var(--gs) * 4));
                    margin: 0 calc(var(--gs) * 2);
                }
            }
        }

        &-tags {
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet-lg) {
                display: none;
            }
        }

        &-grid {
            overflow: hidden;
        }

        &-controls {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-row: 4;

            @media (--tablet-lg) {
                grid-row: 3;
            }

            &-btn {
                width: 100%;
            }
        }
    }

    &__modal-filter {
        .modal-body {
            position: relative;
            padding: 0;
        }

        &-sticky {
            width: 100%;
            display: flex;
            flex-direction: column;

            .v-sticky__container {
                z-index: 1000;
            }
        }

        &-header {
            background-color: var(--cl-global);
            padding: calc(var(--gs) * 1.5) calc(var(--gs) * 3);

            @media (--tablet) {
                padding: calc(var(--gs) * 1.5) calc(var(--gs) * 2);
            }

            &-btn {
                display: flex;
                align-items: center;
                fill: var(--cl-white) !important;
                color: var(--cl-white) !important;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-transform: uppercase;

                .icon {
                    margin-right: calc(var(--gs) * 1.5);
                }
            }
        }

        &-sort {
            padding: calc(var(--gs) * 3);

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
            }

            &-title {
                font-size: 20px;
                margin-bottom: calc(var(--gs) * 2);
                font-weight: 500;
            }

            &-item {
                line-height: calc(var(--gs) * 4);

                & + & {
                    margin-top: var(--gs);
                }

                &--active {
                    font-weight: bold;
                }
            }

            &-btn {
                text-transform: inherit;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
            }
        }

        &-panel {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .v-accordion__item {
                padding: 0 calc(var(--gs) * 3);
                padding-top: calc(var(--gs) * 2);

                @media (--tablet) {
                    padding: 0 calc(var(--gs) * 2);
                    padding-top: calc(var(--gs) * 2);
                }

                &-btn {
                    padding-bottom: var(--gs);
                }
            }

            .v-accordion__item + .v-accordion__item {
                margin-top: var(--gs);
            }

            .catalog-filter__clear-btn {
                position: sticky;
                bottom: 0;
                margin-bottom: 0;
                z-index: 1;
                padding: calc(var(--gs) * 1.5) calc(var(--gs) * 2);
                background-color: var(--cl-white) !important;
                border-color: var(--cl-white) !important;
                color: var(--cl-global) !important;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            }

            .catalog-filter__filters {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }
    }

    &__seo {
        @media (--tablet) {
            padding-top: calc(var(--gs) * 4);
            border-top: 1px solid var(--cl-divider-grey);
        }

        &-hl {
            padding-top: calc(var(--gs) * 7);
            border-top: 1px solid var(--cl-divider-grey);
            @media (--tablet) {
                padding-top: 0;
                border-top: none;
            }
        }
    }
}
