.category-card {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.04em;
    font-weight: 500;

    @media (--tablet-lg) {
        font-size: 12px;
        line-height: 16px;
    }

    @media (--tablet-lg) {
        font-size: 10px;
    }

    &__img {
        display: block;
        width: 100%;
        padding: 0 var(--gs);
        margin-bottom: calc(var(--gs) * 2);
        border-bottom: none;

        @media (--tablet) {
            padding: 0 calc(var(--gs) * 1.5);
            font-size: 14px;
            line-height: 22px;
            margin-bottom: var(--gs);
        }

        .v-picture {
            justify-content: center;

            img {
                @media (--tablet) {
                    width: 64px;
                }
            }
        }
    }
}
