.category-card {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.04em;
    font-weight: 700;

    @media (--tablet-lg) {
        font-size: 12px;
        line-height: 16px;
    }

    @media (--tablet-lg) {
        font-size: 10px;
    }

    .open & {
        opacity: 0.5;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 calc(var(--gs) * 1.5);
        margin-bottom: calc(var(--gs) * 2);
        border-bottom: none;

        @media (--tablet) {
            padding: 0 var(--gs);
            font-size: 14px;
            line-height: 22px;
            margin-bottom: var(--gs);
        }

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 100%;
                padding-bottom: 0;
            }
        }

        .v-picture {
            justify-content: center;

            img {
                @media (--tablet) {
                    width: 64px;
                }
            }
        }

        .icon {
            width: 96px;
            max-height: 96px;

            @media (--tablet) {
                width: 48px;
                max-height: 48px;
            }
        }
    }
}
