.category-card {
    position: relative;
    text-align: center;

    &__img {
        display: block;
        padding: calc(var(--gs) * 2);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
