@import '../../../../node_modules/nouislider/distribute/nouislider.css';

.v-range {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;
        align-items: center;
    }

    &__label {
        padding: 0 var(--gs);
    }

    &__input {
        width: calc(var(--gs) * 9);
        height: calc(var(--gs) * 4);
    }

    .noUi-target {
        border: 1px solid transparent;
        background: transparent;
        box-shadow: none;
    }

    .noUi-horizontal {
        width: 100%;
        height: calc(var(--gs) * 4);

        .noUi-connect {
            background: var(--cl-global);
        }

        .noUi-connects {
            top: 50%;
            height: 2px;
            transform: translateY(-50%);
            border-radius: 0;
            background: var(--cl-divider-grey);
        }

        .noUi-handle {
            background: var(--cl-global);
            border: 1px solid transparent;
            border-radius: 50%;
            box-shadow: none;
            width: 11px;
            height: 11px;
            left: 0;
            top: 10px;
            cursor: pointer;

            &::before,
            &::after {
                content: none;
            }

            html:not([dir='rtl']) & {
                right: -5px;
                left: auto;
            }
        }
    }
}
