.product-delivery-panel {
    &__btn {
        display: inline-flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        text-transform: none;

        &-text {
            margin-right: calc(var(--gs) / 2);
            border-bottom: 1px solid var(--cl-global);
        }

        &--no-border {
            border-bottom: none;
        }
    }

    &__price {
        vertical-align: inherit;
        word-spacing: -2px;
    }
}
