.product-delivery-panel {
    &__btn {
        display: inline-flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        text-transform: none;
        border-bottom: 1px solid var(--cl-global);
    }

    &__price {
        vertical-align: inherit;
    }
}
