.empty-placeholder-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (--tablet) {
        padding: 0 calc(var(--gs) * 2);
    }

    &__icon {
        margin-bottom: var(--gs);
    }

    &__content {
        font-size: 20px;
        line-height: 24px;
        color: var(--cl-grey);
        text-align: center;
        max-width: calc(var(--gs) * 80);

        @media (--tablet) {
            font-size: 16px;
        }
    }

    &__btn {
        margin-top: calc(var(--gs) * 3);

        @media (--tablet) {
            display: none;
        }
    }
}
