.review-card {
    display: flex;
    position: relative;

    &__header {
        display: flex;
        flex-direction: column;
        width: 25%;
        line-height: 24px;

        @media (--tablet-lg) {
            position: relative;
            width: 100%;
            margin-bottom: calc(var(--gs) * 3);
        }

        &-name {
            font-weight: bold;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 24px;

            @media (--tablet-lg) {
                font-size: 14px;
                line-height: 24px;
                display: flex;
                justify-content: space-between;
                margin-bottom: var(--gs);
            }
        }

        &-date {
            line-height: 24px;
            font-weight: 400;
            margin-left: calc(var(--gs) * 2);
            text-transform: none;
        }

        &-options {
            position: absolute;
            line-height: 24px;
            right: 0;
            z-index: 1;

            @media (--tablet-min) {
                top: calc(var(--gs) * 4);
            }

            @media (--tablet) {
                line-height: 16px;
                font-size: 14px;
                bottom: 0;
            }
        }
    }

    &__body {
        width: 50%;

        @media (--tablet-lg) {
            width: 100%;
            margin-bottom: calc(var(--gs) * 2);
        }

        &-item {
            line-height: 24px;

            & + & {
                margin-top: calc(var(--gs) * 2);
            }

            &-value {
                display: flex;
                flex-wrap: wrap;

                &--media {
                    margin: 0 calc(var(--gs) * -1);
                    padding-top: var(--gs);
                }
            }

            &-img {
                margin: 0 var(--gs) calc(var(--gs) * 2);
                cursor: pointer;
                
                .v-picture {
                    object-fit: fill;
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }

    &__controls {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @media (--tablet) {
            justify-content: flex-start;
        }

        &-btn {
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;

            .icon {
                margin-right: var(--gs);
            }

            & + & {
                margin-left: calc(var(--gs) * 3);
            }

            &--like {
                color: var(--cl-green);
                fill: var(--cl-green);

                &:hover {
                    color: var(--cl-green);
                    fill: var(--cl-green);
                }
            }

            &--dislike {
                color: var(--cl-red);
                fill: var(--cl-red);

                &:hover {
                    color: var(--cl-red);
                    fill: var(--cl-red);
                }
            }
        }
    }

    &__answer {
        width: 100%;
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;

        &-container {
            background-color: #f8f8f8;
            padding: 32px 24px;
            width: calc(75% + 24px);

            @media (--tablet) {
                width: 100%;
            }

            @media (--tablet-lg) {
                width: 100%;
            }
        }

        &-title {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            &-icon {
                max-height: 24px;
                max-width: 24px;
                margin-right: 8px;
            }

            &-text {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 800;
                letter-spacing: 0.02em;
                margin-right: 16px;
            }

            &-date {
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0em;
                color: #7d7d7d;
            }
        }
    }
}


