.return-reason-modal {

    &__subtitle {
        margin-bottom: 0 !important;
        font-size: 16px;
    }

    &__list {
        &-item {
            & + & {
                margin-top: calc(var(--gs) * 2);
            }
        }
    }

    &__section {
        margin-bottom: calc(var(--gs) * 3);
    }

    &__submit {
        display: block;
        margin: 0 auto;
    }

    &__description {
        font-size: 14px;
        color: var(--cl-grey);
        line-height: 24px;
        margin-bottom: 8px;
    }

    &__files {
        &-text {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
        }
    }
    
    .popup__body {
        padding: calc(var(--gs) * 3);
    }
}