.city-selection-modal {
    .popup--sm {
        width: 440px;
        height: 440px;
    }

    .modal-body {
        padding: calc(var(--gs) * 3);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    &__input {
        input[type='text'] {
            padding-right: calc(var(--gs) * 5);
        }

        .icon {
            position: absolute;
            z-index: 1;
            right: var(--gs);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__list {
        overflow: auto;

        &-item {
            padding: 1px;
            & + & {
                margin-top: var(--gs);
            }
        }

        &-btn {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            text-transform: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
