.v-password {
    position: relative;

    &__label {
        display: flex;
        margin-bottom: var(--gs);
        cursor: text;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

        &:empty {
            display: none;
        }
    }

    &--invalid &__input {
        border-color: var(--cl-red) !important;
        color: var(--cl-red) !important;
    }

    &__input {
        width: 100%;
        min-height: 40px;
        padding: 6px calc(var(--gs) * 2);
        border: 1px solid var(--cl-global);
        color: var(--cl-global);
        background-color: var(--cl-white);
        transition: all var(--time) var(--timing-function);
        overflow: hidden;

        &:focus {
            outline: none;
        }
    }

    &__container {
        position: relative;
        display: flex;
    }

    &__error {
        position: relative;
        min-height: calc(var(--gs) * 3);
        font-size: 12px;
        line-height: calc(var(--gs) * 3);
        color: var(--cl-red);
        overflow: hidden;
    }

    &__btn-show {
        display: flex;
        position: absolute;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        right: calc(var(--gs) * 2);
        width: calc(var(--gs) * 3);

        .icon {
            margin: 0;
        }
    }
}
