.list-banners-section {
    margin-bottom: calc(var(--gs) * 7);

    @media (--tablet) {
        padding: 0;
        margin-bottom: calc(var(--gs) * 4);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: calc(var(--gs) * 9);
        border-bottom: 1px solid var(--cl-divider-grey);
        margin: 0 calc(var(--gs) * -3 / 2);

        @media (--tablet) {
            margin: 0;
            padding-bottom: calc(var(--gs) * 6);
        }

        &-item {
            width: calc(calc(100% / 3) - calc(var(--gs) * 3));
            margin: 0 calc(var(--gs) * 3 / 2);

            &:last-child {
                @media (--tablet) {
                    margin-bottom: 0;
                }
            }

            @media (--tablet-lg) {
                width: calc(calc(100% / 2) - calc(var(--gs) * 3));
                margin: 0 calc(var(--gs) * 1.5);
            }

            @media (--tablet) {
                width: 100%;
                margin: 0;
                margin-bottom: calc(var(--gs) * 3);
            }
        }
    }
}
