.catalog-product-card {
    position: relative;

    &:hover &__btn {
        background-color: var(--cl-global);
        fill: var(--cl-white);
    }

    &__wrapper {
        position: relative;
    }

    &__body {
        display: flex;
        flex-direction: column;

        &-top {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto;

            @media (--tablet-lg) {
                padding-bottom: var(--gs);
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        height: calc(var(--gs) * 5);

        @media (--tablet-lg) {
            display: none;
        }

        .icon + .icon {
            margin-left: var(--gs);
        }
    }

    &__img {
        display: block;
        width: 100%;

        @media (--tablet-lg) {
            min-height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 22px;
        text-transform: none;
        margin-bottom: var(--gs);

        @media (--tablet-lg) {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__prices {
        display: flex;
        align-items: center;

        @media (--tablet-lg) {
            padding-top: calc(var(--gs) * 1.5);
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__price {
        text-align: left;

        & + & {
            margin-left: var(--gs);
            @media (--tablet-lg) {
                margin-left: 0;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__tags {
        position: absolute;
        top: 0;
        left: 0;

        &-tag {
            & + & {
                margin-top: var(--gs);
            }
        }
    }

    &__rating {
        width: 100%;
        margin: calc(var(--gs) * 1.5) 0;

        @media (--tablet-lg) {
            display: none;
        }
    }
}
