.catalog-product-card {
    position: relative;

    &:hover &__btn {
        background-color: var(--cl-global);
        fill: var(--cl-white);
    }

    &__body {
        display: grid;
        grid-template-columns: calc(100% - 40px) 40px;
        grid-template-rows: auto;
        position: absolute;

        &-left {
            padding-top: calc(var(--gs) * 1.5);
        }
    }

    &:hover &__controls {
        display: flex;
    }

    &__controls {
        display: none;
        align-items: center;
        padding-bottom: calc(var(--gs) * 1.5);

        .icon + .icon {
            margin-left: var(--gs);
        }
    }

    &__img {
        display: block;
        width: 100%;
        min-height: 230px;

        @media (--tablet) {
            min-height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 22px;
        text-transform: none;
        margin-bottom: var(--gs);
    }

    &__prices {
        display: flex;
        align-items: center;
        margin-bottom: var(--gs);
    }

    &__price {
        text-align: left;
        & + & {
            margin-left: var(--gs);
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__tags {
        position: absolute;
        top: 0;
        left: 0;

        &-tag {
            & + & {
                margin-top: var(--gs);
            }
        }
    }

    &__rating {
        width: 100%;
        margin-bottom: var(--gs);
    }
}
