.seo-view {
    &__header {
        display: flex;
        align-items: baseline;
        margin-bottom: calc(var(--gs) * 3);
        justify-content: space-between;

        @media (--desktop) and (--tablet-lg-min) {
            flex-direction: column;
        }
    }

    &__hl {
        margin-right: calc(var(--gs) * 2);
        margin-bottom: 0;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (--desktop) and (--tablet-lg-min) {
            margin-bottom: calc(var(--gs) * 2);
        }

        @media (--tablet-lg) {
            display: none;
        }
    }

    &__switch {
        width: 288px;

        @media (--tablet) {
            width: 100%;
        }
    }

    &__panel {
        & + & {
            margin-top: calc(var(--gs) * 7);
        }

        .info-panel__header {
            @media (--desktop) {
                flex-direction: column;
            }
        }

        &-links {
            display: flex;

            @media (--desktop) {
                margin-top: var(--gs);
            }
        }

        &-link {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
            text-transform: none;

            span {
                @media (--tablet) {
                    display: none;
                }
            }

            & + & {
                margin-left: calc(var(--gs) * 4);
            }
        }

        &-referal {
            margin-bottom: calc(var(--gs) * 2);

            &-text {
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                margin-right: var(--gs);
                text-transform: uppercase;
            }

            &-link {
                font-family: 'Roboto', Arial, sans-serif;
            }
        }

        &-content {
            margin-bottom: calc(var(--gs) * 2);
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 calc(var(--gs) / -2);
        }

        &-item {
            position: relative;
            display: flex;
            width: calc(calc(100% / 6) - calc(var(--gs) * 1.5));
            margin: 0 calc(var(--gs) / 2);
            margin-bottom: calc(var(--gs) * 3);
            max-height: 94px;

            @media (--tablet-lg) {
                width: calc(calc(100% / 3) - calc(var(--gs) * 1.5));
                margin-bottom: calc(var(--gs) * 1.5);
            }

            @media (--tablet) {
                width: calc(calc(100% / 2) - calc(var(--gs) * 1.5));
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-share {
            padding-top: calc(var(--gs) * 2);
            display: flex;
            align-items: center;
            border-top: 1px solid var(--cl-divider-grey);
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            .icon {
                margin-left: calc(var(--gs) * 2);
            }
        }
    }

    &__controls {
        text-align: center;
        margin-top: calc(var(--gs) * 4);

        &-btn {
            width: 100%;
        }
    }
}
