@import '../../../../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';
@import '../../../../node_modules/filepond/dist/filepond.css';

.v-filepond {
    .filepond--root {
        font-family: var(--base-font);

        &:not(text) {
            font-size: unset;
        }
    }

    .filepond--file {
        color: var(--cl-global);
    }

    .filepond--item-panel {
        background-color: var(--cl-white);
    }

    .filepond--image-preview-wrapper {
        background: transparent;
    }

    .filepond--image-preview {
        background: var(--cl-white);
    }

    .filepond--image-preview-overlay svg {
        display: none;
    }

    /* error state color */
    [data-filepond-item-state*='error'] .filepond--item-panel,
    [data-filepond-item-state*='invalid'] .filepond--item-panel {
        background-color: var(--cl-red);
    }

    [data-filepond-item-state='processing-complete'] .filepond--item-panel {
        background-color: var(--cl-dirty-green);
    }

    /* bordered drop area */
    .filepond--panel-root {
        background-color: transparent;
        border: 2px dotted var(--cl-grey);
    }

    .filepond--panel-root {
        &[data-scalable='true'] {
            border: 2px dashed var(--cl-grey) !important ;
        }

        &.filepond--panel {
            &-top,
            &-center,
            &-bottom {
                border: none;
            }
        }
    }

    .filepond--drop-label {
        color: var(--cl-grey);
    }

    .filepond--label-action {
        text-decoration: none;
        color: var(--cl-global);
    }
}
