.cart-product-card {
    display: flex;

    &__img {
        position: relative;
        display: flex;
        width: 184px;
        height: 100%;
        padding: calc(var(--gs) * 2);
        margin-right: calc(var(--gs) * 3);
        border-bottom: none;

        @media (--tablet) {
            width: 72px;
            margin-right: var(--gs);
            padding: var(--gs);
        }

        .v-picture {
            width: 100%;
            height: 100%;
        }

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 100%;
                padding-bottom: 0;
            }
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--cl-global);
            opacity: 0.03;
        }

        .icon {
            margin: auto;
            opacity: 0.1;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        padding: calc(var(--gs) * 2) 0;

        @media (--tablet) {
            padding: 0;
            padding-right: calc(var(--gs) * 2);
        }

        &-name {
            order: 0;
            width: 50%;
            text-transform: none;
            font-weight: bold;

            @media (--tablet) {
                width: 100%;
                margin-bottom: var(--gs);
                font-size: 16px;
                line-height: 24px;
                font-weight: normal;
            }
        }

        &-count {
            order: 1;
            width: 25%;
            text-align: center;

            @media (--tablet) {
                order: 4;
                width: 50%;
                text-align: left;
            }

            .v-counter {
                padding-bottom: calc(var(--gs) * 2);

                @media (--desktop) {
                    height: 32px;
                    padding-bottom: var(--gs);
                }

                @media (--tablet-lg) {
                    padding-bottom: 0;
                }

                &__btn {
                    @media (--desktop) {
                        padding: 0;
                    }
                }

                input[type='number'] {
                    width: 32px;
                }
            }
        }

        &-prices {
            order: 2;
            width: 25%;
            text-align: right;
            padding-left: calc(var(--gs) * 2);

            @media (--tablet) {
                width: 50%;
                padding-left: 0;
                margin-bottom: var(--gs);
                display: flex;
                align-items: center;
            }
        }

        &-prices--no-price {
            position: relative;
            top: -10.5px;

            svg {
                width: 100%;
            }
        }

        &-price {
            font-size: 20px;
            line-height: 24px;

            @media (--tablet) {
                font-size: 16px;
                line-height: 24px;
                margin-right: var(--gs);
            }

            &--old {
                font-size: 14px;
                line-height: 24px;

                @media (--tablet) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        &-info {
            order: 3;
            width: 50%;

            @media (--tablet) {
                order: 1;
                width: 100%;
                margin-bottom: var(--gs);
            }
        }

        &-bonus {
            order: 4;
            width: 50%;
            text-align: right;

            &--hidden {
                visibility: hidden;
            }

            @media (--tablet) {
                font-size: 12px;
                line-height: 24px;
                margin-bottom: var(--gs);
                order: 3;
            }
        }

        &-controls {
            order: 5;
            display: flex;

            @media (--tablet) {
                justify-content: flex-end;
                width: 50%;
            }

            &-link {
                display: flex;
                align-items: center;
                color: var(--cl-grey);
                fill: var(--cl-grey);
                text-transform: none;
                font-size: 14px;
                line-height: 24px;
                font-weight: normal;
                transition: none;

                @media (--tablet) {
                    justify-content: flex-end;
                    width: calc(var(--gs) * 4);
                }

                & + & {
                    margin-left: calc(var(--gs) * 2);

                    @media (--tablet) {
                        margin-left: 0;
                    }
                }

                .icon {
                    margin-right: var(--gs);

                    @media (--tablet) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &--inactive &__img {
        opacity: 0.2;
    }

    &--inactive &__body {
        &-count,
        &-name,
        &-prices {
            opacity: 0.2;
        }
    }
}
