/* Шрифты */

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../fonts/Roboto/Roboto-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto/Roboto-Bold.ttf') format('ttf');
}
