/* Шрифты */

@font-face {
    font-family: 'Futura PT';
    font-display: swap;
    src: url('../fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('ttf');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/FuturaPT/FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/FuturaPT/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('ttf');
}
