.view {
    margin: 0 auto;
    position: relative;
}

.link {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    transition: all var(--time) var(--timing-function);
    border-bottom: none;
    text-transform: uppercase;

    &--sm {
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
    }

    &--grey {
        fill: var(--cl-grey);
        color: var(--cl-grey);
    }
}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0%;
    transition: width var(--time), opacity var(--animation-time), color var(--animation-time);
    opacity: 1;
    background-color: var(--cl-grey);
    z-index: 999999;

    &--fail {
        background-color: var(--cl-red);
    }
}

.header-middle {
    background-color: var(--cl-white);
    overflow: hidden;

    @media (--tablet-lg) {
        padding: 0;
        display: none;
    }

    &__container {
        padding-top: calc(var(--gs) * 2);
        padding-bottom: calc(var(--gs) * 2);
    }

    &__search {
        min-width: 288px;

        &--active {
            width: 100%;

            @media (--tablet-lg-min) {
                padding-top: calc(var(--gs) * 5);
                padding-bottom: var(--gs);
            }
        }
    }

    &__user {
        @media (--tablet-lg-min) {
            min-width: 288px;
        }

        .header-user-panel__item {
            &:first-child {
                margin-left: calc(var(--gs) * 3);

                @media (--desktop) {
                    margin-left: calc(var(--gs) * 2);
                }
            }
        }

        .header-user-panel__item-sum {
            @media (--desktop) {
                display: none;
            }
        }
    }
}



