.underline-hover {
    display: inline-block;
}

.underline-hover::after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: var(--cl-black);
    transition: 300ms;
}

.underline-hover:hover::after {
    width: 100%;
}

.link-underline a:has(img){
    text-decoration: none;
}

.link-underline a {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.link-unset a {
    text-decoration: unset !important;
}

.link-underline:hover > a{
    text-decoration: underline !important;
}

