.cart-header-panel {
    width: calc(var(--gs) * 52.5);

    .popover-arrow {
        display: none;
    }

    &__list {
        width: 100%;
        max-height: calc(var(--gs) * 37.5);
        padding-right: var(--gs);

        &-item {
            padding: calc(var(--gs) * 2) 0;
            border-bottom: 1px solid var(--cl-divider-grey);

            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    &__total {
        text-align: right;
        margin-left: auto;
    }
}
