.clear-cart-modal {
    .modal-container {
        @media (--tablet-min) {
            width: 440px;
        }
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        position: relative;

        @media (--tablet-min) {
            padding: calc(var(--gs) * 3);
        }
    }

    .general-modal__sticky {
        flex: 1;
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;

        @media (--tablet) {
            padding: calc(var(--gs) * 3);
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: calc(var(--gs) * 3);

        @media (--tablet) {
            position: sticky;
            bottom: 0;
            margin-top: auto;
            padding: var(--gs) calc(var(--gs) * 2);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            background-color: var(--cl-white);
        }

        &-btn {
            &-cancel {
                min-width: 120px;
            }

            &-clear {
                position: relative;
                font-size: 14px;
                font-weight: bold;
                margin: 0 calc(var(--gs) * 5);
                border-bottom: 2px solid var(--cl-global);

                @media (--mobile) {
                    margin-right: calc(var(--gs) * 2);
                }
            }
        }
    }
}
