.message-details-view {
    &__hl {
        margin-bottom: calc(var(--gs) * 3);
        margin-top: 0;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (--tablet-lg) {
            margin-bottom: var(--gs);
        }

        &-title {
            margin-left: calc(var(--gs) * 2);
        }
    }

    &__back-link {
        display: flex;
        font-size: 16px;
        line-height: 24px;
        fill: var(--cl-grey);
        color: var(--cl-grey);
        text-transform: none;
        margin-bottom: var(--gs);

        @media (--tablet-lg) {
            margin-bottom: calc(var(--gs) * 2);
            text-transform: uppercase;
            color: var(--cl-global);
            fill: var(--cl-global);
            letter-spacing: 0.02em;
            font-weight: bold;
        }
    }

    &__list {
        padding: 1px;

        &-item {
            border-bottom: 1px solid var(--cl-divider-grey);

            @media (--tablet-lg) {
                padding: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
            }
        }
    }

    &__controls {
        display: flex;
        margin-top: calc(var(--gs) * 4);

        @media (--tablet-lg) {
            padding: 0 calc(var(--gs) * 3);
        }

        @media (--tablet) {
            display: block;
        }

        &-input {
            width: 100%;
        }

        &-btn {
            height: 100%;
            margin-left: calc(var(--gs) * 2);

            @media (--tablet) {
                margin-left: 0;
            }
        }
    }
}
