.message-details-view {
    &__hl {
        margin-bottom: calc(var(--gs) * 3);
        margin-top: 0;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    &__back-link {
        display: flex;
        font-size: 16px;
        line-height: 24px;
        fill: var(--cl-grey);
        color: var(--cl-grey);
        text-transform: none;
        margin-bottom: var(--gs);
    }

    &__list {
        padding: 1px;

        &-item {
            border-bottom: 1px solid var(--cl-divider-grey);
        }
    }
}
