.checkout-view {
    padding-top: 0;
    padding-bottom: calc(var(--gs) * 10);

    @media (--tablet-lg) {
        padding-bottom: calc(var(--gs) * 5);
    }

    @media (--tablet) {
        padding-bottom: 0;
    }

    &__header {
        position: relative;

        @media (--tablet) {
            display: flex;
            flex-direction: column-reverse;
        }

        &-hl {
            font-size: 28px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet-lg) {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.02em;
            }

            @media (--mobile-sm) {
                text-align: center;
            }
        }

        &-link {
            position: absolute;
            display: flex;
            align-items: center;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            @media (--tablet) {
                position: static;
            }

            .icon {
                transform: rotate(90deg);
            }
        }
    }

    &__main {
        @media (--tablet-lg) {
            padding-bottom: calc(var(--gs) * 7);
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        @media (--tablet) {
            padding-bottom: 0;
            margin-bottom: calc(var(--gs) * 4);
            border-bottom: none;
        }

        &-container {
            display: flex;

            @media (--tablet-lg) {
                display: block;
            }

            @media (--tablet) {
                padding: 0;
            }
        }

        &-clear {
            position: absolute;
            display: flex;
            align-items: center;
            top: 0;
            right: 0;
            color: var(--cl-grey);
            fill: var(--cl-grey);
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;

            @media (--tablet) {
                position: static;
                margin: calc(var(--gs) * 3) auto;

                @supports (position: initial) {
                    position: initial;
                }
            }
        }

        &-body {
            position: relative;
            flex: 1;

            @media (--desktop) and (--tablet-lg-min) {
                max-width: calc(100% - 320px);
            }

            @media (--tablet-lg-min) {
                padding-bottom: calc(var(--gs) * 7);
            }

            @media (--tablet-lg) {
                width: 100%;
            }

            .v-tabs__header {
                @media (--tablet) {
                    margin: 0 calc(var(--gs) * 2);
                }
            }

            .v-tabs__header-item + .v-tabs__header-item {
                margin-left: calc(var(--gs) * 7);
            }

            .v-tabs__panel {
                padding-top: calc(var(--gs) * 3);

                @media (--tablet) {
                    padding-bottom: 0;
                }
            }
        }

        &-products {
            &-alert {
                display: flex;
                align-items: center;
                padding: calc(var(--gs) * 2) calc(var(--gs) * 3);
                background-color: var(--cl-elem-grey);
                margin-bottom: calc(var(--gs) * 2);

                @media (--tablet) {
                    padding: calc(var(--gs) * 2);
                }

                .icon {
                    margin-right: calc(var(--gs) * 2);
                }
            }

            &-list {
                &-item {
                    transition: all 0.5s;
                    margin-bottom: calc(var(--gs) * 3);

                    @media (--tablet) {
                        margin-bottom: calc(var(--gs) * 2);
                        padding-bottom: var(--gs);
                        border-bottom: 1px solid var(--cl-divider-grey);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &-sticky {
            margin-left: calc(var(--gs) * 3);
            flex-basis: calc(100% / 3);
            max-width: 392px;

            @media (--desktop) {
                min-width: 320px;
            }

            @media (--tablet-lg) {
                max-width: 100%;
                flex-basis: 100%;
                margin-left: 0;
            }

            .v-sticky__container {
                top: calc(var(--gs) * 2);
            }
        }

        &-panel {
            padding: calc(var(--gs) * 5);
            background-color: var(--cl-elem-grey);

            @media (--desktop) {
                padding: calc(var(--gs) * 2);
            }

            @media (--tablet) {
                padding: calc(var(--gs) * 3) calc(var(--gs) * 2);
            }

            &-info {
                margin-bottom: calc(var(--gs) * 2);
            }

            &-line {
                display: flex;
                justify-content: space-between;
            }

            &-total {
                margin: calc(var(--gs) * 3) 0;
            }

            &-promo {
                display: flex;
                margin-bottom: calc(var(--gs) * 2);

                &--success {
                    background-color: var(--cl-divider-grey);
                    padding: var(--gs) calc(var(--gs) * 2);
                }

                &--success &-icon {
                    margin-right: var(--gs);
                }

                &--success &-link {
                    text-transform: none;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: normal;
                    color: var(--cl-grey);
                }

                &-btn {
                    padding: 6px calc(var(--gs) * 2);
                }

                &-input {
                    flex: 1;
                    margin-right: var(--gs);

                    .v-input__error {
                        display: none;
                    }
                }
            }

            &-submit {
                width: 100%;
            }
        }
    }
}
