.popular-brands {
    &__most-popular {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: calc(var(--gs) * 8);
        grid-gap: calc(var(--gs) * 6);
        margin-bottom: calc(var(--gs) * 10);

        @media (--tablet-lg) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin-bottom: calc(var(--gs) * 3);
        }

        @media (--tablet) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: calc(var(--gs) * 2);
        }

        &-img {
            position: relative;
            border-bottom: none;
            max-width: 144px;
            background-color: var(--cl-white);

            @media (--tablet-lg) {
                margin: 0 5% 10%;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--cl-global);
                opacity: 0.03;
            }

            .v-picture {
                height: 100%;

                &__img {
                    height: auto;
                    font-family: 'object-fit: contain;';

                    @supports (object-fit: contain) {
                        font-family: inherit;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    &__list {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        &-item {
            font-size: 18px;
            line-height: 32px;
            margin: 0 calc(var(--gs) * 3);
            margin-bottom: var(--gs);
            color: var(--cl-grey);

            @media (--tablet) {
                margin: var(--gs);
            }
        }

        &-btn {
            text-transform: none;
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
    }

    &__link {
        border-bottom: none;
    }
}
