.popular-brands {
    &__most-popular {
        flex-wrap: wrap;
        display: flex;
        margin: 0 calc(var(--gs) * -3);

        @media (--tablet) {
            justify-content: space-between;
            margin: 0;
        }

        &-img {
            position: relative;
            border-bottom: none;
            background-color: var(--cl-white);

            width: calc(calc(100% / 6) - calc(var(--gs) * 6));
            margin: 0 calc(var(--gs) * 3) calc(var(--gs) * 4);

            @media (--tablet-lg) {
                width: calc(calc(100% / 3) - calc(var(--gs) * 13.5));
                margin: 0 calc(var(--gs) * 6.75) calc(var(--gs) * 4);
            }

            @media (--tablet) {
                width: calc(calc(100% / 2) - var(--gs));
                margin: 0 0 calc(var(--gs) * 2);
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--cl-global);
                opacity: 0.03;
            }

            .v-picture {
                height: 100%;

                &__img {
                    height: auto;
                    font-family: 'object-fit: contain;';

                    @supports (object-fit: contain) {
                        font-family: inherit;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    &__list {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-top: calc(var(--gs) * 6);

        @media (--tablet) {
            padding-top: var(--gs);
        }

        &-item {
            font-size: 18px;
            line-height: 32px;
            margin: 0 calc(var(--gs) * 3);
            margin-bottom: var(--gs);
            color: var(--cl-grey);

            @media (--tablet) {
                margin: var(--gs);
            }
        }

        &-btn {
            text-transform: none;
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
    }

    &__link {
        border-bottom: none;
    }
}
