.referal-view {
    &__hl {
        margin-bottom: calc(var(--gs) * 3);
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (--tablet-lg) {
            display: none;
        }
    }

    &__section {
        &-header {
            display: flex;
            align-items: center;
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet-lg) {
                margin-bottom: calc(var(--gs) * 2);
            }
        }

        &-hl {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 0;
        }

        &-filter {
            max-width: 288px;
            margin-left: auto;
        }
    }

    &__panels {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc(var(--gs) * 5);

        @media (--tablet-lg) {
            flex-wrap: wrap;
        }
    }

    &__panel {
        display: flex;
        width: calc(50% - var(--gs));
        background-color: var(--cl-elem-grey);
        padding: calc(var(--gs) * 4) calc(var(--gs) * 3);

        @media (--tablet) {
            padding: calc(var(--gs) * 2);
        }

        &:first-child {
            flex-wrap: wrap;

            @media (--desktop-lg) and (--tablet-lg-min) {
                width: calc(55% - var(--gs));
            }

            @media (--desktop) {
                width: calc(50% - var(--gs));
            }

            @media (--tablet-lg) {
                width: 100%;
            }
        }

        &:last-child {
            padding: 0 calc(var(--gs) * 7);
            padding-top: calc(var(--gs) * 3);
            padding-bottom: calc(var(--gs) * 2);
            align-items: center;
            justify-content: space-between;

            @media (--desktop-lg) and (--desktop-min) {
                width: calc(45% - var(--gs));
                padding: 0 calc(var(--gs) * 3);
                padding-top: calc(var(--gs) * 3);
            }

            @media (--desktop) {
                width: calc(50% - var(--gs));
                padding: calc(var(--gs) * 4) calc(var(--gs) * 3);
            }

            @media (--tablet-lg) {
                justify-content: space-around;
                padding-top: 0;
                width: 100%;
            }

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
            }
        }

        &--empty {
            justify-content: flex-start !important;
            padding: calc(var(--gs) * 3) !important;

            @media (--tablet) {
                padding: calc(var(--gs) * 2) !important;
            }
        }

        &--empty &-item {
            align-items: flex-start !important;
        }

        &-item {
            &-label {
                font-size: 12px;
                line-height: 16px;
                display: flex;
                justify-content: space-between;
                padding: 0 calc(var(--gs) * 2) var(--gs);
                margin-top: calc(var(--gs) * -1);
            }

            &-counter {
                width: 120px;
            }
        }

        &:first-child &-item {
            &:nth-child(1),
            &:nth-child(2) {
                width: 50%;
                margin-bottom: calc(var(--gs) * 2);

                @media (--desktop) and (--tablet-lg-min) {
                    width: 100%;
                }

                @media (--tablet) {
                    width: 100%;
                }
            }
        }

        &:last-child &-item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: none;
            text-align: center;

            &:first-of-type {
                text {
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                }
            }

            &:last-of-type {
                text {
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 26px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                }
            }
        }

        &-level {
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }

        &-link {
            margin-top: auto;
        }
    }

    &__graph {
        position: relative;
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet-lg) {
            margin-bottom: calc(var(--gs) * 4);
        }
    }

    &__filter-btn {
        @media (--tablet-lg-min) {
            display: none;
        }

        @media (--tablet-lg) {
            width: 100%;
        }
    }

    &__table {
        border: none;
        border-collapse: collapse;
        margin-bottom: calc(var(--gs) * 4);

        &-link {
            display: flex;
            border-bottom: none;
        }

        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            margin-right: var(--gs);
            width: calc(var(--gs) * 5);
            height: calc(var(--gs) * 5);

            &--empty {
                background-color: var(--cl-elem-grey);
            }

            .icon {
                opacity: 0.1;
            }
        }

        &-title {
            flex: 1;
        }

        &-tr {
            border-bottom: 1px solid var(--cl-divider-grey);

            &--header {
                border-top: 1px solid var(--cl-divider-grey);
                padding: calc(var(--gs) / 4) 0;
            }
        }

        &-th,
        &-td {
            font-weight: normal;
            text-align: center;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }

        &-td {
            padding: var(--gs) 0;

            &:first-child {
                display: flex;
                text-align: left;
                padding-right: calc(var(--gs) * 2);
            }
        }

        &-th {
            font-size: 14px;
            line-height: 24px;
            color: var(--cl-grey);

            &:first-child {
                .referal-view__table-sort {
                    justify-content: flex-start;
                }
            }

            &:last-child {
                .referal-view__table-sort {
                    justify-content: flex-end;
                }
            }

            &.is-active {
                .referal-view__table-sort {
                    fill: var(--cl-global);
                    color: var(--cl-global);
                }
            }

            &.is-rotate {
                .icon {
                    transform: rotate(180deg);
                }
            }
        }

        &-sort {
            display: flex;
            align-items: center;
            fill: var(--cl-grey);
            justify-content: center;
            cursor: pointer;

            .icon {
                margin-top: calc(var(--gs) * 0.25);
                vertical-align: middle;
            }
        }
    }

    &__list {
        margin-bottom: calc(var(--gs) * 2);

        &-item {
            padding: calc(var(--gs) * 3);
            border-bottom: 1px solid var(--cl-divider-grey);

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
            }

            &-row {
                display: flex;

                @media (--tablet) {
                    flex-direction: column;
                }

                & + & {
                    margin-top: var(--gs);
                }

                &:first-of-type {
                    @media (--tablet-lg) {
                        flex-direction: column;
                    }

                    .info-row__name {
                        margin-bottom: calc(var(--gs) / 2);
                    }
                }

                &:first-of-type + & {
                    margin-top: calc(var(--gs) * 1.5);
                }
            }
        }
    }

    &__controls {
        text-align: center;

        &-btn {
            width: 100%;
        }
    }

    &__attention {
        &-panel {
            flex-wrap: nowrap;
            align-items: flex-start;
            fill: var(--cl-grey);
            padding-top: calc(var(--gs) * 4);

            @media (--tablet) {
                flex-wrap: wrap;
                justify-content: center;
            }

            & > .attention-panel__icon {
                margin-top: calc(var(--gs) * 1.5);

                @media (--tablet) {
                    margin-top: 0;
                    margin-bottom: calc(var(--gs) * 1.5);
                }
            }
        }

        &-link {
            text-transform: none;
            text-decoration: underline;
            font-weight: normal;
            font-size: 16px;
        }
    }

    &__modal-filter {
        &-sort {
            padding: calc(var(--gs) * 3);

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
            }

            &-title {
                font-size: 20px;
                margin-bottom: calc(var(--gs) * 2);
                font-weight: 500;
            }

            &-item {
                line-height: calc(var(--gs) * 4);

                & + & {
                    margin-top: var(--gs);
                }

                &--active {
                    font-weight: bold;
                }
            }

            &-btn {
                text-transform: inherit;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
            }
        }

        &-controls {
            @media (--tablet-lg) {
                position: fixed;
                bottom: 0;
                left: 0;
                display: flex;
                width: 100%;
                z-index: 1;
                padding: calc(var(--gs) * 1.5) calc(var(--gs) * 2);
                background-color: var(--cl-global-invert);
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            }
        }

        &-clear-btn {
            &:hover {
                @media (--tablet-lg) {
                    color: var(--cl-global);
                    background: var(--cl-global-invert);
                }
            }
            @media (--tablet-lg) {
                margin-bottom: 0;
                width: auto;
                padding: 0;
                margin: 6px calc(var(--gs) * 2);
                border: none;
                border-bottom: 2px solid var(--cl-global);
            }
        }

        &-close-btn {
            @media (--tablet-lg) {
                width: 100%;
            }
        }
    }

    &__orders-null {
        margin-bottom: calc(var(--gs) * 17);

        @media (--tablet-lg) {
            margin-bottom: 0;
        }
    }
}
