.referal-view {
    &__hl {
        margin-bottom: calc(var(--gs) * 3);
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    &__section {
        &-hl {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: calc(var(--gs) * 3);
        }
    }

    &__panels {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc(var(--gs) * 5);
    }

    &__panel {
        display: flex;
        width: calc(50% - var(--gs));
        background-color: var(--cl-elem-grey);
        padding: calc(var(--gs) * 4) calc(var(--gs) * 3);

        &:first-child {
            flex-wrap: wrap;
        }

        &:last-child {
            padding: 0 calc(var(--gs) * 7);
            padding-top: calc(var(--gs) * 3);
            padding-bottom: calc(var(--gs) * 2);

            align-items: center;
            justify-content: space-between;

            @media (--desktop) {
                padding: calc(var(--gs) * 4) calc(var(--gs) * 3);
            }
        }

        &-item {
            flex: 1;

            &-label {
                font-size: 12px;
                line-height: 16px;
                display: flex;
                justify-content: space-between;
                padding: 0 calc(var(--gs) * 2) var(--gs);
                margin-top: calc(var(--gs) * -1);
            }
        }

        &:last-child &-item {
            flex: none;
            text-align: center;
            width: 120px;

            &:first-of-type {
                text {
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                }
            }

            &:last-of-type {
                text {
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 26px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                }
            }
        }

        &-level {
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    }

    &__graph {
        position: relative;
        margin-bottom: calc(var(--gs) * 7);
    }

    &__table {
        border: none;
        border-collapse: collapse;
        margin-bottom: calc(var(--gs) * 4);

        &-img {
            width: 40px;
            height: 40px;
            align-self: center;
            margin-right: var(--gs);
        }

        &-title {
            flex: 1;
        }

        &-tr {
            border-bottom: 1px solid var(--cl-divider-grey);

            &--header {
                border-top: 1px solid var(--cl-divider-grey);
                padding: calc(var(--gs) / 4) 0;
            }
        }

        &-th,
        &-td {
            font-weight: normal;
            text-align: center;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }

        &-td {
            padding: var(--gs) 0;

            &:first-child {
                display: flex;
                text-align: left;
                padding-right: calc(var(--gs) * 2);
            }
        }

        &-th {
            font-size: 14px;
            line-height: 24px;
            color: var(--cl-grey);

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-btn {
            width: 100%;
        }
    }
}
