.master-class-card {
    display: flex;

    @media (--tablet) {
        flex-direction: column;
    }

    &--small {
        flex-direction: column;
    }

    &__img {
        position: relative;
        display: flex;
        width: calc(100% / 3);
        background: var(--cl-elem-grey);
        margin-right: calc(var(--gs) * 3);
        border-bottom: none;

        @media (--tablet) {
            width: 100%;
            margin-right: 0;
        }

        .v-picture {
            width: 100%;
            height: 100%;
        }

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 100%;
                padding-bottom: 0;
            }
        }

        .icon {
            margin: auto;
            opacity: 0.1;
        }

        &-discount {
             background: var(--cl-black);
             color: var(--cl-white);
             padding: 2px 4px;
             font-size: .625rem;
             letter-spacing: .04em;
             font-weight: 500;
             line-height: 1rem;
             position: absolute;
             top: 10px;
             left: 20px;
         }
    }

    &__mobile-cart-btn {
        position: absolute;
        bottom: 8px;
        right: 12px;
        z-index: 2;

        .icon {
            opacity: 1!important;
        }

        &-white {
            background: var(--cl-white);
            padding: 5px 5px 0 5px;
            border-radius: 5px;
         }
    }

    &--small &__img {
        width: 100%;
        margin-right: 0;

        &::after {
            content: '';
            display: block;
            padding-bottom: 61%;

            @media (--tablet) {
                padding-bottom: 61%;
            }

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 61%;
                padding-bottom: 0;

                @media (--tablet) {
                    margin-top: 61%;
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: calc(var(--gs) * 2) 0;

        @media (--tablet) {
            padding: calc(var(--gs) * 2);
            text-align: center;
        }

        &-top {
            display: flex;
            margin-bottom: calc(var(--gs) * 2);

            @media (--tablet) {
                flex-direction: column;
                margin-bottom: 0;
            }
        }

        &-bottom {
            width: 100%;

            @media (--tablet) {
                order: 1;
                margin-bottom: var(--gs);
            }
        }

        &-link {
            flex: 1;
            font-weight: Bold;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.02em;

            @media (--tablet) {
                width: 100%;
                margin-bottom: var(--gs);
                font-size: 16px;
                line-height: 24px;
                font-weight: normal;
            }

            &-name {
                flex-grow: 1;
                overflow: hidden;

                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                transform: translateZ(0);
            }
        }

        &-prices {
            text-align: right;
            padding-left: calc(var(--gs) * 2);

            @media (--tablet) {
                width: 100%;
                padding-left: 0;
                margin-bottom: var(--gs);
                text-align: center;
            }
        }
        &-prices-installment {
            display: flex;
            justify-content: center;
         }
        &-price {
            font-size: 20px;
            line-height: 24px;

            @media (--tablet) {
                font-size: 16px;
                line-height: 24px;
                margin-right: var(--gs);
            }

            &--old {
                font-size: 14px;
                line-height: 24px;

                @media (--tablet) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }

    &--small &__body {
        padding: calc(var(--gs) * 2);
        text-align: center;

        &-top {
            flex-direction: column;
            margin-bottom: calc(var(--gs) * 2);
        }

        &-bottom {
            order: 1;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }

        &-link {
            width: 100%;
            margin-bottom: var(--gs);
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: none;
        }

        &-prices {
            width: 100%;
            padding-left: 0;
            text-align: center;
        }

        &-price {
            font-size: 16px;
            line-height: 24px;
            margin-right: var(--gs);

            &--old {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
