.recently-viewed-product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: none;

    &__img {
        display: flex;
        position: relative;
        width: 100%;
        padding: calc(var(--gs) * 4);
        border-bottom: 0.5px solid transparent;
        flex: none;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 100%;
                padding-bottom: 0;
            }
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--cl-global);
            opacity: 0.03;
        }

        @media (--tablet) {
            padding: var(--gs) 0;
        }

        .v-picture {
            width: 100%;
            height: 100%;
        }

        .icon {
            margin: auto;
            /*opacity: 0.1;*/
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: calc(var(--gs) * 2);
        flex-grow: 1;

        @media (--tablet) {
            padding: var(--gs);
        }
    }

    &__title {
        text-transform: none;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        transform: translateZ(0);
    }
}
