.details-modal {
    .modal-body {
        padding: calc(var(--gs) * 3);

        @media (--tablet) {
            padding: 0;
        }
    }

    &__hl {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;

        @media (--tablet) {
            display: none;
        }
    }

    &__disclaimer {
        display: block;
        margin-bottom: calc(var(--gs) * 2);
        color: var(--cl-grey);

        @media (--tablet) {
            margin: 0 calc(var(--gs) * 2);
            margin-top: calc(var(--gs) * 2);
        }
    }

    &__form {
        @media (--tablet-min) {
            display: flex;
            flex-wrap: wrap;
        }

        @media (--tablet) {
            height: 100%;
            padding: calc(var(--gs) * 2);
        }

        &-row {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media (--tablet) {
                flex-wrap: wrap;
            }
        }

        &-column {
            width: calc(50% - calc(var(--gs) * 1.5));

            @media (--tablet) {
                width: 100%;
            }
        }

        &-textarea {
            height: 288px;
            display: flex;
            flex-direction: column;

            @media (--tablet-min) {
                height: 100%;
            }

            .v-input__container {
                height: 100%;
            }
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: center;

        @media (--tablet) {
            position: sticky;
            bottom: 0;
            padding: var(--gs) calc(var(--gs) * 2);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            background-color: var(--cl-white);
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
