:root {
    --v-spinner-offset: 126px;
    --v-spinner-duration: 1.4s;
}

.v-spinner {
    transition: opacity 0.15s ease;
    animation: rotator var(--v-spinner-duration) linear infinite;
    animation-play-state: paused;

    &.show {
        animation-play-state: running;
    }

    &.v-enter,
    &.v-leave-active {
        opacity: 0;
    }

    &.v-enter-active,
    &.v-leave {
        opacity: 1;
    }
}

@keyframes rotator {
    0% {
        transform: scale(0.5) rotate(0deg);
    }

    100% {
        transform: scale(0.5) rotate(270deg);
    }
}

.v-spinner .path {
    stroke: var(--cl-global);
    stroke-dasharray: var(--v-spinner-offset);
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash var(--v-spinner-duration) ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: var(--v-spinner-offset);
    }

    50% {
        stroke-dashoffset: calc(var(--v-spinner-offset) / 2);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: var(--v-spinner-offset);
        transform: rotate(450deg);
    }
}
