.documents-view {
    &__hl {
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__sort {
        width: 30%;

        .multiselect__error {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 calc(var(--gs) * -1.5);

        &-item {
            width: calc(calc(100% / 3) - calc(var(--gs) * 3));
            margin: 0 calc(var(--gs) * 1.5);
            margin-top: calc(var(--gs) * 3);
        }
    }
}
