.info-pages-block {
    margin: calc(var(--gs) * 5) auto calc(var(--gs) * 7);

    @media (--tablet-lg) {
        margin: calc(var(--gs) * 3) auto calc(var(--gs) * 7);
    }

    &__delivery-link {
        text-transform: none !important;
        color: var(--cl-red);
        font-weight: bold;
    }

    &__title {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @media (--tablet) {
            font-size: 24px;
            line-height: 32px;

            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
    }

    &__table {
        margin: calc(var(--gs) * 4) 0;

        th,
        td {
            &:nth-child(n + 2) {
                text-align: center;
            }
        }

        &-no-mb {
             margin-bottom: 0;
         }

         &-small-text {
            font-size: 14px;
            margin-bottom: 30px !important;
          }
    }

    &__card {
        padding: calc(var(--gs) * 3);
        border-bottom: 1px solid var(--cl-divider-grey);

        &:first-of-type {
            border-top: 1px solid var(--cl-divider-grey);
            margin-top: calc(var(--gs) * 3);
        }

        &:last-of-type {
            margin-bottom: calc(var(--gs) * 3);
        }

        .info-row {
            &__name {
                margin-bottom: 0;
            }
        }

        .info-row + .info-row {
            margin-top: var(--gs);
        }
    }

    &__content {
        p {
            line-height: 24px;
            margin: var(--gs) 0;
        }
    }
}
