.search-panel {
    border-top: 1px solid var(--cl-divider-grey);
    padding-top: calc(var(--gs) * 2.5);
    overflow-x: hidden;
    overflow-y: auto;

    &__container {
        display: flex;

        @media (--tablet-lg) {
            flex-direction: column;
        }
    }

    &__hl {
        margin-bottom: 0;
        line-height: 32px;
    }

    &__categories {
        width: 288px;
        @media (--tablet-lg) {
            margin-bottom: calc(var(--gs) * 2);
        }

        &-list {
            line-height: 32px;
            overflow: hidden;
        }

        &-link {
            font-size: 14px;
            line-height: 24px;
            text-transform: none;
        }

        @media (--tablet-lg) {
            width: 100%;
        }
    }

    &__products {
        display: flex;
        flex-direction: column;
        width: calc(100% - 288px);

        @media (--tablet-lg) {
            width: 100%;
        }

        &-hl {
            margin-bottom: calc(var(--gs) * 2);
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
        }

        &-slider {
            width: 100%;
        }

        &-card {
            width: calc(100% / 7);

            @media (--desktop) {
                width: calc(100% / 6);
            }
        }
    }

    .item-move,
    .item-enter-active,
    .item-leave-active {
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .item-enter {
        opacity: 0;
        transform: translate(30px, 0);
    }

    .item-leave-active {
        position: absolute;
        opacity: 0;
        transform: translate(30px, 0);
    }
}
