.general-modal {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .modal-body {
        position: relative;

        @media (--tablet-lg) {
            padding: 0;
        }
    }

    &__sticky {
        width: 100%;

        .v-sticky__container {
            z-index: 1000;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        background-color: var(--cl-global);
        padding-top: calc(var(--gs) * 1.5);
        padding-bottom: calc(var(--gs) * 1.5);

        @media (--tablet-lg) and (--tablet-min) {
            color: var(--cl-white);
            fill: var(--cl-white);
            padding-top: calc(var(--gs) * 2.5);
            padding-bottom: calc(var(--gs) * 2.5);
        }

        &-btn {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            .icon {
                margin-right: calc(var(--gs) * 1.5);
            }
        }
    }
}
