.city-confirmation-panel {
    &__header,
    &__controls {
        display: flex;
        align-items: center;
    }

    &__header {
        margin-bottom: calc(var(--gs) * 3);

        &-hl {
            margin-bottom: 0;
        }

        &-close {
            display: flex;
            margin-left: auto;
        }
    }

    &__controls {
        &-btn {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.05em;

            &:first-of-type {
                padding: 10px calc(var(--gs) * 2);
                margin-right: calc(var(--gs) * 3);
            }
        }
    }
}
