.search-filter {
    display: flex;
    align-items: center;
    transition: width var(--time) var(--timing-function);

    &--active {
        width: 100% !important;

        @media (--tablet-lg-min) {
            margin-top: calc(var(--gs) * 5);
        }
    }

    &__label {
        display: flex;
        cursor: pointer;
        flex: none;
    }

    input[type='text'] {
        font-family: var(--base-font);
        margin-left: var(--gs);
        font-size: 16px;
        line-height: 24px;
        border: 0;
        padding: var(--gs);

        &::placeholder {
            font-weight: bold;
            text-transform: uppercase;
            color: var(--cl-global);
            opacity: 1;
            letter-spacing: 0.02em;
        }

        &:focus {
            outline: none;
        }
    }

    &--active input[type='text'] {
        width: 100%;

        &::placeholder {
            font-weight: normal;
            opacity: 0.6;
        }
    }

    &__clear {
        display: none;
        height: 24px;
        margin-left: calc(var(--gs) * 1.5);
    }

    &--active &__clear {
        display: block;
    }
}
