.checkout-option-card {
    padding: calc(var(--gs) * 3);
    border: 1px solid var(--cl-divider-grey);
    width: calc(calc(100% / 2) - calc(var(--gs) * 3 / 2));
    display: flex;
    transition: all var(--time) ease-in;
    min-height: 120px;

    @media (--desktop) {
        padding: calc(var(--gs) * 2);
    }

    @media (--tablet-lg) {
        width: 100%;
    }

    &--selected {
        border-color: var(--cl-global);
    }

    &--error {
        border-color: var(--cl-status-error);
    }

    &--error &__left p {
        color: var(--cl-status-error);
    }

    &--selected &__right {
        .icon {
            opacity: 1;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &__left {
        flex: 1;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: calc(var(--gs) * 2);

        &-selected {
            opacity: 0;
        }

        &-link {
            font-size: 14px;
            line-height: 24px;
            color: var(--cl-grey);
            text-transform: none;

            &:not(:last-child) {
                margin-right: calc(var(--gs) * 2);
            }
        }
    }

    &__controls {
        display: flex;
    }

    p {
        margin-bottom: 0;
    }
}
