.v-header {
    height: auto;

    &--masked {
        height: 100%;
    }

    &__city-confirm {
        height: 0;
        transform: translateX(calc(var(--gs) * 20));

        .v-popover {
            height: 0;
        }
    }

    &__middle {
        &-search-panel {
            width: 100%;
            height: 100%;
        }
    }

    &__mask {
        border-top: 1px solid var(--cl-divider-grey);
        background-color: rgba(0, 0, 0, 0.8);
        flex: 1;
        max-height: 100%;
        overflow: auto;
    }
}
