:root {
    --header-top-bg: #e4e4e4;
}

.v-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    &__desktop {
        @media (--tablet-lg) {
            display: none;
        }
    }

    &__mobile {
        background-color: var(--cl-global);
        fill: var(--cl-white);

        @media (--tablet-lg-min) {
            display: none;
        }
    }

    &__mobile &__bottom {
        height: inherit;
        line-height: inherit;

        &-search {
            fill: var(--cl-global);
            color: var(--cl-global);
        }

        &-container {
            display: flex;
            padding: 0 var(--gs);
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(var(--gs) * 5);
            width: calc(var(--gs) * 5);
        }

        &-left,
        &-right {
            display: flex;
            flex: 1;
        }

        &-left {
            justify-content: flex-start;
        }

        &-right {
            justify-content: flex-end;
        }
    }

    &--scroll &__top {
        display: none;

        @supports (grid-template-columns: auto) {
            display: block;
            height: 0;
        }
    }

    &--scroll &__middle {
        height: calc(var(--gs) * 6);
        line-height: calc(var(--gs) * 6);
    }

    &--scroll &__bottom {
        height: calc(var(--gs) * 6);
        line-height: calc(var(--gs) * 6);

        @media (--tablet-lg) {
            height: inherit;
            line-height: inherit;
        }
    }

    &--search &__mobile {
        background: var(--cl-white);
        border-bottom: 1px solid var(--cl-divider-grey);

        &-container {
            padding: 0 calc(var(--gs) * 3);
        }
    }

    &__top {
        background-color: var(--header-top-bg);
        height: 30px;
        line-height: 30px;
        transition: height var(--time) var(--timing-function);
        overflow: hidden;

        &-container,
        &-city,
        &-help,
        &-middle,
        &-middle-item {
            display: flex;
            align-items: center;
        }

        &-help,
        &-city {
            text-transform: none;
            font-size: inherit;
            font-weight: bold;
        }

        &-container {
            height: 100%;
            justify-content: space-between;
        }

        &-middle-item {
            & + & {
                margin-left: calc(var(--gs) * 4);
            }

            .icon {
                margin-right: var(--gs);
            }
        }
    }

    &__middle {
        position: relative;
        background-color: var(--cl-white);
        height: calc(var(--gs) * 11);
        line-height: calc(var(--gs) * 11);

        &-container,
        &-search,
        &-cart,
        &-cart-sum,
        &-middle,
        &-middle-item {
            display: flex;
            align-items: center;
        }

        &-search {
            position: relative;
            width: 112px;
        }

        &-container {
            height: 100%;
            justify-content: space-between;
        }

        &-middle {
            flex-direction: column;
            text-transform: uppercase;

            &-text {
                font-size: 10px;
                line-height: 14px;
                font-style: italic;
            }
        }

        &-cart {
            flex-direction: column;
            line-height: 30px;

            &-sum {
                align-self: flex-end;
            }

            &-discount {
                font-size: 10px;
                align-self: flex-end;
            }
        }
    }

    &__bottom {
        padding: calc(var(--gs) / 2);
        background-color: var(--cl-global);

        &-container,
        &-inner {
            display: flex;
            align-items: center;
        }

        &-container {
            height: 100%;
        }

        &-inner {
            flex: 1;
            padding: var(--gs) 0;
            justify-content: space-between;
        }

        &-search {
            height: calc(var(--gs) * 5);
        }

        &-link {
            text-transform: uppercase;
            color: var(--cl-white);
        }
    }
}
