.order-masterclass-card {
    display: flex;

    @media (--tablet) {
        align-items: flex-start;
    }

    &--returned &__img {
        opacity: 0.3;
    }

    &--returned &__body {
        &-name,
        &-count,
        &-prices,
        &-price,
        &-info,
        &-controls {
            opacity: 0.3;
        }
    }

    &__img {
        position: relative;
        display: flex;
        width: 36%;
        max-width: 144px;
        max-height: 96px;
        background: var(--cl-elem-grey);
        margin-right: calc(var(--gs) * 3);
        border-bottom: none;

        @media (--tablet) {
            margin-right: var(--gs);
        }

        &::after {
            content: '';
            display: block;
            padding-bottom: 67%;

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 67%;
                padding-bottom: 0;
            }
        }

        .v-picture {
            width: 100%;
        }

        .icon {
            margin: auto;
            opacity: 0.1;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        flex: 1;

        @media (--tablet) {
            padding-right: calc(var(--gs) * 2);
        }

        &-name {
            order: 0;
            width: 50%;
            text-transform: none;
            font-weight: bold;
            margin-bottom: calc(var(--gs) * 2);

            @media (--tablet) {
                width: 100%;
                font-size: 16px;
                line-height: 24px;
                font-weight: normal;
            }
        }

        &-count {
            text-align: right;
            @media (--tablet) {
                display: none;
            }
        }

        &-download,
        &-count {
            order: 1;
            width: 15%;

            .v-counter {
                padding-bottom: calc(var(--gs) * 2);

                @media (--desktop) {
                    height: 32px;
                    padding-bottom: var(--gs);
                }

                @media (--tablet) {
                    padding-bottom: 0;
                }

                &__btn {
                    @media (--desktop) {
                        padding: 0;
                    }
                }

                input[type='number'] {
                    width: 32px;
                }
            }
        }

        &-download {
            text-align: center;

            @media (--tablet) {
                order: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                margin-bottom: var(--gs);
            }

            &-link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: var(--gs);

                span {
                    text-transform: none;
                    text-decoration: underline;
                }
            }
        }

        &-prices {
            display: flex;
            flex-direction: column;
            order: 2;
            width: 20%;
            text-align: right;
            padding-left: calc(var(--gs) * 2);

            @media (--tablet) {
                width: 100%;
                padding-left: 0;
                margin-bottom: var(--gs);
                align-items: flex-end;
            }
        }

        &-price {
            font-size: 20px;
            line-height: 24px;

            @media (--tablet) {
                font-size: 16px;
                line-height: 24px;
                margin-right: var(--gs);
            }

            &--old {
                font-size: 14px;
                line-height: 24px;

                @media (--tablet) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        &-info {
            order: 3;
            width: 50%;

            @media (--tablet) {
                width: 100%;
                line-height: 24px;
                order: 0;
                margin-bottom: var(--gs);
            }
        }

        &-controls {
            order: 4;
            display: flex;

            @media (--tablet-min) {
                align-items: flex-end;
            }

            @media (--tablet) {
                justify-content: flex-end;
                width: 50%;
            }

            &-link {
                display: flex;
                align-items: center;
                color: var(--cl-grey);
                fill: var(--cl-grey);
                text-transform: none;
                font-size: 14px;
                line-height: 24px;
                font-weight: normal;
                transition: none;

                @media (--tablet) {
                    justify-content: flex-end;
                    width: calc(var(--gs) * 4);
                }

                & + & {
                    margin-left: calc(var(--gs) * 2);

                    @media (--tablet) {
                        margin-left: 0;
                    }
                }

                .icon {
                    margin-right: var(--gs);

                    @media (--tablet) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
