@import '../../../../node_modules/flatpickr/dist/flatpickr.css';

/*
Переопределение стилей плагина flatpickr:
https://flatpickr.js.org/

Повторяет структуру исходной таблицы стилей:
\node_modules\flatpickr\src\style\flatpickr.styl

Календарю проставляется минимальная ширина контентной области.
Расчёт размеров ячеек идёт от этой ширины.

Для инлайнового режима расчёт размеров прописан отдельно.
Предполагается, что ширина такого календаря - 100% и ячейки сжимаются на адаптиве.
Ограничение ширины через max-width также поддерживается.

Основные цвета для настройки вынесены в переменные.

Стилизация не учитывает блоки с неделями и временем.
При необходимости стили для них придётся прописать отдельно.
*/

:root {
    /* Ширина календаря (320px - поля страницы) */
    --flatpickr-calendar-width: calc((var(--gs) * 50) - (var(--gs) * 3) * 2);

    /* Ширина полей календаря */
    --flatpickr-calendar-padding: calc(var(--gs) * 2);

    /* Ширина контентной области: ширина календаря - ширина полей календаря */
    --flatpickr-content-width: calc(var(--flatpickr-calendar-width) - var(--flatpickr-calendar-padding) * 2);

    /* Высота строки с месяцами */
    --flatpickr-months-height: calc(var(--gs) * 4);

    /* Высота строки с днями недели */
    --flatpickr-weekdays-height: calc(var(--gs) * 4);

    /* Отступ между ячейками дней */
    --flatpickr-day-gutter: calc((var(--gs)) * 2);

    /* Ширина ячейки: (ширина контентной области - 6 внутренних отступов) / 7 - 1px (погрешность) */
    --flatpickr-day-width: calc((var(--flatpickr-content-width) - var(--flatpickr-day-gutter) * 6) / 7 - 1px);

    /* Высота ячейки: 80% от ширины */
    --flatpickr-day-height: calc(var(--gs) * 3);

    /* Размер поинтера календаря */
    --flatpickr-arrow-size: var(--gs);

    /* Ширина бордеров календаря */
    --flatpickr-calendar-bd-width: 1px;

    /* Ширина календаря в инлайновом режиме */
    --flatpickr-calendar-inline-width: 100%;

    /* Ширина ячейки в инлайновом режиме: (100% - 6 внутренних отступов) / 7 - 1px (погрешность) */
    --flatpickr-day-inline-width: calc((100% - var(--flatpickr-day-gutter) * 6) / 7 - 1px);

    /* Высота ячейки в инлайновом режиме (фиксированная, т.к. проценты для высоты не сработают) */
    --flatpickr-day-inline-height: calc(var(--gs) * 3);

    /* Цвет бордеров календаря */
    --flatpickr-calendar-bd: var(--cl-global);

    /* Цвет фона календаря */
    --flatpickr-calendar-bg: var(--cl-white);

    /* Цвет текста календаря */
    --flatpickr-calendar-cl: var(--cl-global);

    /* Цвет фона ячейки */
    --flatpickr-day-bg: var(--cl-white);

    /* Цвет текста ячейки */
    --flatpickr-day-cl: var(--cl-global);

    /* Цвет фона ячейки под ховером */
    --flatpickr-hover-bg: var(--cl-dark-blue);

    /* Цвет текста ячейки под ховером */
    --flatpickr-hover-cl: var(--cl-white);

    /* Цвет фона выбранной ячейки */
    --flatpickr-selected-bg: var(--cl-global);

    /* Цвет текста выбранной ячейки */
    --flatpickr-selected-cl: var(--cl-white);

    /* Цвет фона задизейбленной ячейки */
    --flatpickr-disabled-bg: transparent;

    /* Цвет фона задизейбленной ячейки */
    --flatpickr-disabled-cl: var(--cl-grey);

    /* Цвет фона ячейки в диапазоне */
    --flatpickr-range-bg: var(--cl-grey);

    /* Цвет текста ячейки в диапазоне */
    --flatpickr-range-cl: var(--cl-global);

    /* Цвет фона ячейки сегодняшнего дня */
    --flatpickr-today-bg: var(--cl-white);

    /* Цвет фона ячейки сегодняшнего дня */
    --flatpickr-today-cl: var(--cl-global);
}

.flatpickr-calendar {
    width: var(--flatpickr-calendar-width);
    padding: var(--flatpickr-calendar-padding);
    border: var(--flatpickr-calendar-bd-width) solid var(--flatpickr-calendar-bd);
    border-radius: 0;
    background-color: var(--flatpickr-calendar-bg);
    box-shadow: none;

    &::before {
        border-width: var(--flatpickr-arrow-size);
        margin: 0 calc(-1 * var(--flatpickr-arrow-size));
    }

    &::after {
        border-width: calc(var(--flatpickr-arrow-size) - var(--flatpickr-calendar-bd-width) - 1px);
        margin: 0 calc(-1 * var(--flatpickr-arrow-size) + var(--flatpickr-calendar-bd-width) + 1px);
    }

    &.arrowTop {
        margin-top: -4px;
        &::before {
            border-bottom-color: var(--flatpickr-calendar-bd);
        }
        &::after {
            border-bottom-color: var(--flatpickr-calendar-bg);
        }
    }

    &.arrowBottom {
        border-radius: 5px 5px 0 0;

        /* Смещение календаря относительно инпута для комфортного ручного ввода */
        margin-top: -9px;

        &::before {
            border-top-color: var(--flatpickr-calendar-bd);
        }

        &::after {
            border-top-color: var(--flatpickr-calendar-bg);
        }
    }

    &.open,
    &.inline {
        max-height: none;
    }

    &.inline {
        width: var(--flatpickr-calendar-inline-width);
    }
}

.flatpickr-months {
    position: relative;
    height: var(--flatpickr-months-height);
    margin-bottom: calc(var(--gs) * 2);

    .flatpickr-month {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--flatpickr-months-height);
        color: var(--flatpickr-calendar-cl);
        fill: var(--flatpickr-calendar-cl);
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--flatpickr-months-height);
        height: 100%;
        padding: 0;
        color: var(--flatpickr-calendar-cl);
        fill: var(--flatpickr-calendar-cl);

        &.flatpickr-disabled {
            /* Перекрываем display: none, который не подходит для статичного позиционирования */
            display: flex;
            visibility: hidden;
            opacity: 0;
        }

        &.flatpickr-prev-month,
        &.flatpickr-next-month {
            svg {
                width: calc(var(--gs) * 3);
                height: calc(var(--gs) * 3);
            }
        }

        &.flatpickr-next-month {
            .icon {
                /* Позволяет использовать одну иконку для двух элементов */
                transform: rotate(270deg);
            }
        }

        &.flatpickr-prev-month {
            .icon {
                /* Позволяет использовать одну иконку для двух элементов */
                transform: rotate(90deg);
            }
        }

        &:hover {
            .icon {
                fill: var(--cl-dark-blue);
            }
        }
    }
}
.flatpickr-current-month {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;

    span.cur-month {
        /* inline немного увеличивает полезную область под месяц, что повышает удобство скролла */
        display: inline;
        margin-left: 0;
    }

    input.cur-year {
        font-weight: 700;

        &[disabled] {
            color: inherit;
        }
    }
}

.flatpickr-weekdays {
    height: var(--flatpickr-weekdays-height);
}

span.flatpickr-weekday {
    flex-basis: var(--flatpickr-day-width);
    width: var(--flatpickr-day-width);
    max-width: var(--flatpickr-day-width);
    color: var(--flatpickr-calendar-cl);
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;

    .flatpickr-calendar.inline & {
        flex-basis: var(--flatpickr-day-inline-width);
        width: var(--flatpickr-day-inline-width);
        max-width: var(--flatpickr-day-inline-width);
    }

    &:not(:nth-child(7n)) {
        margin-right: var(--flatpickr-day-gutter);
    }

    &:not(:nth-last-child(-n + 7)) {
        margin-bottom: var(--flatpickr-day-gutter);
    }
}

.flatpickr-days {
    width: 100%;
}

.dayContainer {
    justify-content: flex-start;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.flatpickr-day {
    flex-basis: var(--flatpickr-day-width);
    width: var(--flatpickr-day-width);
    max-width: var(--flatpickr-day-width);
    height: var(--flatpickr-day-height);
    border: none;
    border-radius: 0;
    color: var(--flatpickr-day-cl);
    line-height: var(--flatpickr-day-height);
    background-color: var(--flatpickr-day-bg);
    font-weight: bold;

    .flatpickr-calendar.inline & {
        flex-basis: var(--flatpickr-day-inline-width);
        width: var(--flatpickr-day-inline-width);
        max-width: var(--flatpickr-day-inline-width);
        height: var(--flatpickr-day-inline-height);
        line-height: var(--flatpickr-day-inline-height);
    }

    &:not(:nth-child(7n)) {
        margin-right: var(--flatpickr-day-gutter);
    }

    &:not(:nth-last-child(-n + 7)) {
        margin-bottom: var(--flatpickr-day-gutter);
    }

    &,
    &.prevMonthDay,
    &.nextMonthDay {
        &.inRange,
        &.today.inRange {
            color: var(--flatpickr-range-cl);
            background-color: var(--flatpickr-range-bg);
        }

        &:hover {
            color: var(--flatpickr-hover-cl);
            background-color: var(--flatpickr-hover-bg);
        }
    }

    &.today {
        border-bottom: 2px solid var(--cl-red);
        color: var(--flatpickr-today-cl);
        background-color: var(--flatpickr-today-bg);

        &.inRange {
            border-color: var(--cl-red);
        }

        &:hover {
            border-color: transparent;
            color: var(--flatpickr-hover-cl);
            background-color: var(--flatpickr-hover-bg);
        }
    }

    &.selected,
    &.startRange,
    &.endRange {
        &,
        &.inRange,
        &:focus,
        &:hover,
        &.prevMonthDay,
        &.nextMonthDay {
            color: var(--flatpickr-selected-cl);
            background: var(--flatpickr-selected-bg);
            border-color: var(--flatpickr-selected-bg);
        }

        &.startRange,
        &.endRange,
        &.startRange.endRange {
            border-radius: 0;
        }

        &.startRange + .endRange:not(:nth-child(7n + 1)) {
            box-shadow: none;
        }
    }

    &.inRange {
        box-shadow: none;
    }

    &.flatpickr-disabled,
    &.flatpickr-disabled:hover,
    &.disabled,
    &.disabled:hover,
    &.prevMonthDay,
    &.nextMonthDay,
    &.notAllowed,
    &.notAllowed.prevMonthDay,
    &.notAllowed.nextMonthDay {
        font-weight: normal;
        color: var(--flatpickr-disabled-cl);
        background-color: var(--flatpickr-disabled-bg);
    }

    &.disabled,
    &.disabled:hover {
        color: var(--flatpickr-disabled-cl);
    }
}

.rangeMode .flatpickr-day {
    margin-top: 0;
}

.flatpickr-rContainer {
    width: 100%;
}

/* /Маркер для примера с кастомным рендером */

.v-datepicker {
    position: relative;

    &--float {
        padding-top: calc(var(--gs) * 2);
    }

    &--float &__label {
        color: var(--cl-grey);
        position: absolute;
        top: 16px;
        left: 16px;
        line-height: 2.5rem;
        transition: all var(--time) ease;
    }

    &--float &__input {
        border: none;
        border-bottom: 1px solid var(--cl-grey);
    }

    &--active.&--float &__label {
        top: 0;
        color: var(--cl-global);
        font-size: 12px;
        line-height: 16px;
    }

    &--active &__input {
        border-bottom-color: var(--cl-global);
    }

    &--invalid &__input {
        border-bottom-color: var(--cl-red);
    }

    &--disabled &__input {
        color: var(--cl-divider-grey);
        border-bottom-color: var(--cl-divider-grey);
    }

    &--disabled &__label {
        color: var(--cl-divider-grey);
    }

    &__label {
        display: flex;
        margin-bottom: var(--gs);
        cursor: text;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

        &:empty {
            display: none;
        }
    }

    &__input {
        width: 100%;
        width: 100%;
        min-height: calc(var(--gs) * 5);
        padding: 6px calc(var(--gs) * 2);
        border: 1px solid var(--cl-global);
        color: var(--cl-global);
        background-color: var(--cl-white);
        transition: all var(--time) var(--timing-function);
        overflow: hidden;

        &:focus {
            outline: none;
        }

        &:focus {
            outline: none;
        }
    }

    &__container {
        position: relative;
        display: flex;
    }

    &__icon {
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;

        &::after {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background-image: svg-load('datepicker.svg');
        }
    }

    &__error {
        position: relative;
        min-height: calc(var(--gs) * 3);
        padding: 0 16px;
        font-size: 12px;
        line-height: calc(var(--gs) * 3);
        color: var(--cl-red);
        overflow: hidden;
    }
}
