.navigation-panel {
    &__group {
        & + & {
            &::before {
                content: '';
                display: block;
                margin: calc(var(--gs) * 4) 0;
                width: 100%;
                height: 0px;
                border: 1px solid var(--cl-divider-grey);
            }
        }

        &-hl {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: calc(var(--gs) * 3);
        }

        &-item {
            margin-bottom: var(--gs);
        }

        &-link {
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;

            &.router-link-exact-active {
                font-weight: 700;
            }
        }
    }
}
