.cookie-alert {
    left: 10px;
    right: 10px;
    transition: 1s all;
    position: fixed;
    z-index: 10160;
    bottom: -300px;
    background: var(--cl-global);
    color: var(--cl-white);
    &__wrapper {
         overflow: hidden;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 15px;
         font-size: .875rem;
         line-height: 1.5rem;
         font-weight: 400;
         letter-spacing: .04em;
     }
    &__text{
         margin-right: 30px;
     }
    &_btn {
         height: 23px;
     }
}
.cookie-alert-show {
    bottom: 10px;
}
@media(max-width: 767px) {
    .cookie-alert-product {
        bottom: 77px;
    }
}
@media (max-width: 425px) {
    .cookie-alert {
        &__wrapper {
             font-size: .775rem;
             line-height: 1rem;
         }
        &__text{
             margin-right: 15px;
         }
    }
}
.cookie-alert-close{
    fill: #F46325;
}

.slip-enter-active {
    animation: slipIn .3s;
}

.slip-leave-active {
    animation: slipOut .3s;
}

@keyframes slipIn {
    from {
        max-height: 0;
        visibility: hidden;
    }
    to {
        max-height: 500px;
        visibility: visible;
    }
}

@keyframes slipOut {
    from {
        max-height: 500px;
        visibility: visible;
    }
    to {
        max-height: 0;
        visibility: hidden;
    }
}