.card-design-tag {
    position: relative;
    padding: calc(var(--gs) / 4);
    transition: all var(--time) var(--timing-function);
    border-radius: 2px;
    border: 2px solid transparent;

    &__square {
        width: calc(var(--gs) * 11.5);
        height: calc(var(--gs) * 7);
        border-radius: 8px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--selected {
        pointer-events: none;
    }

    &:hover {
        border: 2px solid;
    }

    &:disabled {
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 14px;
            height: 14px;
            background-position: center;
            background-image: svg-load('cross-small.svg', 'fill: #fff');
        }
    }

    &--light:disabled {
        &::after {
            background-image: svg-load('cross-small.svg', 'fill: #000');
        }
    }
}
