.portfolio-edit-modal {
    .popup {
        width: 648px;
    }

    .modal-body {
        padding: 0;
    }

    &__hl {
        padding: calc(var(--gs) * 3) calc(var(--gs) * 3) 0 calc(var(--gs) * 3);
        margin: 0;

        @media (--tablet) {
            display: none;
        }
    }

    &__section {
        padding: calc(var(--gs) * 3);

        @media (--tablet) {
            padding: calc(var(--gs) * 2);
        }
    }

    &__info {
        margin-bottom: calc(var(--gs) * 2);

        &--no-margin {
            margin-bottom: 0;
        }

        &-formats {
            margin-bottom: 16px;
        }
    }

    &__input {
        &-close-btn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-8px, -50%);
            height: 24px;
            width: 24px;
            z-index: 1;
        }

        label {
            font-weight: normal;
        }
    }

    &__divider {
        display: flex; 
        justify-content: space-between; 
        align-items: center;

        &-line {
            flex-grow: 1; 
            height: 1px; 
            background-color: var(--cl-divider-grey);
        }

        &-text {
            margin: 0 24px; 
            font-size: 1.25rem; 
            font-weight: 500;
        }
    }

    &__files {
        @media (--tablet) {
            display: flex;
            justify-content: center;

            .portfolio-edit-modal__file-item--loaded {
                width: auto;
                margin-right: 24px;
            }
        }

        .v-file__form {
            height: 120px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 24px;

            @media (--tablet) {
                margin-left: 0;
            }

            &-delete {
                cursor: pointer;
            }
        }
    }

    &__file-item {
        overflow: visible;

        &--loaded {
            &::before {
                content: svg-load('status-check.svg');
                position: absolute;
                top: -4px;
                right: -4px;
            }
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0 calc(var(--gs) * 3) calc(var(--gs) * 3);

        @media (--tablet) {
            margin-top: auto;
            position: sticky;
            justify-content: space-between;
            bottom: 0;
            padding: var(--gs) calc(var(--gs) * 2);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            background-color: var(--cl-white);
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
