.portfolio-edit-modal {
    .popup {
        width: 648px;
    }

    .modal-body {
        padding: 0;
    }

    &__hl {
        @media (--tablet) {
            display: none;
        }
    }

    &__section {
        padding: calc(var(--gs) * 3);

        @media (--tablet) {
            padding: calc(var(--gs) * 2);
        }

        &:first-child {
            border-bottom: 1px solid var(--cl-divider-grey);
        }
    }

    &__info {
        margin-bottom: calc(var(--gs) * 2);
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: calc(var(--gs) * 2);

        &-row {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media (--tablet) {
                flex-wrap: wrap;
                margin: 0;
                padding-bottom: calc(var(--gs) * 2);
                border-bottom: 1px solid var(--cl-divider-grey);
            }

            & + & {
                margin-top: calc(var(--gs) * 2);
            }

            &-btn {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-8px, -50%);
                height: 24px;
                width: 24px;
                z-index: 1;
            }

            .v-input__label {
                margin-bottom: 0;
            }
        }

        &-column {
            width: calc(50% - calc(var(--gs) / 2));

            @media (--tablet) {
                width: 100%;
            }

            & + & {
                @media (--tablet) {
                    margin-top: var(--gs);
                }
            }

            &:last-child {
                .v-input__input {
                    padding-right: calc(var(--gs) * 4);
                }
            }
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0 calc(var(--gs) * 3) calc(var(--gs) * 3);

        @media (--tablet) {
            margin-top: auto;
            position: sticky;
            justify-content: space-between;
            bottom: 0;
            padding: var(--gs) calc(var(--gs) * 2);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            background-color: var(--cl-white);
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
