.v-chartjs {
    &__tooltip {
        color: var(--cl-white);
        position: relative;
        background: var(--cl-global);
        border: 2px solid var(--cl-global);
        width: 32px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after,
        &:before {
            right: 4px;
            bottom: calc(-100% + 0px);
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-top-color: var(--cl-global);
            border-width: 10px;
        }
    }
}
