input[type='checkbox'],
input[type='radio'] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    & + label {
        position: relative;
        display: block;
        margin-bottom: calc(var(--gs) * 2);
        padding-left: 28px;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            box-sizing: border-box;
            transition: opacity var(--time) ease;
        }

        &::before {
            content: '';
            top: 0;
            left: 0;
            width: 17px;
            height: 17px;
            border: 1px solid var(--cl-global);
            border-radius: 2px;
            background: var(--cl-white);
        }

        &.is-invalid {
            &:last-of-type {
                margin-bottom: var(--gs);
            }
        }
    }

    &:disabled {
        & + label {
            color: var(--cl-grey);
            cursor: default;
            pointer-events: none;

            &::before {
                border-color: var(--cl-global);
            }
        }
    }

    &:checked {
        & + label::after {
            transform: scale(1);
        }

        & + label::before {
            border-color: var(--cl-global);
        }
    }
}

input[type='checkbox'] {
    & + label {
        &::after {
            top: 0;
            left: 0;
            width: 17px;
            height: 17px;
            transition: all var(--time) ease;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 12px 9px;
            background-image: svg-load('../../../assets/images/sprites/check-small.svg', 'fill: #fff');
            background-color: var(--cl-blue);
            transform: scale(0);
        }
    }

    &:indeterminate + label {
        &::after {
            top: 0;
            left: 0;
            width: 17px;
            height: 17px;
            transition: all var(--time) ease;
            background-size: 12px 9px;
            background-image: none;
            background-color: var(--cl-global);
            transform: scale(0.5);
        }
    }

    &:disabled + label {
        color: var(--cl-grey);
        cursor: default;

        &::after,
        &::before {
            opacity: 0.4;
        }
    }

    .v-check.is-switch & {
        & + label {
            position: relative;
            display: block;
            padding-left: calc(var(--gs) * 8);
            line-height: 1.7;
            cursor: pointer;

            &::after {
                top: 12px;
                left: 6px;
                transform: translateY(-50%);
                width: calc(var(--gs) * 2);
                height: calc(var(--gs) * 2);
                border-radius: 50%;
                transition: background-color 0.2s ease, left 0.2s ease;
                background: var(--cl-global);
                background-size: unset;
                background-image: unset;
            }

            &::before {
                top: 0;
                left: 0;
                width: calc(var(--gs) * 6);
                height: calc(var(--gs) * 3);
                border: 2px solid var(--cl-global);
                border-radius: 12px;
                background-color: var(--cl-white);
            }
        }

        &:checked + label {
            &::after {
                left: 26px;
                background-color: var(--cl-red);
            }
        }
    }
}

input[type='radio'] {
    & + label {
        &::before,
        &::after {
            border-radius: 50%;
        }

        &::after {
            top: 5px;
            left: 5px;
            width: 7px;
            height: 7px;
            background: var(--cl-global);
            transform: scale(0);
            transition: all var(--time) ease;
        }
    }

    &:disabled + label {
        color: var(--cl-grey);
        cursor: default;

        &::after,
        &::before {
            opacity: 0.4;
        }
    }
}

.v-check {
    position: relative;
}
