.group-list {
    display: flex;
    flex-wrap: wrap;

    &__link {
        line-height: 32px;
        font-weight: 400;
        border-bottom: 1px solid transparent;
        text-transform: none;

        &:hover {
            border-bottom: 1px solid var(--cl-global);
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__item {
        padding-right: calc(var(--gs) * 3);
        margin-bottom: calc(var(--gs) * 5);
    }

    &__item {
        padding-right: calc(var(--gs) * 3);
        margin-bottom: calc(var(--gs) * 5);
    }

    &__expander {
        .v-expander__content {
            margin-bottom: 0;
        }

        .v-expander__btn {
            font-size: 16px;
            margin: var(--gs) 0;
            font-weight: 400;
            border-bottom: 1px solid transparent;
            text-transform: none;
            color: var(--cl-grey);

            &:hover {
                border-bottom: 1px solid var(--cl-grey);
            }
        }
    }
}
