.group-list {
    display: flex;
    flex-wrap: wrap;

    &__link {
        line-height: 1.5em;
        font-weight: 400;
        text-transform: none;

        &--selected {
            line-height: 1.5em;
            font-weight: 600;
            text-transform: none;
        }
    }

    &__title {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: calc(32px - 1.5em);
    }

    &__item {
        padding-right: calc(var(--gs) * 3);
        margin-bottom: calc(var(--gs) * 5);

        &__li {
            padding-bottom: calc(32px - 1.5em);
        }
    }

    &__expander {
        .v-expander__content {
            margin-bottom: 0;
        }

        .v-expander__btn {
            font-size: 16px;
            margin: var(--gs) 0;
            font-weight: 400;
            text-transform: none;
            color: var(--cl-grey);

            &:hover {
                 text-decoration: underline;
                 text-underline-offset: 5px;
                 text-decoration-color: var(--cl-grey);
            }
        }
    }
}