.catalog-product-list-card {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: none;

    &:hover &__controls {
        opacity: 1;
        transition: all var(--time) ease-in;
    }

    &:hover &__body {
        @media (--tablet-min) {
            background-color: var(--cl-elem-grey);
        }
    }

    &:hover &__img {
        border-color: var(--cl-divider-grey);

        @media (--tablet-lg-min) {
            img {
                opacity: 0.2;
                transition: all var(--time) ease-in;
            }
        }
    }

    &:hover &__rating,
    &:hover &__wishlist-btn {
        opacity: 1;
        transition: all var(--time) ease-in;
    }

    &--small {
        flex-direction: row;
    }

    &--small &__img {
        width: 37.5%;
        padding: var(--gs);
        border-bottom: none;
    }

    &--small &__body {
        padding-left: calc(var(--gs) * 2);
    }

    &--small &__link {
        order: 0;
        text-align: left;
    }

    &--small &__prices {
        order: 1;
        flex-direction: row;
        justify-content: flex-start;
    }

    &--small &__rating {
        display: none;
    }

    &--small &__controls {
        &-link {
            display: none;
        }
    }

    &__mobile-cart-btn {
        position: absolute;
        bottom: var(--gs);
        right: var(--gs);
        z-index: 2;

        button.link {
            display: flex;
        }
    }
    &__img-gray{
        &::before {
             opacity: 0.15 !important;
         }
     }
    &__img {
        display: flex;
        position: relative;
        width: 100%;
        padding: calc(var(--gs) * 4);
        border-bottom: 0.5px solid transparent;
        flex: none;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 100%;
                padding-bottom: 0;
            }
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--cl-global);
            opacity: 0.03;
        }

        @media (--tablet) {
            padding: var(--gs) 0;
        }

        .v-picture {
            width: 100%;
            max-height: 100%;
        }
    }

    &__controls {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 23px;
        transform: translateX(-50%);
        text-align: center;
        opacity: 0;

        &-btn {
            min-width: 160px;
            margin-bottom: var(--gs);
            background: var(--cl-elem-grey);

            @media (--tablet-lg) {
                min-width: auto;
            }
        }

        &-link {
            font-size: 12px;
            line-height: 24px;
            font-weight: bold;
            letter-spacing: 0.05em;

            @media (--tablet) {
                display: none;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: calc(var(--gs) * 2);
        flex-grow: 1;

        @media (--tablet) {
            padding: var(--gs);
        }
    }

    &__link {
        text-transform: none;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        flex-grow: 1;
        margin-bottom: var(--gs);

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        transform: translateZ(0);
    }

    &__variants {
        position: absolute;
        bottom: calc(var(--gs) - 4px);
        left: var(--gs);
        display: flex;
        flex-flow: row wrap;
        padding-right: calc(var(--gs) * 4);
        z-index: 2;
        opacity: 1;
        transition: opacity var(--time);

        @media (--tablet-min) {
            bottom: calc((var(--gs) + calc(var(--gs) / 2)) - 4px);
            left: calc(var(--gs) + calc(var(--gs) / 2));
        }
    }

    &:hover &__variants {
        opacity: 0.03;
    }

    &__variant {
        position: relative;
        display: block;
        max-width: 100px;
        margin: 0 calc(var(--gs) / 2) calc(var(--gs) / 2) 0;
        padding: calc(var(--gs) / 4) calc(var(--gs) / 2);
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        color: var(--cl-white);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        background: var(--cl-black);
        white-space: nowrap;
        overflow: hidden;
    }

    @media(--mobile-min) {
        &__variant {
            max-width: 160px;
        }
    }

    @media(--mobile-lg-min) {
        &__variant {
            max-width: 230px;
        }
    }

    @media(--tablet-min) {
        &__variant {
            max-width: 160px;
        }
    }

    @media(--desktop-min) {
        &__variant {
            max-width: 210px;
        }
    }

    @media(--desktop-lg-min) {
        &__variant {
            max-width: 250px;
        }
    }

    &__variant:not(.catalog-product-list-card__variant--has-more)::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 15%;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 25%);
    }

    &__variant--has-more {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 20px;
            height: 100%;
            background: linear-gradient(270deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
        }
    }

    &__prices {
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--gs);

        @media (--tablet-lg) {
            flex-direction: column;
        }
    }

    &__price {
        text-align: left;

        & + & {
            margin-left: var(--gs);
            @media (--tablet-lg) {
                margin-left: 0;
            }
        }
    }

    &__tags {
        position: absolute;
        top: calc((var(--gs) + calc(var(--gs) / 2)) - 4px);
        left: calc((var(--gs) + calc(var(--gs) / 2)) - 8px);

        @media (--tablet) {
            top: var(--gs);
            left: var(--gs);
        }

        &-item {
            @media (--tablet) {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    &__rating {
        display: flex;
        justify-content: center;
        opacity: 0;

        &-star {
            width: calc(var(--gs) * 2);
            height: calc(var(--gs) * 2);
            background-image: svg-load('star-small.svg');

            &--empty {
                background-image: svg-load('star-empty-small.svg');
            }
        }
    }

    &__wishlist-btn {
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: calc(var(--gs) + calc(var(--gs) / 2));
        right: calc(var(--gs) + calc(var(--gs) / 2));

        @media (--tablet) {
            top: var(--gs);
            right: var(--gs);
        }

        @media (--tablet-lg) {
            opacity: 1;
        }

        &--active {
            opacity: 1 !important;
        }
    }
}
