.referral-code-edit-modal {
    .modal-body {
        padding: calc(var(--gs) * 3);

        @media (--tablet-min) {
            display: flex;
            flex-direction: column;
        }

        @media (--tablet) {
            padding: 0;
        }
    }

    &__hl {
        @media (--tablet) {
            display: none;
        }
    }

    &__form {
        @media (--tablet) {
            padding: calc(var(--gs) * 2);
            padding-bottom: 0;
        }

        &-input {
            margin-bottom: var(--gs);
        }
    }

    &__panel {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: calc(var(--gs) * 3);
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: auto;

        @media (--tablet) {
            position: sticky;
            justify-content: space-between;
            bottom: 0;
            padding: var(--gs) calc(var(--gs) * 2);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            background-color: var(--cl-white);
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
