.landing-view {
    padding-bottom: calc(var(--gs) * 14);

    @media (--tablet-min) and (--tablet-lg) {
        padding-top: calc(var(--gs) * 3);
    }

    &__categories {
        display: flex;
        justify-content: space-between;
        padding: calc(var(--gs) * 1.5) 0;

        @media (--tablet-lg) {
            display: none;
        }
    }

    &__section {
        .container {
            @media (--tablet) {
                padding-bottom: calc(var(--gs) * 2);
            }
        }

        &-hl {
            @media (--tablet) {
                padding: 0 calc(var(--gs) * 3);
            }
        }

        &-link {
            line-height: 28px;
            position: absolute;
            top: 0;
            right: 108px;

            @media (--desktop) {
                right: calc(var(--gs) * 5);
            }

            @media (--tablet-lg) {
                right: calc(var(--gs) * 4);
                font-size: 11px;
                line-height: 16px;
            }

            @media (--tablet) {
                top: 100%;
                right: unset;
                left: calc(var(--gs) * 3);
            }
        }
    }

    &__banners {
        display: flex;
        margin-bottom: calc(var(--gs) * 5);

        @media (--desktop-min) {
            height: 416px;
        }

        @media (--tablet) {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr auto;
            padding: 0;
        }

        &-card {
            height: 200px;

            @media (--tablet) {
                height: 144px;
                width: 100%;
            }

            .banner-card__content {
                position: absolute;
                top: 0;
                left: 0;
                padding: calc(var(--gs) * 3);
                height: 100%;
                width: 100%;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                    transition: all 0.2s ease-in-out;
                }
            }

            .banner-card__content-title {
                @media (--tablet) {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            .banner-card__content-btn {
                border: none;
                opacity: 0;
                transition: all 0.2s ease-in-out;

                @media (orientation: landscape) and (--desktop) {
                    opacity: 1;
                }

                @media (--tablet-lg) {
                    opacity: 1;
                }
            }

            .banner-card__content:hover .banner-card__content-btn {
                display: block;
                opacity: 1;
            }

            .banner-card__img {
                height: 100%;
                width: 100%;
            }

            & + & {
                margin-top: calc(var(--gs) * 2);
            }
        }

        &-right {
            width: calc(72% - calc(var(--gs) * 3));

            @media (--tablet) {
                order: 0;
                height: 400px;
                width: 100%;
                margin-bottom: calc(var(--gs) * 2);
            }
        }

        &-left {
            margin-right: calc(var(--gs) * 3);
            width: 32%;

            @media (--tablet-lg) {
                margin-right: calc(var(--gs) * 2);
            }

            @media (--tablet) {
                order: 1;
                width: 100%;
                margin-left: 0;
                padding: 0 calc(var(--gs) * 3);
            }
        }

        &-slider {
            width: 100%;
            height: 100%;
        }

        &-slider &-card {
            width: 100%;
            height: 100%;
            background-color: var(--cl-grey);
        }

        &-slider &-card + &-card {
            margin-top: 0;
        }
    }

    &__category-cards {
        margin-bottom: calc(var(--gs) * 5);

        @media (--tablet) {
            padding: 0;
            margin-bottom: calc(var(--gs) * 4);
        }
    }

    &__products {
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet) {
            padding: 0;
            margin-bottom: calc(var(--gs) * 5);
        }

        &-slider {
            height: 100%;

            .swiper-button-prev,
            .swiper-button-next {
                top: 170px;
            }
        }

        &-card {
            width: calc(100% / 4);

            .catalog-product-card__img {
                padding-top: calc(var(--gs) * 4);
            }
        }
    }

    &__middle-banners {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc(var(--gs) * 9);

        @media (--tablet) {
            flex-direction: column;

            &-card + &-card {
                margin-top: calc(var(--gs) * 4);
            }
        }

        &-card {
            width: calc(calc(100% / 3) - calc(48px / 3));

            @media (--tablet) {
                width: 100%;
            }
        }
    }

    &__brands {
        margin-bottom: calc(var(--gs) * 8);

        @media (--tablet) {
            padding: 0;
            margin-bottom: calc(var(--gs) * 5);
        }
    }

    &__instagram {
        @media (--tablet) {
            padding: 0;
        }

        &-link,
        &-hl {
            @media (--tablet) {
                padding: 0 calc(var(--gs) * 3);
            }
        }

        &-link {
            display: flex;
            line-height: 22px;
            margin-bottom: calc(var(--gs) * 3);
        }

        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: calc(var(--gs) * 3);
            opacity: 0;
            transition: all var(--animation-time) ease-in;

            @media (--tablet-lg) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
            }

            &--initialized {
                opacity: 1;
            }
        }
    }
}
