.landing-view {
    padding-bottom: calc(var(--gs) * 10);

    @media (--tablet-lg) {
        padding-top: 0;
        padding-bottom: calc(var(--gs) * 4);
    }

    &__section {
        &-hl {
            font-size: 28px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;

            @media (--tablet-lg) {
                padding-left: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                padding: 0 calc(var(--gs) * 3);
                text-align: center;
            }
        }

        &-link {
            position: absolute;
            top: 0;
            right: 108px;

            @media (--desktop) {
                right: calc(var(--gs) * 5);
            }

            @media (--tablet-lg) {
                right: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                top: calc(100% - calc(var(--gs) * 7.5));
                right: 16px;
                left: 16px;
            }
        }
    }

    &__banners {
        display: flex;
        margin-bottom: calc(var(--gs) * 8);
        padding: 0;
        height: 520px;

        @media (--desktop) {
            height: 320px;
        }

        @media (--tablet-lg) {
            height: 272px;
            margin-bottom: calc(var(--gs) * 4);
        }

        &-card {
            display: flex;
            height: 100%;

            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                font-family: 'object-fit: cover;';
            }
        }

        &-slider {
            width: 100%;

            .v-slider__controls {
                left: calc(var(--gs) * 13.5);
                bottom: calc(var(--gs) * 4);

                @media (--tablet-lg) {
                    left: 50%;
                    bottom: calc(var(--gs) * 3);
                    transform: translateX(-50%);
                }

                .swiper-pagination {
                    position: relative;
                    @media (--tablet-lg) {
                        bottom: calc(var(--gs) * 2);
                    }
                }

                .swiper-pagination-bullet {
                    background-color: var(--cl-white);
                    opacity: 0.3;
                    margin: 0 var(--gs);

                    &-active {
                        opacity: 1;
                        background-color: var(--cl-white);
                    }
                }

                .swiper-button-next,
                .swiper-button-prev {
                    fill: var(--cl-white);
                    height: 44px;
                    width: 44px;
                    border-radius: 50%;
                    transition: all 0.2s ease-in;

                    &:hover {
                        opacity: 0.8;
                        background: var(--cl-white);
                        fill: var(--cl-global);
                    }
                }
            }
        }
    }

    &__categories {
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet) {
            padding: 0 var(--gs);
            margin-bottom: calc(var(--gs) * 3);
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 40px;
            padding-bottom: calc(var(--gs) * 6);
            border-bottom: 0.5px solid var(--cl-divider-grey);

            @media (--desktop-lg) {
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: 1fr;
                grid-gap: 24px;
            }

            @media (--tablet) {
                grid-template-columns: repeat(4, minmax(64px, 1fr));
                grid-template-rows: 1fr 1fr;
                grid-gap: 16px;
                padding-bottom: calc(var(--gs) * 4);
            }
        }
    }

    &__products {
        margin-bottom: calc(var(--gs) * 6);

        &--inverse & {
            &-cards {
                @media (--tablet-lg-min) {
                    order: 1;
                }
            }

            &-banner {
                @media (--tablet-lg-min) {
                    order: 0;
                }
            }
        }

        @media (--tablet) {
            padding: 0;
            margin-bottom: calc(var(--gs) * 4);
        }

        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 24px;

            @media (--tablet-lg-min) {
                padding-bottom: calc(var(--gs) * 6);
                border-bottom: 0.5px solid var(--cl-divider-grey);
            }

            @media (--tablet-lg) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 720px;
            }

            @media (--tablet) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 320px;
                grid-gap: 8px;
            }
        }

        &-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 24px;

            @media (--tablet) {
                position: relative;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 8px;
                padding-bottom: calc(var(--gs) * 11);
            }
        }

        &-banner {
            display: flex;
            position: relative;

            &-img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                font-family: 'object-fit: cover;';
            }

            &-panel {
                position: absolute;
                bottom: 64px;
                left: 50%;
                width: 80%;
                text-align: center;
                transform: translateX(-50%);
                color: var(--cl-white);
                font-weight: bold;

                @media (--tablet) {
                    bottom: 24px;
                }

                &-type {
                    margin-bottom: calc(var(--gs) * 4);
                    text-transform: uppercase;

                    @media (--tablet) {
                        margin-bottom: var(--gs);
                    }
                }

                &-title {
                    font-size: 30px;
                    line-height: 40px;
                    margin-bottom: calc(var(--gs) * 4);
                    text-transform: uppercase;

                    @media (--tablet) {
                        font-size: 24px;
                        line-height: 32px;
                        margin-bottom: calc(var(--gs) * 3);
                    }
                }

                &-btn {
                    background-color: transparent;
                    border-color: var(--cl-white);
                    color: inherit;

                    &:hover {
                        background-color: var(--cl-white);
                        color: var(--cl-global);
                    }
                }
            }
        }
    }

    &__middle-banners {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: calc(var(--gs) * 3);
        margin-bottom: calc(var(--gs) * 9);

        @media (--tablet) {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: calc(var(--gs) * 4);
        }
    }

    &__brands {
        margin-bottom: calc(var(--gs) * 8);

        @media (--tablet) {
            padding: 0;
            margin-bottom: calc(var(--gs) * 5);
        }
    }

    &__instagram {
        position: relative;

        @media (--tablet-lg) {
            padding: 0;
        }

        @media (--tablet) {
            text-align: center;
        }

        &-hl {
            padding-left: calc(var(--gs) * 3);
        }

        &-link {
            @media (--tablet) {
                position: relative;
                width: calc(100% - 32px);
                left: unset;
                right: unset;
            }
        }

        &-slider {
            padding-bottom: calc(var(--gs) * 6);

            .v-slider__controls {
                bottom: calc(var(--gs) * 3);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: calc(var(--gs) * 3);
            opacity: 0;
            transition: all var(--animation-time) ease-in;

            @media (--tablet-lg) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }

            &--initialized {
                opacity: 1;
            }
        }
    }
}
