.banner-card {
    display: flex;
    flex-direction: column;
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: calc(var(--gs) * 2);
        flex-grow: 1;

        @media (--tablet-lg) {
            padding-top: var(--gs);
        }

        &-title {
            font-size: 20px;
            line-height: 28px;
            padding-bottom: calc(var(--gs) * 2);

            @media (--tablet-lg) {
                font-size: 16px;
                line-height: 24px;
                padding-bottom: var(--gs);
            }
        }

        &-btn {
            max-height: 32px;
            line-height: 32px;
            background: var(--cl-white);
            color: var(--cl-global);
            font-size: 14px;
            font-weight: normal;
            text-transform: none;
            padding: 0 calc(var(--gs) * 2);
            width: fit-content;
            transition: all 0.2s ease-in-out;
        }
    }

    &__img {
        height: 240px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
