.banner-card {
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &:hover &__img {
        img {
            opacity: 0.5;
            transition: all var(--time) ease-in;
        }

        &-btn {
            opacity: 1;
        }
    }

    &__title {
        padding: calc(var(--gs) * 2);
    }

    &__img {
        position: relative;
        display: flex;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        .v-picture {
            width: 100%;
            height: 100%;

            img {
                opacity: 1;
            }
        }

        &-btn {
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            background-color: transparent;
        }
    }
}
