.single-banner-section {
    @media (--tablet) {
        margin-bottom: 0;
        padding: 0;
        border-bottom: none;
    }

    &__inner {
        @media (--tablet) {
            border-bottom: none;
        }
    }

    &__banner {
        height: 240px;

        .catalog-banner-card__img {
            @media (--tablet-min) {
                .v-picture {
                    &__img {
                        font-family: 'object-fit: fill;';

                        @supports (object-fit: fill) {
                            font-family: inherit;
                            object-fit: fill;
                        }
                    }
                }

                img.v-picture {
                    font-family: 'object-fit: fill;';

                    @supports (object-fit: fill) {
                        font-family: inherit;
                        object-fit: fill;
                    }
                }
            }
        }
    }
}
