.single-banner-section {
    @media (--tablet) {
        margin-bottom: 0;
        padding: 0;
        border-bottom: none;
    }

    &__inner {
        @media (--tablet) {
            border-bottom: none;
        }
    }

    &__banner {
        .catalog-banner-card__img {
            &::after {
                padding-bottom: 19%;

                @media (--tablet) {
                    padding-bottom: 70%;
                }

                @supports (-moz-user-select: none) {
                    margin-top: 19%;
                    padding-bottom: 0;

                    @media (--tablet) {
                        margin-top: 70%;
                    }
                }
            }
        }
    }
}
