.pdf-page {
    position: relative;

    &__mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--cl-white);
    }
}
