.cart-bundle-product-card {
    display: flex;

    @media (--tablet) {
        padding-bottom: var(--gs);
        border-bottom: 1px solid #eff1f3;
    }

    &__images {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        max-width: calc(var(--gs) * 23);
        height: 100%;
        margin-right: calc(var(--gs) * 3);
        border-bottom: none;
        padding: 0;
        min-width: calc(var(--gs) * 23);

        @media (--tablet) {
            display: flex;
            max-width: calc(var(--gs) * 9);
            min-width: calc(var(--gs) * 9);
            margin-right: var(--gs);
        }
    }

    &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        width: 50%;

        @media (--tablet) {
            width: 100%;
            margin: 0;

            & + & {
                margin-top: var(--gs);
            }
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--cl-global);
            opacity: 0.03;
            pointer-events: none;
        }

        @media (--tablet-min) {
            .length-is-3 > & {
                width: calc(50% - 2px);

                &:nth-child(1) {
                    margin-right: calc(var(--gs) / 2);
                }

                &:nth-child(3) {
                    width: 100%;
                    margin-top: calc(var(--gs) / 2);
                }
            }

            .length-is-2 > & {
                width: 100%;

                &:first-child {
                    margin-bottom: calc(var(--gs) / 2);
                }
            }

            .length-is-4 > & {
                width: calc(50% - 2px);
                margin-bottom: calc(var(--gs) / 2);
                &:nth-child(odd) {
                    margin-right: calc(var(--gs) / 2);
                }
            }
        }

        .v-picture {
            max-height: calc(var(--gs) * 9);
            max-width: calc(var(--gs) * 9);
        }

        .v-popover {
            display: flex;
        }
    }

    &--inactive &__images {
        opacity: 0.3;
    }

    &__price {
        font-size: 20px;

        @media (--tablet) {
            font-size: 16px;
        }

        &--old {
            @media (--tablet) {
                font-size: 14px;
                margin-left: var(--gs);
            }
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media (--tablet) {
            padding: 0 calc(var(--gs) * 2) 0 0;
        }

        &-name {
            text-transform: none;
            font-weight: bold;

            @media (--tablet) {
                font-weight: normal;
            }
        }

        &-bundle-info {
            width: 50%;
            order: 0;

            @media (--tablet) {
                width: 100%;
                margin-bottom: var(--gs);
            }
        }

        &-prices {
            order: 2;
            text-align: right;
            padding-left: 16px;

            @media (--tablet-min) {
                flex: 1;
            }

            @media (--tablet) {
                display: flex;
                width: 100%;
                text-align: left;
                order: 1;
                margin-bottom: var(--gs);
                padding-left: 0;
            }
        }

        &-bonus {
            text-align: right;
            margin-top: calc(var(--gs) * 2);

            &--hidden {
                visibility: hidden;
            }

            @media (--tablet) {
                font-size: 12px;
                line-height: 24px;
                margin-top: 0;
                margin-left: auto;
            }
        }

        &-count {
            width: 25%;
            order: 1;
            text-align: center;

            @media (--tablet) {
                width: 50%;
                text-align: left;
                order: 2;
                margin-bottom: var(--gs);
                height: calc(var(--gs) * 4);
            }
        }

        &-controls {
            order: 5;
            width: 100%;
            display: flex;

            @media (--tablet) {
                width: 50%;
                justify-content: flex-end;
                height: calc(var(--gs) * 5);
            }

            &-link {
                display: flex;
                align-items: center;
                color: var(--cl-grey);
                fill: var(--cl-grey);
                text-transform: none;
                font-size: 14px;
                line-height: 24px;
                transition: none;
                font-weight: normal;

                &:hover {
                    color: var(--cl-global);
                    fill: var(--cl-global);
                }

                & + & {
                    margin-left: calc(var(--gs) * 2);
                }
            }
        }
    }

    &--inactive &__body {
        &-name,
        &-prices,
        &-count {
            opacity: 0.3;
        }
    }

    &__list {
        &-item {
            list-style: decimal;
            margin-left: calc(var(--gs) * 2);
            margin-top: calc(var(--gs) / 2);

            @media (--tablet) {
                margin-top: 0;
            }
        }
    }

    &__panel {
        &.tooltip.popover .popover-inner {
            padding: 0;
        }

        .general-popup-panel__body {
            padding: calc(var(--gs) * 2);
        }

        .general-popup-panel__header {
            display: none;
        }

        &-body {
            display: flex;
            width: 352px;
            max-height: 152px;

            &-image {
                position: relative;
                width: 120px;
                padding: var(--gs);

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--cl-global);
                    opacity: 0.03;
                    pointer-events: none;
                }
            }

            &-info {
                flex: 1;
                padding: var(--gs) calc(var(--gs) * 2);

                &-name {
                    flex-grow: 1;
                    margin-bottom: var(--gs);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    transform: translateZ(0);
                }

                &-price {
                    &:nth-child(2) {
                        margin-left: var(--gs);
                    }
                }
            }
        }
    }
}
