.products-section {
    &__hl {
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.05em;
        margin-bottom: calc(var(--gs) * 3);

        @media (--tablet) {
            font-size: 24px;
            line-height: 32px;
            padding: 0;
            text-align: center;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        right: 108px;

        @media (--desktop) {
            right: calc(var(--gs) * 5);
        }

        @media (--tablet-lg) {
            right: calc(var(--gs) * 3);
        }

        @media (--tablet) {
            top: calc(100% - calc(var(--gs) * 7.5));
            right: 16px;
            left: 16px;
        }
    }

    &--inverse & {
        &__cards {
            @media (--tablet-lg-min) {
                order: 1;
            }
        }

        &__banner {
            @media (--tablet-lg-min) {
                order: 0;
            }
        }
    }

    &__banner {
        .catalog-banner-card__panel {
            padding-bottom: calc(var(--gs) * 8);
        }
    }

    @media (--tablet) {
        padding: 0;
        margin-bottom: calc(var(--gs) * 4);
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 24px;

        @media (--tablet-lg) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 720px;
        }

        @media (--tablet) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 320px;
            grid-gap: 8px;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 24px;

        @media (--tablet) {
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 8px;
            padding-bottom: calc(var(--gs) * 11);
        }
    }
}
