.email-edit-modal {
    .modal-body {
        padding: calc(var(--gs) * 3);

        @media (--tablet-min) {
            display: flex;
            flex-direction: column;
        }

        @media (--tablet) {
            padding: 0;
        }
    }

    &__hl {
        @media (--tablet) {
            display: none;
        }
    }

    &__form {
        @media (--tablet) {
            padding: calc(var(--gs) * 2);
        }

        &-row {
            width: 100%;

            & + & {
                margin-top: calc(var(--gs) * 2);
            }

            &:last-of-type {
                margin-bottom: calc(var(--gs) * 3);
            }
        }

        &-textarea {
            height: 232px;
            display: flex;
            flex-direction: column;

            @media (--tablet) {
                height: 100%;
            }

            .v-input__container {
                height: 100%;
            }
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: auto;

        @media (--tablet) {
            position: sticky;
            justify-content: space-between;
            bottom: 0;
            padding: var(--gs) calc(var(--gs) * 2);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            background-color: var(--cl-white);
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
