.catalog-scroll-top {
    transition: .5s all;
    cursor: pointer;
    position: fixed;
    right: 35px;
    bottom: 20%;
    z-index: 999999999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 8px;
    width: 40px;
    height: 40px;

    background: #141116;
    opacity: 0;
    border-radius: 30px;

    &__show {
        opacity: 0.6 !important;
    }
}