.select-panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gs) * -3 / 2);

    &__link {
        display: flex;
        align-items: center;
        text-align: center;
        cursor: pointer;
        margin: var(--gs) calc(var(--gs) * 3 / 2);

        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            text-transform: uppercase;
            font-family: 'Futura PT-Medium';
            user-select: none;
        }

        &--checked {
            a {
                font-family: 'Futura PT-Bold';
            }
        }
    }
}
