.subscribes-view {
    counter-reset: panel;

    &__hl {
        margin-bottom: calc(var(--gs) * 3);
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (--tablet-lg) {
            display: none;
        }
    }

    &__panel {
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet-lg) {
            margin-bottom: calc(var(--gs) * 4);
        }

        .info-panel__header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: calc(var(--gs) * 4);
            padding-bottom: calc(var(--gs) * 2);
            border-bottom: 1px solid var(--cl-divider-grey);

            @media (--tablet-lg) {
                padding: 0 calc(var(--gs) * 2);
                padding-left: calc(var(--gs) * 7);
                padding-bottom: calc(var(--gs) * 2);
            }

            @media (--tablet) {
                padding: 0 calc(var(--gs) * 2);
                padding-left: calc(var(--gs) * 6);
                padding-bottom: calc(var(--gs) * 2);
            }

            &::before {
                counter-increment: panel;
                content: counter(panel);
                position: absolute;
                left: 0;
                top: 0;
                text-align: center;
                width: calc(var(--gs) * 3);
                height: calc(var(--gs) * 3);
                background-color: var(--cl-global);
                color: var(--cl-white);
                border-radius: 50%;
                font-weight: 500;

                @media (--tablet-lg) {
                    left: calc(var(--gs) * 3);
                }

                @media (--tablet) {
                    left: calc(var(--gs) * 2);
                }
            }

            &-hl {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
            }
        }

        &-item {
            & + & {
                margin-top: var(--gs);
            }

            &-link {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
                text-transform: none;

                &--grey {
                    color: var(--cl-grey);
                }
            }
        }
    }

    &__submit {
        min-height: calc(var(--gs) * 5);

        @media (--tablet-lg-min) {
            padding: 0;
        }

        &-btn {
            display: flex;
            justify-content: center;
            min-width: 120px;

            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
