.filter-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px calc(var(--gs) * 2);
    background-color: var(--cl-elem-grey);
    fill: var(--cl-global);
    color: var(--cl-global);
    border-color: var(--cl-elem-grey);
    letter-spacing: 0.02em;

    &:hover {
        background-color: var(--cl-elem-grey);
    }

    .icon {
        margin-left: calc(var(--gs) * 2);
    }
}
