.gallery-modal {
    .popup--wide {
        @media (--desktop-lg) {
            width: 900px;
            height: 600px;
        }
    }

    .modal-body {
        position: relative;
        padding: 0 calc(var(--gs) * 20);
        padding-top: calc(var(--gs) * 6);

        @media (--desktop-lg) {
            padding: 0 calc(var(--gs) * 28);
            padding-top: calc(var(--gs) * 6);
        }
    }

    &__body {
        position: relative;
        display: flex;
    }

    &__gallery {
        display: flex;
        height: 100%;

        &-slider {
            flex: 1;
            padding-bottom: calc(var(--gs) * 11);

            .v-slider__controls {
                bottom: calc(var(--gs) * 2);
                left: 50%;
                transform: translateX(-50%);

                .swiper-button-disabled {
                    display: flex;
                    visibility: hidden;
                }
            }
        }

        &-item {
            min-height: 600px;
            @media (--desktop-lg) {
                min-height: 400px;
            }
        }
    }
}
