.gallery-modal {
    .popup--wide {
        @media (--desktop-min) {
            width: 1100px;
            height: calc(100vh - (var(--gs) * 4));
        }

        @media (--desktop-lg-min) {
            width: 1300px;
        }
    }

    .modal-wrapper {
        outline: none !important;
    }

    .modal-body {
        position: relative;
        height: 100%;
        padding: 20px calc(var(--gs) * 15);
    }

    & .v-picture {
        width: auto;
        max-height: 100%;

        .v-picture__img {
            object-fit: contain;
        }
    }

    &__body {
        position: relative;
        display: flex;
    }

    &__gallery {
        display: flex;
        height: 100%;

        &-slider {
            flex: 1;
            padding-bottom: calc(var(--gs) * 11);

            .v-slider__controls {
                bottom: calc(var(--gs) * 2);
                left: 50%;
                transform: translateX(-50%);

                .swiper-button-disabled {
                    display: flex;
                    visibility: hidden;
                }
            }
        }

        &-item {
            min-height: 600px;

            &--backdrop {
                background-color: #ffffff;
            }

            @media (--tablet-lg-min) {
                display: flex;
                flex-flow: column;
                align-content: center;
                justify-content: center;
            }

            @media (--desktop-lg) {
                min-height: 400px;
            }
        }
    }
}
