.help-panel {
    min-width: 336px;

    .general-popup-panel__header {
        align-items: flex-start;
        margin-bottom: calc(var(--gs) * 3);
        justify-content: space-between;
    }

    .general-popup-panel__body {
        display: block;
    }

    .general-popup-panel__bottom {
        display: block;
    }

    .tooltip-arrow {
        display: none;
    }

    &__phone {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.03em;
    }

    &__info {
        margin-bottom: var(--gs);
    }

    &__socials {
        margin-bottom: calc(var(--gs) * 4);
        display: flex;

        &-icon {
            margin-left: calc(var(--gs) * 3);
            cursor: pointer;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link {
        text-transform: none;
        font-size: 16px;
        line-height: 32px;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }

    &__slot {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__controls {
        display: flex;

        &:hover {
            cursor: pointer;
        }
    }
}
