.product-option-panel {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc(var(--gs) * 2);

        &-text {
            flex: 1;
            padding-right: calc(var(--gs) * 2);
            font-size: 18px;
            line-height: 24px;

            &-option {
                font-size: 16px;
            }
        }

        &-note {
            white-space: nowrap;
        }
    }
}
