.breadcrumb-item {
    color: var(--cl-grey);
    fill: currentColor;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.02em;
    flex-shrink: 0;

    @media (--tablet) {
        font-size: 9px;
        line-height: 16px;

        &:last-child {
            padding-right: calc(var(--gs) * 2);
        }
    }

    &__link {
        border-bottom: none;
        text-transform: uppercase;
        font-size: inherit;
        line-height: inherit;
    }

    & .icon {
        margin-bottom: -2px;
    }

    & + & {
        &::after {
            content: '/';
            margin: 0 var(--gs);

            @media (--tablet) {
                margin: 0 calc(var(--gs) / 2);
            }
        }
    }
    &:first-child::after {
        content: '/';
        margin: 0 var(--gs);
    }
    &:last-child::after {
        content: '';
        margin: 0;
    }
}
