.v-chart {
    &__tooltip {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--gs) * 4);
        height: calc(var(--gs) * 4);
        background-color: var(--cl-global);
        color: var(--cl-white);
        border: 2px solid #000000;
        border-radius: 0;
    }
}

.apexcharts-xaxistooltip {
    display: none;
}

.apexcharts-tooltip {
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    transform: translateX(10px) translateY(10px);
    overflow: visible !important;
    white-space: normal !important;

    span {
        display: inline-block;
    }

    &.apexcharts-theme-light {
        border-color: transparent;
        background-color: transparent;
    }
}

.arrow_box {
    position: relative;
    background: var(--cl-global);
    border: 2px solid var(--cl-global);
    width: 32px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--right {
        transform: translate(50%, -100%);
    }

    &--left {
        transform: translate(-110%, -100%);
    }
}

.arrow_box:after,
.arrow_box:before {
    right: 4px;
    bottom: calc(-100% + 0px);
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: transparent;
    border-top-color: var(--cl-global);
    border-width: 10px;
}
