.cart-product-panel {
    &__alert {
        display: flex;
        align-items: center;
        padding: calc(var(--gs) * 2) calc(var(--gs) * 3);
        background-color: var(--cl-elem-grey);
        margin-bottom: calc(var(--gs) * 2);

        @media (--tablet) {
            padding: calc(var(--gs) * 2);
        }

        .icon {
            margin-right: calc(var(--gs) * 2);
        }
    }

    &__list {
        &-item {
            transition: all 0.5s;
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet) {
                margin-bottom: calc(var(--gs) * 2);
                padding-bottom: var(--gs);
                border-bottom: 1px solid var(--cl-divider-grey);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
