.cart-product-panel {
    &__alert {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: calc(var(--gs) * 2) calc(var(--gs) * 3);
        background-color: var(--cl-elem-grey);
        margin-bottom: calc(var(--gs) * 2);

        @media (--tablet) {
            padding: calc(var(--gs) * 2);
        }
    }

    &__list {
        &-item {
            transition: all 0.5s;
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet) {
                margin-bottom: calc(var(--gs) * 2);
                padding-bottom: var(--gs);
                padding-left: calc(var(--gs) * 2);
                border-bottom: 1px solid var(--cl-divider-grey);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__list + &__list-header {
        padding: 40px calc(var(--gs) * 2) calc(var(--gs) * 2) calc(var(--gs) * 2);
    }

    &__list-header {
        padding: 0 calc(var(--gs) * 2) calc(var(--gs) * 2) calc(var(--gs) * 2);
        margin-bottom: calc(var(--gs) * 2);
        border-bottom: 1px solid var(--cl-divider-grey);
    }

    &__list-header-title {
        font-size: calc(var(--gs) * 2);
        font-weight: bold;
        line-height: calc(var(--gs) * 3);
        text-transform: uppercase;
    }

    &__list-header-hint {
        color: var(--cl-grey);
        font-size: 14px;
        line-height: calc(var(--gs) * 3);
    }

    @media (--tablet-min) {
        &__list + &__list-header {
            padding: calc(var(--gs) * 5) 0 calc(var(--gs) * 2) 0;
        }

        &__list-header {
            padding: 0 0 calc(var(--gs) * 2) 0;
            margin-bottom: calc(var(--gs) * 3);
            border-top: none;
        }

        &__list-header-title {
            font-size: 16px;
        }
    }

    .diploma-codes {
        display: flex;
        align-items: center;

        &__input {
            input {
                min-width: 230px;
            }
        }

        &__btn {
            margin-left: 10px;
        }

        &:first-child {
            padding-top: 20px;
        }
    }
}
