.remote-banner-placement {
    position: relative;

    .v-slider__controls {
        left: 50%;
        bottom: auto;
        height: 44px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(3px);
        border-radius: 22px;
        transform: translateX(-50%);

        @media(--tablet-lg) {
            height: 22px;
        }

        svg {
            fill: white;
        }

        .swiper-pagination-bullet {
            background: white;
        }
    }
}
