.banner-placement {
    display: flex;
    position: relative;
    cursor: pointer;
    border-bottom: none;

    &__img {
        display: flex;
        height: auto;
        width: 100%;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 100%;
                padding-bottom: 0;
            }
        }

        &::before {
            pointer-events: none;
            content: '';
            position: absolute;
            display: block;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--cl-global);
            opacity: 0.03;
        }

        .v-picture {
            width: 100%;
            height: 100%;
        }
    }
}
