.header-bottom {
    background-color: var(--cl-white);

    @media (--tablet-lg) {
        max-height: calc(var(--gs) * 8);
    }

    @media (--tablet) {
        max-height: calc(var(--gs) * 6);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--scroll &__bottom {
        padding: calc(var(--gs) + 1px) 0;

        @media (--tablet) {
            padding: calc(var(--gs) + 1px) 0;
        }

        &-nav {
            /*max-width: 700px;*/
            margin-right: auto;

            @media (--tablet) {
                margin-right: 0;
            }
        }

        &-user {
            .header-user-panel__item--wishlist {
                fill: var(--cl-white);
                color: var(--cl-global);

                .header-user-panel__item-count {
                    font-weight: 700;
                }
            }
        }
    }

    &__bottom {
        padding: calc(var(--gs) * 1.5) 0;
        background-color: var(--cl-global);
        color: var(--cl-white);
        fill: var(--cl-white);

        @media (--tablet-lg) {
            padding-top: calc(var(--gs) * 2.5);
            padding-bottom: calc(var(--gs) * 2.5);
        }

        @media (--tablet) {
            padding: calc(var(--gs) + 1px) 0;
        }

        &-logo {
            display: flex;
            align-items: stretch;
            border-bottom: none;

            @media (--tablet-lg) {
                display: none;
            }

            &::after {
                content: '';
                display: block;
                margin: 0 calc(var(--gs) * 2.5);
                border-left: 1px solid var(--cl-white);
                opacity: 0.3;
            }

            &-middle {
                display: none;

                @media (--tablet-lg) {
                    display: flex;
                    align-items: stretch;
                    border-bottom: none;
                    margin-right: auto;
                }

                @media (--tablet-lg) and (--tablet-min) {
                    margin-top: -4px;
                }

                .icon:first-of-type {
                    @media (--tablet-lg) {
                        height: 28px;
                    }

                    @media (--tablet) {
                        display: none;
                    }
                }

                .icon:last-of-type {
                    @media (--tablet-min) {
                        display: none;
                    }
                }
            }
        }

        &-nav {
            width: 100%;

            @media (--tablet-lg) {
                width: auto;
                flex: 1;
                margin-right: 0;
            }
        }

        &-search {
            margin-left: calc(var(--gs) * 3);

            .search-filter__input {
                display: none;
            }
        }

        &-user {
            .header-user-panel__item {
                &:first-child {
                    margin-left: calc(var(--gs) * 3);

                    @media (--desktop) {
                        margin-left: calc(var(--gs) * 2);
                    }
                }
            }

            .header-user-panel__item-sum {
                @media (--desktop) {
                    display: none;
                }
            }
        }

        &-menu {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }
    }

    &__mask {
        position: absolute;
        z-index: 900;
        border-top: 1px solid var(--cl-divider-grey);
        background-color: rgba(0, 0, 0, 0.8);
        height: calc(100vh - calc(var(--gs) * 15));
        width: 100%;
        overflow: auto;

        @media (--tablet-lg) {
            height: 100vh;
            border-top: none;
        }
    }

    &--scroll &__mask {
        @media (--tablet-lg-min) {
            height: 100vh;
        }
    }

    &__search {
        .search-panel__container {
            padding-top: 0;
        }
    }

    &--scroll button.header-navigation-panel__item {
        margin-left: 5px;
    }
}
