.nav-panel {
    border-top: 1px solid var(--cl-divider-grey);
    max-height: 100%;
    background-color: var(--cl-white);
    padding: calc(var(--gs) * 5) 0;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;

    @media (--desktop) {
        padding: calc(var(--gs) * 2) 0;
    }

    &__main {
        display: flex;
        height: 100%;
        min-height: 584px;

        &-list {
            display: flex;
            flex-wrap: wrap;
            flex: 1;

            &-title {
                font-size: 14px;
                line-height: 32px;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: var(--gs);
            }

            &-child {
                text-transform: none;
                line-height: 32px;
                font-weight: 400;
            }

            &-item {
                width: calc(100% / 4);
                padding-right: calc(var(--gs) * 3);
                margin-bottom: calc(var(--gs) * 5);
            }
        }

        &-banner {
            flex-basis: 32%;
        }
    }
}
