.nav-panel {
    border-top: 1px solid var(--cl-divider-grey);
    max-height: 100%;
    background-color: var(--cl-white);
    padding: calc(var(--gs) * 5) 0;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;

    @media (--desktop) {
        padding: calc(var(--gs) * 2) 0;
    }

    &__main {
        display: flex;
        height: 100%;

        &-list {
            display: flex;
            flex-wrap: wrap;
            flex: 1;

            &-link,
            &-title {
                line-height: 32px;
                font-weight: 400;
                border-bottom: 1px solid transparent;
                text-transform: none;

                &:hover {
                    border-bottom: 1px solid var(--cl-global);
                }
            }

            &-title {
                text-transform: uppercase;
                font-weight: bold;
            }

            &-item {
                width: calc(100% / 4);
                padding-right: calc(var(--gs) * 3);
                margin-bottom: calc(var(--gs) * 5);
            }

            &-expander {
                .v-expander__content {
                    margin-bottom: 0;
                }

                .v-expander__btn {
                    font-size: 16px;
                    margin: var(--gs) 0;
                    font-weight: 400;
                    border-bottom: 1px solid transparent;
                    text-transform: none;
                    color: var(--cl-grey);

                    &:hover {
                        border-bottom: 1px solid var(--cl-grey);
                    }
                }
            }
        }

        &-banner {
            flex-basis: 32%;
            max-height: 502px;

            @media (--tablet-lg-min) {
                height: 502px;
            }
        }
    }
}
