.nav-panel {
    border-top: 1px solid var(--cl-divider-grey);
    max-height: 100%;
    background-color: var(--cl-white);
    padding: calc(var(--gs) * 5) 0;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;

    @media (--desktop) {
        padding: calc(var(--gs) * 2) 0;
    }

    &__main {
        display: flex;
        height: 100%;

        &-list {
            flex: 1;
        }

        &-banner {
            flex-basis: 32%;
            max-height: 502px;

            @media (--tablet-lg-min) {
                height: 502px;
            }
        }
    }
}
