.slider-banners-section {
    display: flex;
    margin-bottom: calc(var(--gs) * 8);

    @media (--desktop-lg-min) {
        padding: 0;
    }

    @media (--desktop-min) {
        max-height: 420px;
    }

    @media (--desktop-lg) and (--tablet-height) {
        margin-bottom: calc(var(--gs) * 4);
    }

    @media (--desktop) {
        padding: 0;
    }

    @media (--tablet-lg) {
        margin-bottom: calc(var(--gs) * 4);
    }

    &__card {
        display: flex;
        height: 100%;

        .catalog-banner-card__img {
            &::after {
                content: '';
                display: block;
                padding-bottom: 34.3%;

                @media (--tablet-lg) {
                    padding-bottom: 52%;
                }

                @media (--tablet) {
                    padding-bottom: 85%;
                }

                @supports (-moz-user-select: none) {
                    margin-top: 34.3%;
                    padding-bottom: 0;

                    @media (--tablet-lg) {
                        margin-top: 52%;
                    }

                    @media (--tablet) {
                        margin-top: 85%;
                    }
                }
            }

            .v-picture {
                &__img {
                    font-family: 'object-fit: fill;';

                    @supports (object-fit: fill) {
                        font-family: inherit;
                        object-fit: fill;
                    }
                }
            }

            img.v-picture {
                font-family: 'object-fit: fill;';

                @supports (object-fit: fill) {
                    font-family: inherit;
                    object-fit: fill;
                }
            }
        }
    }

    &__slider {
        width: 100%;
        max-width: 1224px;
        padding: 0;

        .v-slider__controls {
            left: 50%;
            bottom: var(--gs);
            transform: translateX(-50%);

            .swiper-pagination {
                position: relative;
                @media (--tablet-lg) {
                    bottom: calc(var(--gs) * 2);
                }
            }

            .swiper-pagination-bullet {
                background-color: var(--cl-black);
                opacity: 1;
                margin: 0 var(--gs);

                &-active {
                    opacity: 1;
                    background-color: var(--cl-black);
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                fill: var(--cl-black);
                height: 44px;
                width: 44px;
                border-radius: 50%;
                transition: all 0.2s ease-in;

                &:hover {
                    opacity: 0.8;
                    background: var(--cl-white);
                    fill: var(--cl-global);
                }
            }
        }
    }
}
