.slider-banners-section {
    --slider-banners-section-controls-color: #000000;
    &:hover {
        .v-slider__controls {
            background: rgba(0, 0, 0, 0.1);
        }
     }
    display: flex;
    margin-bottom: calc(var(--gs) * 8);
    transition: background-color 0.2s;

    @media (--desktop-lg-min) {
        padding: 0;
    }

    @media (--desktop-min) {
    }

    @media (--desktop-lg) and (--tablet-height) {
        margin-bottom: calc(var(--gs) * 4);
    }

    @media (--desktop) {
        padding: 0;
    }

    @media (--tablet-lg) {
        margin-bottom: calc(var(--gs) * 4);
    }

    &__card {
        display: flex;
        height: 100%;

        .catalog-banner-card__img {
            &::before {
                content: none;
            }

            &::after {
                content: '';
                display: block;
                padding-bottom: 34.3%;

                @media (--tablet-lg) {
                    padding-bottom: 52%;
                }

                @media (--tablet) {
                    padding-bottom: 85%;
                }

                @supports (-moz-user-select: none) {
                    margin-top: 34.3%;
                    padding-bottom: 0;

                    @media (--tablet-lg) {
                        margin-top: 52%;
                    }

                    @media (--tablet) {
                        margin-top: 85%;
                    }
                }
            }

            .v-picture {
                &__img {
                    font-family: 'object-fit: fill;';

                    @supports (object-fit: fill) {
                        font-family: inherit;
                        object-fit: fill;
                    }
                }
            }

            img.v-picture {
                font-family: 'object-fit: fill;';

                @supports (object-fit: fill) {
                    font-family: inherit;
                    object-fit: fill;
                }
            }
        }
    }

    &__slider {
        width: 100%;
        max-width: 1224px;
        padding: 0;

        .v-slider__controls {
            transition: all 0.2s ease-in;
            left: 50%;
            bottom: var(--gs);
            height: 37px;
            border-radius: 22px;
            transform: translateX(-50%);

            @media(--tablet-lg) {
                height: 22px;
            }

            svg {
                fill: var(--slider-banners-section-controls-color);
            }

            .swiper-pagination {
                position: relative;
                @media (--tablet-lg) {
                    bottom: calc(var(--gs) * 2);
                }
            }

            .swiper-pagination-bullet {
                background: var(--slider-banners-section-controls-color);
                opacity: 1;
                margin: 0 var(--gs);

                &-active {
                    opacity: 1;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                fill: var(--slider-banners-section-controls-color);
                height: 44px;
                width: 44px;
                border-radius: 50%;
                transition: all 0.2s ease-in;

                &:hover {
                    background: transparent;
                }
            }
        }
    }
}
