.breadcrumbs {
    display: flex;
    overflow: auto;
    padding-top: calc(var(--gs) * 1.5);
    padding-bottom: calc(var(--gs) * 1.5);

    @media (--tablet) {
        padding-top: var(--gs);
        padding-bottom: var(--gs);
    }

    @media (--tablet-lg-min) {
        flex-wrap: wrap;
    }
}
