.referral-chart {
    position: relative;

    & > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

    &__wrapper {
        overflow-x: auto;
    }

    &__axis {
        background-color: var(--cl-white);
    }
}
