@import '../assets/styles/normalize.css';
@import '../assets/styles/animation.css';

.fake-vue-body {
    display: flex;
    flex-direction: column;
    background: var(--cl-white);
    padding-top: 166px;
    min-height: 100vh;
    overflow: hidden;

    @supports (grid-template-columns: auto) {
        transition: padding-top var(--time) var(--timing-function);
    }

    &--scroll {
        padding-top: 48px;
    }

    @media (--tablet-lg) {
        padding-top: 48px;
    }
}

.container {
    position: relative;
    min-width: var(--mobile-sm-size-min);
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 calc(var(--gs) * 13.5);

    @media (--desktop) {
        padding: 0 calc(var(--gs) * 5);
    }

    @media (--tablet-lg) {
        padding: 0 calc(var(--gs) * 3);
    }
}

.section {
    position: relative;

    &__hl {
        margin: 0 0 var(--g) 0;
        text-align: center;
    }
}

.view {
    margin: 0 auto;
    position: relative;
}
