@import '../assets/styles/base.css';
@import '../assets/styles/fonts.css';
@import '../assets/styles/helpers.css';
@import '../assets/styles/list.css';
@import '../assets/styles/tooltip.css';

.blur-up {
    filter: blur(5px);
}

.blur-up.lazyloaded {
    filter: blur(0);
    transition: filter 400ms, -webkit-filter 400ms;
}

.no-js {
    filter: blur(0) !important;
}
