@import '../assets/styles/normalize.css';
@import '../assets/styles/animation.css';
@import '../assets/styles/container.css';

.fake-vue-body {
    display: flex;
    flex-direction: column;
    background: var(--cl-white);
    padding-top: 168px;
    min-height: 100vh;

    @supports (grid-template-columns: auto) {
        transition: padding-top 500ms var(--timing-function);
    }

    &--scroll {
        padding-top: 48px;
    }

    @media (--tablet-lg) {
        padding-top: calc(var(--gs) * 8);
    }

    @media (--tablet) {
        padding-top: calc(var(--gs) * 6);
    }
}

.view {
    margin: 0 auto;
    position: relative;
}
