.tag {
    font-size: 13px;
    line-height: 16px;
    padding: calc(var(--gs) / 2) var(--gs);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    pointer-events: none;
    font-weight: bold;

    @media (--tablet) {
        padding: 0;
    }
}
