.university-view {
    &__header {
        display: flex;
        flex-direction: column;

        @media (--tablet-lg) {
            margin-bottom: 0;
            padding: 0;
        }
    }

    &__breadcrumbs {
        order: 0;
        margin: var(--gs) 0;

        @media (--tablet-lg) {
            order: 1;
            padding: 0 calc(var(--gs) * 3);
        }

        @media (--tablet) {
            padding: 0 calc(var(--gs) * 2);
            z-index: 1;
        }

        .breadcrumb-item {
            @media (--tablet) {
                color: var(--cl-white);
            }
        }
    }

    &__top {
        &-img {
            width: 100%;
        }

        @media (--tablet) {
            padding: 0;
            margin-top: calc(var(--gs) * -5);
            z-index: 0;
        }

        &-container {
            @media (--tablet) {
                padding: 0;
            }
        }
    }

    &__main {
        @media (--tablet-lg) {
            padding: 0;
        }

        &-h2 {
            font-size: 28px;
            line-height: 40px;
            font-weight: normal;
            text-align: center;
            padding: calc(var(--gs) * 7);

            @media (--tablet-lg) {
                font-size: 16px;
                line-height: 24px;
                padding: calc(var(--gs) * 4) calc(var(--gs) * 2);
            }
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            @media (--tablet) {
                padding: 0;
                z-index: 0;
            }

            &--reverse {
                @media (--tablet-lg) {
                    flex-wrap: wrap-reverse;
                }
            }

            &--img {
                flex: 1 0 50%;
                text-align: center;
            }

            &--content {
                flex: 1 0 50%;
                padding: 0 calc(var(--gs) * 13) 0 calc(var(--gs) * 15);
                @media (--desktop) {
                    padding: calc(var(--gs) * 7) calc(var(--gs) * 4);
                }
                @media (--tablet-lg) {
                    flex: 1 0 100%;
                    padding: calc(var(--gs) * 3) calc(var(--gs) * 2);
                }
            }
        }
    }

    &__slider {
        &-title {
            position: absolute;
            &-h1 {
                font-weight: 500;
                font-size: 28px;
                line-height: 40px;
            }
        }

        &-gallery {
            .swiper-slide {
                @media (--tablet-lg) {
                    width: 80% !important;
                }

                img {
                    width: 100%;
                }
            }

            .swiper-wrapper {
                padding-top: calc(var(--gs) * 7);
            }

            .v-slider__controls {
                position: relative;
                bottom: 320px;
                right: 0;
                display: flex;
                justify-content: flex-end;

                @media (--tablet-lg) {
                    position: relative;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                }

                .swiper-pagination {
                    display: block;
                }
            }
        }
    }

    &__feedback {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: calc(var(--gs) * 7);

        @media (--tablet) {
            padding: calc(var(--gs) * 4) calc(var(--gs) * 2);
            margin-top: calc(var(--gs) * 4);
        }

        &-section {
            background: var(--cl-elem-grey);
        }

        &-content {
            flex: 0 0 50%;
            padding: 0 calc(var(--gs) * 13) 0 calc(var(--gs) * 14);

            @media (--desktop) {
                padding: calc(var(--gs) * 3) calc(var(--gs) * 2);
            }

            @media (--tablet-lg) {
                flex: 1 0 50%;
                padding: calc(var(--gs) * 3) calc(var(--gs) * 2);
            }

            @media (--tablet) {
                padding: 0;
                flex: 0 0 100%;
            }

            &-h1 {
                font-weight: 600;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            &--action {
                &-btn {
                    display: flex;
                    padding: 0;

                    &--icon {
                        width: 18px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }
            }

            &-text {
                margin-bottom: calc(var(--gs) * 3);
            }
        }

        &-form {
            flex: 0 0 50%;
            padding: calc(var(--gs) * 7) calc(var(--gs) * 11);

            @media (--desktop) {
                padding: calc(var(--gs) * 7) calc(var(--gs) * 2);
            }

            @media (--tablet-lg) {
                padding: calc(var(--gs) * 4) calc(var(--gs) * 2);
            }

            @media (--tablet) {
                padding: 0;
                flex: 0 0 100%;
            }

            &-message {
                .v-input__input {
                    min-height: calc(var(--gs) * 15);
                }
            }

            &-submit {
                &-btn {
                    @media (--tablet) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
