.university-view {
    &__breadcrumbs {
        order: 0;

        @media (--tablet-lg) {
            order: 1;
        }

        @media (--tablet) {
            z-index: 1;
        }

        .breadcrumb-item {
            @media (--tablet) {
                color: var(--cl-white);
            }
        }
    }

    &__top {
        &-img {
            width: 100%;
            display: block;
            img {
                width: 100%;
                display: block;
            }
        }

        @media (--tablet) {
            padding: 0;
            margin-top: calc(var(--gs) * -5);
            z-index: 0;
        }

        &-container {
            @media (--tablet) {
                padding: 0;
            }
        }
    }

    &__main {
        @media (--tablet-lg) {
            padding: 0;
        }

        &-h1 {
            font-size: 28px;
            line-height: 40px;
            font-weight: normal;
            text-align: center;
            padding: calc(var(--gs) * 7);

            @media (--tablet-lg) {
                font-size: 16px;
                line-height: 24px;
                padding: calc(var(--gs) * 4) calc(var(--gs) * 2);
            }
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            @media (--tablet) {
                padding: 0;
                z-index: 0;
            }

            &-h2 {
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.05em;
                text-transform: uppercase;

                @media (--tablet) {
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.02em;
                }
            }

            &--reverse {
                @media (--tablet-lg) {
                    flex-wrap: wrap-reverse;
                }
            }

            &--img {
                width: 100%;
                text-align: center;
                display: inline;
            }

            &--image {
                 flex: 0 0 50%;

                @media (--tablet-lg) {
                    flex: 0 0 100%;
                }

                &--img {
                     width: 100%;
                }
            }

            &--content {
                flex: 1 0 50%;
                padding: 0 calc(var(--gs) * 13) 0 calc(var(--gs) * 15);

                @media (--desktop) {
                    padding: calc(var(--gs) * 7) calc(var(--gs) * 4);
                }

                @media (--tablet-lg) {
                    flex: 1 0 100%;
                    padding: calc(var(--gs) * 3) calc(var(--gs) * 2);
                }
            }
        }
    }

    &__feedback {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: calc(var(--gs) * 7);

        @media (--tablet) {
            padding: calc(var(--gs) * 4) calc(var(--gs) * 2);
            margin-top: calc(var(--gs) * 4);
        }

        &-section {
            background: var(--cl-elem-grey);
        }

        &-content {
            flex: 0 0 50%;
            padding: 0 calc(var(--gs) * 13) 0 calc(var(--gs) * 14);

            @media (--desktop) {
                padding: calc(var(--gs) * 3) calc(var(--gs) * 2);
            }

            @media (--tablet-lg) {
                flex: 1 0 50%;
                padding: calc(var(--gs) * 3) calc(var(--gs) * 2);
            }

            @media (--tablet) {
                padding: 0;
                flex: 0 0 100%;
            }

            &-h1 {
                font-weight: 600;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            &--action {
                &-btn {
                    display: flex;
                    padding: 0;

                    &--icon {
                        width: 18px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }
            }

            &-text {
                margin-bottom: calc(var(--gs) * 3);
            }
        }

        &-form {
            flex: 0 0 50%;
            padding: calc(var(--gs) * 7) calc(var(--gs) * 11);

            @media (--desktop) {
                padding: calc(var(--gs) * 7) calc(var(--gs) * 2);
            }

            @media (--tablet-lg) {
                padding: calc(var(--gs) * 4) calc(var(--gs) * 2);
            }

            @media (--tablet) {
                padding: 0;
                flex: 0 0 100%;
            }

            &-message {
                .v-input__input {
                    min-height: calc(var(--gs) * 15);
                }
            }

            &-submit {
                &-btn {
                    @media (--tablet) {
                        width: 100%;
                    }
                }
            }
        }
    }
}