.how-it-works-view {
    &__hl {
        margin-bottom: calc(var(--gs) * 3);
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (--tablet-lg) {
            display: none;
        }
    }

    &__accordion {
        border-top: 1px solid var(--cl-divider-grey);

        &-header {
            text-align: left;
        }

        &-content {
            padding-bottom: calc(var(--gs) * 3);
        }

        &-desc {
            margin-bottom: calc(var(--gs) * 4);
        }

        &-img {
            margin-bottom: calc(var(--gs) * 3);
        }

        &-links {
            display: flex;
            flex-direction: column;
        }

        &-link {
            display: inline-flex;
            font-weight: bold;

            & + & {
                margin-top: var(--gs);
            }

            @media (--tablet) {
                justify-content: space-between;
                align-items: center;
            }
        }

        .v-accordion__item + .v-accordion__item {
            margin-top: 0;
        }

        .v-accordion__item-btn {
            padding: calc(var(--gs) * 2) 0;
            border: none;
            border-bottom: 1px solid var(--cl-divider-grey);
            text-align: left;

            @media (--tablet-lg) {
                padding: calc(var(--gs) * 2) calc(var(--gs) * 3);
            }

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
            }
        }

        .v-accordion__item:hover .v-accordion__item-btn {
            border: none;
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        .v-accordion__item-panel {
            border: none;
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        .v-accordion__item--expanded {
            .v-accordion__item-btn {
                border-bottom-color: transparent !important;
            }
        }
    }
}
