.cart-header-region-panel {
    max-width: calc(var(--gs) * 40);

    &__city {
        display: flex;
        align-items: center;

        &-name {
            font-size: 16px;
            text-transform: none;
            @media(max-width: 628px) {
                max-width: 100px;
                text-overflow: ellipsis;
            }
        }

        .icon {
            margin-right: var(--gs);
        }
    }

    &__description {
        font-size: 14px;
        line-height: 16px;
        color: var(--cl-grey);
    }
}

.region-panel-modal-pickup {
    margin-bottom: 20px;
    &__mobile {
         margin-bottom: 0;
     }
}