.masterclasses-view {
    padding-bottom: calc(var(--gs) * 10);

    @media (--tablet-lg) {
        padding-bottom: calc(var(--gs) * 4);
    }

    &__section {
        &-hl {
            font-size: 28px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet) {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.02em;
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet-lg) {
            padding: 0;
            margin-bottom: calc(var(--gs) * 3);
        }
    }

    &__breadcrumbs {
        width: 100%;
        order: 0;

        @media (--tablet-lg) {
            order: 1;
        }
    }

    &__sets {
        @media (--tablet-lg) {
            padding-bottom: calc(var(--gs) * 4);
            margin-bottom: calc(var(--gs) * 4);
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        @media (--tablet) {
            padding-bottom: calc(var(--gs) * 3);
            margin-bottom: calc(var(--gs) * 3);
        }

        &-header {
            display: flex;
            flex-direction: column;

            @media (--tablet-lg) {
                margin-bottom: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                margin-bottom: calc(var(--gs) * 2);
                padding: 0;
            }

            &-hl {
                margin-bottom: 0;
                white-space: nowrap;

                @media (--tablet-lg) {
                    margin-bottom: calc(var(--gs) * 2);
                }

                @media (--tablet) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: calc(var(--gs) * 3);
                }

                &-count {
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: normal;
                    text-transform: none;
                    margin-left: var(--gs);

                    @media (--tablet) {
                        margin-left: 0;
                    }
                }
            }

            &-btn {
                width: 100%;
            }

            &-select {
                width: 236px;
                margin: 0 var(--gs);

                @media (--desktop) {
                    width: 190px;
                }

                @media (--desktop) and (--tablet-lg-min) {
                    margin: 0 calc(var(--gs) / 2);
                }

                @media (--tablet-lg) {
                    width: calc(100% / 3);
                    margin-bottom: var(--gs);
                }

                @media (--tablet) {
                    width: 100%;
                    margin: 0;
                }

                & + & {
                    @media (--tablet) {
                        margin-top: var(--gs);
                    }
                }
            }

            &-switch {
                align-self: flex-start;
                white-space: nowrap;
                margin-right: calc(var(--gs) * 5);

                @media (--tablet-lg) {
                    display: none;
                }
            }

            &-panel {
                flex: 1;
                flex-wrap: wrap;
                justify-content: flex-start;

                @media (--tablet-lg) {
                    display: none;
                }
            }

            &-top,
            &-bottom {
                display: flex;
                justify-content: space-between;

                &-controls {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            &-bottom {
                margin-bottom: calc(var(--gs) * 3);

                @media (--tablet-lg) {
                    display: none;
                }

                &-controls {
                    @media (--tablet) {
                        display: none;
                    }
                }
            }

            &-top {
                margin-bottom: calc(var(--gs) * 3);

                @media (--tablet-lg) {
                    flex-direction: column;
                    margin-bottom: 0;
                }

                &-controls {
                    justify-content: flex-end;

                    @media (--tablet-lg) {
                        justify-content: flex-start;
                        margin: 0 calc(var(--gs) * -1);
                    }

                    @media (--tablet) {
                        flex-wrap: wrap;
                        margin: 0;
                    }
                }
            }
        }

        &-container {
            @media (--tablet) {
                margin: 0;
                padding: 0;
            }
        }

        &-placeholder {
            padding: calc(var(--gs) * 4) 0;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 calc(var(--gs) * -3 / 2);

            @media (--tablet-lg) {
                padding-bottom: calc(var(--gs) * 4);
            }

            @media (--tablet) {
                margin: 0;
                padding: 0 0 calc(var(--gs) * 4);
            }

            &-item {
                width: calc(calc(100% / 3) - calc(var(--gs) * 3));
                margin: 0 calc(var(--gs) * 3 / 2);
                margin-bottom: calc(var(--gs) * 3);

                &:last-child {
                    @media (--tablet) {
                        margin-bottom: 0;
                    }
                }

                @media (--tablet-lg) {
                    width: calc(calc(100% / 2) - calc(var(--gs) * 3));
                    margin: 0 calc(var(--gs) * 1.5);
                }

                @media (--tablet) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: calc(var(--gs) * 3);
                }
            }

            &-item--banner {
                width: calc(66.66667% - 24px);

                @media (--tablet-lg) {
                    width: calc(calc(100% / 2) - calc(var(--gs) * 3));
                    margin: 0 calc(var(--gs) * 1.5);
                }

                @media (--tablet) {
                    width: 100%;
                    margin: 0 0 calc(var(--gs) * 3) 0;
                }
            }
        }

        &-controls {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: calc(var(--gs) * 7);
            margin-bottom: calc(var(--gs) * 7);
            border-bottom: 1px solid var(--cl-divider-grey);

            @media (--tablet-lg) {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }

            &-btn {
                width: 100%;

                @media (--tablet) {
                    width: calc(100% - calc(var(--gs) * 4));
                }
            }
        }
    }

    &__banner {
        order: 1;
        max-height: 240px;

        &--no-link {
            cursor: auto;
        }

        @media (max-width: 1440px) {
            max-height: 16vw;
        }

        @media (--desktop) {
            max-height: 18vw;
        }

        @media (--tablet-lg) {
            order: 0;
            max-height: 31vw;
        }

        @media (--tablet) {
            max-height: 73vw;
        }
    }

    &__banners {
        order: 1;

        @media (--tablet-lg) {
            order: 0;
        }

        &-slider {
            height: 360px;

            @media (--tablet) {
                height: 240px;
            }

            &-item {
                .master-class-banner-card__panel {
                    @media (--tablet) {
                        bottom: calc(var(--gs) * 5);
                    }
                }
            }

            .v-slider__controls {
                left: 50%;
                bottom: var(--gs);
                transform: translateX(-50%);

                @media (--tablet-lg) {
                    bottom: calc(var(--gs) * 3);
                }

                @media (--tablet) {
                    bottom: calc(var(--gs) * 2);
                }

                .swiper-pagination {
                    position: relative;
                    @media (--tablet-lg) {
                        bottom: calc(var(--gs) * 2);
                    }
                }

                .swiper-pagination-bullet {
                    background-color: var(--cl-white);
                    opacity: 0.3;
                    margin: 0 var(--gs);

                    &-active {
                        opacity: 1;
                        background-color: var(--cl-white);
                    }
                }

                .swiper-button-next,
                .swiper-button-prev {
                    fill: var(--cl-white);
                    height: 44px;
                    width: 44px;
                    border-radius: 50%;
                    transition: all 0.2s ease-in;

                    &:hover {
                        opacity: 0.8;
                        background: var(--cl-white);
                        fill: var(--cl-global);
                    }
                }
            }
        }
    }

    &__modal-filter {
        .modal-body {
            position: relative;
            padding: 0;
        }

        &-sticky {
            width: 100%;
            display: flex;
            flex-direction: column;

            .v-sticky__container {
                z-index: 1000;
            }
        }

        &-header {
            background-color: var(--cl-global);
            padding: calc(var(--gs) * 1.5) calc(var(--gs) * 3);

            @media (--tablet) {
                padding: calc(var(--gs) * 1.5) calc(var(--gs) * 2);
            }

            &-btn {
                display: flex;
                align-items: center;
                fill: var(--cl-white) !important;
                color: var(--cl-white) !important;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-transform: uppercase;

                .icon {
                    margin-right: calc(var(--gs) * 1.5);
                }
            }
        }

        &-sort {
            padding: calc(var(--gs) * 3);

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
            }

            &-title {
                font-size: 20px;
                margin-bottom: calc(var(--gs) * 2);
                font-weight: 500;
            }

            &-item {
                line-height: calc(var(--gs) * 4);

                & + & {
                    margin-top: var(--gs);
                }

                &--active {
                    font-weight: bold;
                }
            }

            &-btn {
                text-transform: inherit;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
            }
        }

        &-panel {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .v-accordion__item {
                padding: 0 calc(var(--gs) * 3);
                padding-top: calc(var(--gs) * 2);

                @media (--tablet) {
                    padding: 0 calc(var(--gs) * 2);
                    padding-top: calc(var(--gs) * 2);
                }

                &-btn {
                    padding-bottom: var(--gs);
                }
            }

            .v-accordion__item + .v-accordion__item {
                margin-top: var(--gs);
            }

            .catalog-filter__clear-btn {
                position: sticky;
                bottom: 0;
                margin-bottom: 0;
                z-index: 1;
                padding: calc(var(--gs) * 1.5) calc(var(--gs) * 2);
                background-color: var(--cl-white) !important;
                border-color: var(--cl-white) !important;
                color: var(--cl-global) !important;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            }

            .catalog-filter__filters {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: 100%;
            }
        }

        &-controls {
            @media (--tablet-lg) {
                position: sticky;
                display: flex;
                bottom: 0;
                z-index: 1;
                padding: calc(var(--gs) * 1.5) calc(var(--gs) * 2);
                background-color: var(--cl-global-invert);
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            }
        }

        &-clear-btn {
            &:hover {
                @media (--tablet-lg) {
                    color: var(--cl-global);
                    background: var(--cl-global-invert);
                }
            }
            @media (--tablet-lg) {
                margin-bottom: 0;
                width: auto;
                padding: 0;
                margin: 6px calc(var(--gs) * 2);
                border: none;
                border-bottom: 2px solid var(--cl-global);
            }
        }

        &-close-btn {
            @media (--tablet-lg) {
                width: 100%;
            }
        }
    }

    .list-item-enter {
        transform: translateX(30%);
    }

    .list-item-leave-to {
        transform: translateX(300%);
    }

    .list-item-leave-active {
        position: absolute;
    }
}
