.v-input {
    position: relative;

    &__input {
        margin: 0 !important;
    }

    &__container {
        position: relative;
        display: flex;
        margin-bottom: calc(var(--gs) / 2);
    }

    &__error {
        position: relative;
        min-height: calc(var(--gs) * 2.5);
    }
}
