.create-review-panel {
    &__form {
        display: flex;

        @media (--tablet-lg) {
            display: block;
        }

        &-review {
            max-width: calc(var(--gs) * 49);
            margin-right: calc(var(--gs) * 3);
            margin-top: var(--gs);
        }

        &-rating {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: calc(var(--gs) * 3);
            white-space: nowrap;

            &-text {
                font-weight: bold;
                margin-right: calc(var(--gs) * 2);
                transition: color var(--time) ease-in;
                border-bottom: 1px solid transparent;

                &--error {
                    border-bottom-color: var(--cl-red);
                }
            }
        }

        &-content {
            display: flex;
            flex-wrap: wrap;

            @media (--tablet) {
                display: block;
            }
        }

        &-input {
            min-height: calc(var(--gs) * 11);
            margin-bottom: calc(var(--gs) * 2);
        }

        &-cell {
            width: calc(50% - calc(var(--gs) * 1.5));

            @media (--tablet) {
                width: 100%;
            }

            &:nth-child(odd) {
                margin-right: calc(var(--gs) * 3);

                @media (--tablet) {
                    margin-right: 0;
                }
            }

            textarea {
                min-height: calc(var(--gs) * 11);
            }

            .v-input__error {
                display: none;
            }
        }

        &-title {
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }

        &-subtitle {
            font-size: 14px;
            line-height: 24px;
            color: var(--cl-grey);
            display: block;
            margin-bottom: var(--gs);
        }

        &-submit {
            margin-top: calc(var(--gs) * 3);
        }

        .vue-stars {
            > span {
                margin-right: 4px;
                cursor: pointer;
            }
        }

        .v-file__item {
            height: calc(var(--gs) * 8);
        }

        .v-file__form-label {
            text-transform: uppercase;
        }
    }
}

.hacker-atack-style {
    align-items: center;
    justify-content: flex-start;
}