.header-user-panel {
    display: flex;
    position: relative;
    justify-content: flex-end;

    .icon {
        display: block;
        position: relative;
    }

    &__account {
        position: relative;
        .trigger {
            display: flex !important;
            align-items: center;
        }
    }

    &__item {
        margin-left: calc(var(--gs) * 3);
        border-bottom: none;

        @media (--desktop) {
            margin-left: calc(var(--gs) * 2);
        }

        &:first-child {
            margin-left: 0;
        }

        &:first-child,
        &:last-child {
            display: flex;
            align-items: center;
        }

        &:nth-child(1),
        &:nth-child(2) {
            @media (--tablet) {
                display: none;
            }
        }

        &-sum {
            white-space: nowrap;
            line-height: 22px;
            padding-top: 2px;
        }

        &-count {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 60%;
            transform: translateY(-50%);
            width: 24px;
            font-size: 12px;
            line-height: 15px;
        }

        &-cart {
            .trigger {
                display: flex !important;
                align-items: center;
            }
        }
    }
}
