.v-slider {
    position: relative;
    opacity: 0;
    transition: opacity var(--animation-time) ease-in;

    &__controls {
        position: absolute;
        display: flex;
        bottom: 48px;
        z-index: 10;
    }

    &.swiper-container-initialized {
        opacity: 1;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--cl-global);
        height: 44px;
        width: 44px;
        border-radius: 50%;
        transition: all 0.2s ease-in;

        @media (--tablet-lg) {
            display: none;
        }

        &:hover {
            opacity: 0.8;
            background: var(--cl-global);
            fill: var(--cl-white);
        }
    }

    .swiper-button-next {
        background-image: none;
        right: 0;

        .icon {
            transform: rotate(270deg);
        }
    }

    .swiper-button-prev {
        background-image: none;
        left: 0;

        .icon {
            transform: rotate(90deg);
        }
    }

    .swiper-button-disabled {
        visibility: hidden;
    }

    .swiper-pagination {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0 var(--gs);
        top: 0;
        left: 0;
    }

    .swiper-pagination-bullet {
        margin: 0 var(--gs);
        width: calc(var(--gs) / 2);
        height: calc(var(--gs) / 2);
        background-color: var(--cl-grey);
        transition: all var(--time) ease-in;

        &-active {
            background-color: var(--cl-global);
            transform: scale(2);
        }
    }

    &--disabled {
        .swiper-pagination {
            display: none;
        }
    }
}
