.v-counter {
    display: inline-flex;
    align-items: center;
    height: calc(var(--gs) * 5);

    &__input,
    &__btn {
        background: var(--cl-global-invert);
        border: 1px solid transparent !important;
    }

    &__btn {
        display: flex;
        padding: 0 var(--gs);
        max-width: 40px;
        color: var(--cl-cyan);
        cursor: pointer;
        user-select: none;

        &:first-child {
            border-top-left-radius: calc(var(--gs) / 2);
            border-bottom-left-radius: calc(var(--gs) / 2);
            border-right: none;
        }

        &:last-child {
            border-top-right-radius: calc(var(--gs) / 2);
            border-bottom-right-radius: calc(var(--gs) / 2);
            border-left: none;
        }
    }

    input[type='number'] {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0 calc(var(--gs) / 2);
        border-radius: 0;
        color: var(--cl-global);
        font-size: 16px;
        text-align: center;
    }
}
