.category-tree-item {
    position: relative;

    & + & {
        margin-top: var(--gs);
    }

    &--root > &__label {
        padding-left: 0;
        text-transform: uppercase;

        &::before {
            display: none !important;
        }
    }

    &--active > &__label {
        font-weight: bold;
    }

    &--disabled > &__label {
        color: var(--cl-grey);
    }

    &__link {
        transition: none;
        border-bottom: none;
    }

    &__label {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        padding-left: calc(var(--gs) * 1.5);

        .router-link-active {
            font-weight: inherit;
        }
    }

    &__list {
        padding-top: calc(var(--gs) * 2);
        padding-bottom: calc(var(--gs) * 2);
    }

    &__list &__list {
        padding-top: var(--gs);
        padding-bottom: 0;
        padding-left: calc(var(--gs) * 1.5);
    }

    .slide-right {
        &-enter {
            transform: translateX(30px);

            &-to {
                transform: translateX(0);
                transition: all calc(var(--animation-time) * 1.5) ease;
            }
        }

        &-leave {
            transform: translateX(0);

            &-to {
                transform: translateX(30px);
                transition: all calc(var(--animation-time) * 1.5) ease;
            }
        }
    }
}
