.messages-view {
    &__hl {
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (--tablet-lg) {
            display: none;
        }
    }

    &__btn {
        @media (--tablet-lg) {
            width: 100%;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: calc(var(--gs) * 3);

        @media (--tablet-lg) {
            padding: 0 calc(var(--gs) * 3);
        }

        @media (--tablet) {
            padding: 0 calc(var(--gs) * 2);
            margin-bottom: var(--gs);
        }
    }

    &__list {
        padding: 1px;

        &-item {
            cursor: pointer;
            border-bottom: 1px solid var(--cl-divider-grey);

            @media (--tablet-lg) {
                padding: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
            }
        }
    }

    &__attention {
        padding-top: calc(var(--gs) * 4);
        fill: var(--cl-grey);

        @media (--tablet-min) {
            padding: calc(var(--gs) * 5) 0;
        }

        @media (--tablet) {
            padding: calc(var(--gs) * 3) 0;
        }
    }
}
