.v-tabs {
    &__header {
        display: flex;
        overflow: auto;
        border-bottom: 2px solid var(--cl-grey);

        &-item {
            padding: 0;
            text-transform: uppercase;
            border: none;
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            letter-spacing: 0.02em;
            padding-bottom: calc(var(--gs) * 1.5);
            border-bottom: 2px solid transparent;

            & + & {
                margin-left: calc(var(--gs) * 2);
            }

            &:hover {
                color: var(--cl-dark-blue);
                fill: var(--cl-dark-blue);
            }

            &.is-active,
            &:focus {
                border-bottom: 2px solid var(--cl-global);
            }

            &:disabled {
                border-color: var(--cl-grey);
                color: var(--cl-grey);
                background: var(--cl-white);
                fill: var(--cl-grey);
            }
        }
    }

    &__panel {

        .is-hidden + & {
            padding-top: 0;
        }
        
        position: relative;
        padding: calc(var(--gs) * 2) 0;
    }
}
