.link {
    &:hover {
    }
}

.link.is-disabled,
.is-disabled .link,
.link[disabled] {
    color: var(--cl-grey);
    fill: var(--cl-grey);
    border-color: var(--cl-grey);
    pointer-events: none;
}
