.link {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    transition: all var(--time) var(--timing-function);
    border-bottom: none;
    text-transform: uppercase;

    &--sm {
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
    }
}
