.product-view {
    .v-picture {
        width: 100%;
        height: 100%;
    }

    &__breadcrumbs {
        margin: calc(var(--gs) * 1.5) 0;
        display: flex;
        flex-wrap: wrap;
        font-size: 11px;
        line-height: 24px;
        color: var(--cl-grey);
        text-transform: uppercase;

        &-link {
            border-bottom: none;
        }

        &-item + &-item {
            &::before {
                content: '/';
                margin: 0 var(--gs);
            }
        }
    }

    &__section {
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet-lg) {
            margin-bottom: calc(var(--gs) * 4);
        }

        &-hl {
            font-size: 28px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;

            @media (--tablet) {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.02em;
            }
        }

        &-link {
            position: absolute;
            top: 0;
            right: 108px;

            @media (--desktop) {
                right: calc(var(--gs) * 5);
            }

            @media (--tablet-lg) {
                right: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                top: calc(100% - calc(var(--gs) * 7.5));
                right: 16px;
                left: 16px;
            }
        }

        &--grey {
            background-color: var(--cl-elem-grey);
        }
    }

    &__header {
        display: flex;
        margin-bottom: calc(var(--gs) * 3);

        @media (--tablet-lg) {
            flex-direction: column;
            padding: 0;
        }

        &-sticky {
            flex: 1;
            padding-right: calc(var(--gs) * 5);

            @media (--tablet-lg) {
                padding-right: 0;
                margin-bottom: calc(var(--gs) * 2);
            }

            @media (--tablet) {
                padding-right: 0;
            }

            .v-sticky {
                &__container {
                    top: 60px;
                    margin-bottom: auto;
                }
            }
        }

        &-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (--tablet-lg) {
                position: relative;
            }

            .v-slider__controls {
                @media (--tablet) {
                    bottom: 16px;
                    z-index: 10;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &-item {
                display: flex;
                background-color: var(--cl-elem-grey);
                text-align: center;
                padding: calc(var(--gs) * 4);
                margin-bottom: var(--gs);
                width: calc(50% - 4px);

                &::after {
                    content: '';
                    display: block;
                    padding-bottom: 100%;
                }

                @media (--desktop) {
                    padding: calc(var(--gs) * 2);
                }

                @media (--tablet-lg) {
                    width: auto;
                    padding: calc(var(--gs) * 5);
                    margin-bottom: 0;
                }

                &--video {
                    padding: 0;
                }

                &:nth-child(1) {
                    @media (--tablet-lg-min) {
                        &:nth-last-child(3) {
                            width: 100%;
                            padding: calc(var(--gs) * 4) calc(var(--gs) * 29);

                            @media (--desktop) {
                                padding: calc(var(--gs) * 2) calc(var(--gs) * 20.5);
                            }
                        }

                        &:last-child {
                            width: 100%;
                            height: 800px;
                            padding: calc(var(--gs) * 18);

                            @media (--desktop) {
                                height: 600px;
                                padding: calc(var(--gs) * 4);
                            }
                        }
                    }
                }
            }
        }

        &-detail {
            flex-basis: calc(100% / 3);
            max-width: 392px;
            grid-column: 2;

            @media (--tablet-lg) {
                flex-basis: 100%;
                max-width: 100%;
            }

            &-section {
                padding: calc(var(--gs) * 3) 0;
                border-top: 1px solid var(--cl-divider-grey);

                @media (--tablet-lg) {
                    padding-left: calc(var(--gs) * 3);
                    padding-right: calc(var(--gs) * 3);
                }

                @media (--tablet) {
                    padding-left: calc(var(--gs) * 2);
                    padding-right: calc(var(--gs) * 2);
                }
            }

            &-hl {
                letter-spacing: 0.02em;
                margin-bottom: calc(var(--gs) * 1.5);

                @media (--tablet-lg) {
                    padding: 0 calc(var(--gs) * 3);
                }

                @media (--tablet) {
                    font-size: 18px;
                    line-height: 24px;
                    padding: 0 calc(var(--gs) * 2);
                }
            }

            &-info {
                display: flex;
                align-items: center;
                margin-bottom: calc(var(--gs) * 3);

                @media (--tablet-lg) {
                    padding: 0 calc(var(--gs) * 3);
                }

                @media (--tablet) {
                    flex-wrap: wrap;
                    padding: 0 calc(var(--gs) * 2);
                }

                &-rating {
                    margin-right: calc(var(--gs) * 1.5);
                }

                &-review {
                    font-size: 12px;
                    line-height: 16px;
                    text-transform: uppercase;
                    letter-spacing: 0.04em;
                }

                &-code {
                    margin-left: auto;

                    @media (--tablet) {
                        margin-top: var(--gs);
                        width: 100%;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }

            &-options {
                &-selected {
                    display: flex;
                    justify-content: space-between;
                }

                &-list {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -10px;
                }

                &-item {
                    display: flex;
                    width: calc(calc(100% / 8));
                    margin-top: calc(var(--gs) * 2.5);

                    @media (--desktop) {
                        width: calc(calc(100% / 6));
                    }

                    @media (--tablet-lg) and (--tablet-min) {
                        width: calc(calc(100% / 12));
                    }

                    &--selected &-square {
                        outline: 1px solid;
                        outline-offset: 2px;
                    }

                    &-square {
                        margin: 0 10px;
                        width: calc(100% - 20px);
                        min-width: 24px;
                        max-width: 32px;
                        border-radius: 4px;

                        @media (--tablet-lg) {
                            max-width: 40px;
                        }

                        &::after {
                            content: '';
                            display: block;
                            padding-bottom: 100%;
                            border-radius: inherit;
                        }
                    }
                }
            }

            &-panels {
                @media (--tablet) {
                    display: none;
                }
            }

            &-price-panel {
                display: flex;
                margin-bottom: calc(var(--gs) * 2);

                &-bonus,
                &-prices {
                    flex: 1;
                    display: flex;
                    align-items: center;
                }

                &-current {
                    font-size: 32px;
                    line-height: 40px;
                    margin-right: calc(var(--gs) * 2);
                }

                &-old {
                    font-size: 20px;
                    line-height: 24px;
                }

                &-bonus {
                    text-align: right;
                    justify-content: flex-end;
                }
            }

            &-control-panel {
                display: flex;
                flex-wrap: wrap;

                &-btn,
                &-wishlist {
                    flex: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 12px 16px;
                }

                &-wishlist {
                    font-weight: 700;
                }
            }

            &-brand {
                @media (--tablet-lg) {
                    padding-left: calc(var(--gs) * 3);
                    padding-right: calc(var(--gs) * 3);
                }
            }
        }
    }

    &__socials {
        @media (--tablet-lg) {
            border-top: 1px solid var(--cl-divider-grey);
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        .icon {
            margin-left: calc(var(--gs) * 2);
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: calc(var(--gs) * 3) 0;
            text-transform: uppercase;

            @media (--tablet-lg-min) {
                justify-content: flex-end;
                border-top: 1px solid var(--cl-divider-grey);
                border-bottom: 1px solid var(--cl-divider-grey);
            }
        }
    }

    &__profitable {
        @media (--tablet) {
            padding-left: 0;
            padding-right: 0;
        }

        &-hl {
            @media (--tablet) {
                text-align: center;
            }
        }

        &-grid {
            display: flex;
            padding-bottom: calc(var(--gs) * 7);
            border-bottom: 1px solid var(--cl-divider-grey);

            @media (--tablet-lg) {
                flex-direction: column;
            }

            @media (--tablet) {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        &-list {
            display: flex;

            @media (--tablet-lg) {
                flex-direction: column;
            }

            &-item {
                max-width: 178px;
                width: 200px;

                @supports (grid-template-columns: auto) {
                    width: auto;
                }

                @media (--desktop) {
                    max-width: 153px;
                }

                @media (--tablet-lg) {
                    max-width: 50%;
                    width: 50%;
                }

                @media (--tablet) {
                    max-width: 100%;
                    width: 100%;
                }
            }

            &-item + &-item {
                @media (--tablet-lg-min) {
                    margin-left: 24px;

                    &::before {
                        position: absolute;
                        content: '+';
                        top: 25%;
                        left: -16px;
                        display: flex;
                        align-items: center;
                    }
                }

                @media (--tablet-lg) {
                    margin-top: 32px;

                    &::before {
                        position: absolute;
                        content: '+';
                        top: -24px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        &-total {
            grid-column: 2;
            position: relative;
            width: 24px;

            @media (--tablet-lg) {
                height: 32px;
                width: 50%;
            }

            @media (--tablet) {
                width: 100%;
            }

            &::before {
                position: absolute;
                content: '=';
                top: 25%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;

                @media (--tablet) {
                    top: 8px;
                }
            }
        }

        &-price-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--cl-elem-grey);
            height: 55%;
            grid-column: 3;
            padding: calc(var(--gs) * 4) calc(var(--gs) * 2);
            flex-basis: 34%;

            @media (--tablet-lg) {
                flex-basis: 100%;
                width: 50%;
            }

            @media (--tablet) {
                padding: calc(var(--gs) * 2);
                flex-basis: 100%;
                width: 100%;
            }

            &-prices {
                display: flex;
                align-items: center;
            }

            &-price {
                font-size: 32px;
                line-height: 40px;
                margin-right: calc(var(--gs) * 2);
            }

            &-old {
                font-size: 20px;
                line-height: 24px;
            }

            &-profit {
                margin-bottom: calc(var(--gs) * 2);
            }

            &-btn {
                @media (--desktop) {
                    padding: 6px 16px;
                }

                @media (--tablet) {
                    width: 100%;
                }
            }
        }

        &-card {
            &:hover .catalog-product-card__img {
                img {
                    opacity: 1;
                }
            }

            .catalog-product-card__body {
                @media (--tablet-lg-min) {
                    padding: calc(var(--gs) * 2) 0;
                }
            }

            .catalog-product-card__wishlist-btn,
            .catalog-product-card__tags,
            .catalog-product-card__controls {
                display: none;
            }

            .catalog-product-card__prices {
                flex-wrap: wrap;
            }

            .catalog-product-card__price {
                margin-left: 0;
                padding: 0 calc(var(--gs) / 2);
            }

            .catalog-product-card__img {
                padding: calc(var(--gs) * 2) var(--gs);

                @media (--tablet-lg) {
                    padding: calc(var(--gs) * 2);
                }

                @media (--tablet) {
                    padding: var(--gs);
                }
            }
        }
    }

    &__info {
        margin-bottom: calc(var(--gs) * 4);

        &-container {
            display: flex;

            @media (--tablet-lg) {
                flex-direction: column;
            }

            @media (--tablet) {
                padding: 0;
            }
        }

        &-header {
            flex: 1;

            @media (--tablet-lg) {
                margin-bottom: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                padding: 0 calc(var(--gs) * 2);
            }
        }

        &-text {
            margin-right: calc(var(--gs) * 3);

            @media (--tablet-lg) {
                margin-right: 0;
            }
        }

        &-media {
            display: flex;
            flex: 1;

            img {
                width: 100%;
                height: 100%;
                font-family: 'object-fit: cover;';

                @supports (object-fit: cover) {
                    font-family: inherit;
                    object-fit: cover;
                }
            }
        }
    }

    &__characteristics {
        @media (--tablet) {
            padding-bottom: calc(var(--gs) * 4);
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: calc(var(--gs) * 7);
            border-bottom: 1px solid var(--cl-divider-grey);

            @media (--tablet) {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        &-item {
            width: calc(50% - calc(var(--gs) * 3 / 2));
            display: flex;
            line-height: 24px;

            @media (--tablet-lg) {
                width: 100%;
            }

            & + & {
                @media (--tablet) {
                    margin-top: var(--gs);
                }
            }

            &-title {
                color: var(--cl-grey);
                width: 30%;
                padding-right: calc(var(--gs) * 3);

                @media (--desktop) {
                    width: 50%;
                }
            }
        }
    }

    &__masterclass {
        @media (--tablet) {
            margin-bottom: calc(var(--gs) * 4);
            padding-bottom: calc(var(--gs) * 4);
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        &-container {
            @media (--tablet) {
                padding: 0;
            }
        }

        &-hl {
            @media (--tablet) {
                padding: 0 calc(var(--gs) * 2);
            }
        }

        &-link {
            @media (--tablet) {
                position: relative;
                width: calc(100% - calc(var(--gs) * 4));
                left: 0;
                right: 0;
                margin: 0 calc(var(--gs) * 2);
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: calc(var(--gs) * 4);

            @media (--tablet) {
                padding: 0;
            }
        }

        &-item {
            height: 320px;
            display: flex;
            width: calc(50% - calc(var(--gs) * 3 / 2));
            margin-bottom: calc(var(--gs) * 3);

            img {
                width: 100%;
                height: 100%;
                font-family: 'object-fit: cover;';

                @supports (object-fit: cover) {
                    font-family: inherit;
                    object-fit: cover;
                }
            }

            @media (--tablet-lg) {
                width: 100%;
                height: 450px;
            }

            @media (--tablet) {
                height: 200px;
            }
        }
    }

    &__reviews {
        &-inner {
            position: relative;
            border-top: 1px solid var(--cl-divider-grey);
            border-bottom: 1px solid var(--cl-divider-grey);
            padding-top: calc(var(--gs) * 3);

            @media (--tablet) {
                border-top: none;
                padding-top: 0;
            }
        }

        &-link {
            right: 0;

            @media (--tablet) {
                width: 100%;
                bottom: 16px;
                right: 0;
                left: 0;
            }
        }

        &-show-more {
            display: flex;
            padding: calc(var(--gs) * 7) 0;
            border-top: 1px solid var(--cl-divider-grey);

            &-btn {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
            }
        }

        &-header {
            position: relative;
            display: flex;
            align-items: center;
            padding-bottom: calc(var(--gs) * 3);
            border-bottom: 1px solid var(--cl-divider-grey);
            flex-wrap: wrap;

            @media (--tablet) {
                padding-bottom: calc(var(--gs) * 10);
            }

            &-hl {
                height: 40px;
                line-height: 40px;
                width: 25%;
                margin-bottom: 0;

                @media (--tablet) {
                    margin-bottom: calc(var(--gs) * 2);
                    width: 100%;
                }

                &-count {
                    font-size: 20px;
                    margin-left: var(--gs);
                }
            }

            &-sort {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: calc(var(--gs) * 30);

                @media (--tablet-lg) {
                    width: 100%;
                    flex: auto;
                    padding-top: var(--gs);
                    padding-right: 0;
                }

                @media (--tablet) {
                    position: absolute;
                    right: 0;
                    padding-top: 0;
                    top: 12px;
                }
            }

            &-rating {
                &-count {
                    margin-left: var(--gs);
                    margin-right: calc(var(--gs) * 2);

                    @media (--tablet) {
                        margin-left: 0;
                    }
                }
            }
        }

        &-list {
            &-item {
                padding: calc(var(--gs) * 3) 0;
                border-bottom: 1px solid var(--cl-divider-grey);
                flex-wrap: wrap;

                &:last-child {
                    border-bottom-color: transparent;
                }
            }
        }
    }

    &__banners {
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet) {
            margin-bottom: calc(var(--gs) * 4);
            padding-bottom: calc(var(--gs) * 6);
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        &-hl {
            @media (--tablet) {
                padding: 0 calc(var(--gs) * 2);
            }
        }

        &-container {
            @media (--tablet) {
                padding: 0;
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-gap: calc(var(--gs) * 3);
            padding-bottom: calc(var(--gs) * 9);
            border-bottom: 1px solid var(--cl-divider-grey);

            @media (--tablet) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                grid-row-gap: calc(var(--gs) * 4);
                padding: 0;
                border-bottom: none;
            }
        }

        &-card {
            .banner-card__img {
                @media (--tablet-lg) and (--tablet-min) {
                    max-height: 144px;
                }
            }
        }
    }

    &__like {
        @media (--tablet) {
            padding-bottom: calc(var(--gs) * 3);
            border-bottom: 1px solid var(--cl-divider-grey);
        }

        &-container {
            @media (--tablet-lg) {
                padding: 0;
            }
        }

        &-hl {
            @media (--tablet-lg) {
                padding: 0 calc(var(--gs) * 3);
            }

            @media (--tablet) {
                text-align: center;
            }
        }

        &-card {
            display: flex;
        }

        &-slider {
            @media (--tablet-min) {
                padding-bottom: calc(var(--gs) * 7);
                border-bottom: 1px solid var(--cl-divider-grey);
                position: static;

                @supports (position: initial) {
                    position: initial;
                }
            }

            .v-slider__controls {
                position: absolute;
                top: 20px;
                right: 108px;
                bottom: auto;

                @media (--desktop) {
                    right: calc(var(--gs) * 5);
                }

                @media (--tablet) {
                    position: relative;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                }

                .swiper-pagination {
                    display: none;

                    @media (--tablet) {
                        display: block;
                    }
                }
            }

            @media (--tablet) {
                padding: 0;
                position: relative;
            }
        }
    }

    &__instagram {
        position: relative;

        &-container {
            @media (--tablet-lg) {
                padding: 0;
            }

            @media (--tablet) {
                text-align: center;
            }
        }

        &-hl {
            @media (--tablet-min) and (--tablet-lg) {
                padding-left: calc(var(--gs) * 3);
            }

            @media (--tablet) {
                font-size: 28px;
                line-height: 40px;
            }
        }

        &-link {
            @media (--tablet) {
                position: relative;
                width: calc(100% - 32px);
                left: auto;
                right: auto;
            }
        }

        &-slider {
            padding-bottom: calc(var(--gs) * 6);

            .v-slider__controls {
                bottom: calc(var(--gs) * 3);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-gap: calc(var(--gs) * 3);
            opacity: 0;
            transition: all var(--animation-time) ease-in;

            @media (--tablet-lg) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
            }

            &--initialized {
                opacity: 1;
            }
        }

        &-slider,
        &-grid {
            @media (--tablet-lg-min) {
                margin-bottom: calc(var(--gs) * 3);
            }
        }

        &-note {
            text-align: center;
            margin: 0 auto;

            @media (--tablet-lg-min) {
                padding-bottom: calc(var(--gs) * 6);
                border-bottom: 1px solid var(--cl-divider-grey);
            }

            @media (--tablet-lg) {
                width: calc(100% - 48px);
            }

            @media (--tablet) {
                width: calc(100% - 32px);
                margin-bottom: calc(var(--gs) * 3);
            }
        }
    }

    &__history {
        @media (--tablet-lg) {
            display: none;
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
            grid-gap: calc(var(--gs) * 3);

            @media (--desktop) {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 1fr;
                grid-gap: var(--gs);
            }
        }

        &-card {
            .catalog-product-card__wishlist-btn,
            .catalog-product-card__tags,
            .catalog-product-card__controls {
                display: none;
            }

            .catalog-product-card__img {
                padding: calc(var(--gs) * 2) var(--gs);
            }

            .catalog-product-card__body {
                padding: calc(var(--gs) * 2) var(--gs);
            }

            .catalog-product-card__prices {
                flex-wrap: wrap;
            }

            .catalog-product-card__price {
                margin-left: 0;
                padding: 0 calc(var(--gs) / 2);
            }
        }
    }
}
