.product-card {
    &__img {
        margin-bottom: calc(var(--gs) * 1.5);
        img {
            width: 100%;
            height: 100%;
            font-family: 'object-fit: cover;';

            @supports (object-fit: cover) {
                font-family: inherit;
                object-fit: cover;
            }
        }
    }

    &__link {
        text-transform: none;
        margin-bottom: var(--gs);
    }

    &__prices {
        display: flex;
    }

    &__price {
        flex: 1;
        display: inline-block;
    }
}
