fieldset[disabled] .multiselect {
    pointer-events: none;
}
.multiselect__spinner {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 48px;
    height: 35px;
    background: var(--cl-white);
    display: block;
}
.multiselect__spinner::before,
.multiselect__spinner::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: var(--cl-dark-blue) transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
}
.multiselect__spinner::before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
}
.multiselect__spinner::after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
}
.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}
.multiselect__loading-enter,
.multiselect__loading-leave-active {
    opacity: 0;
}
.multiselect,
.multiselect__input,
.multiselect__single {
    font-family: inherit;
    font-size: 14px;
    touch-action: manipulation;
}
.multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: calc(var(--gs) * 5);
    text-align: left;
    padding-top: calc(var(--gs) * 2);
}
.multiselect * {
    box-sizing: border-box;
}
.multiselect:focus {
    outline: none;
}
.multiselect--disabled {
    pointer-events: none;
}

.multiselect--active {
    z-index: 50;
}
.multiselect--active .multiselect__select {
    transform: rotateZ(180deg);
}
.multiselect__single {
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    border: none;
    background: var(--cl-white);
    width: 100%;
    transition: border 0.1s ease;
    box-sizing: border-box;
    vertical-align: top;
}
.multiselect__input {
    position: relative;
    display: inline-block;
    padding: var(--gs) calc(var(--gs) * 2);
    min-height: 40px;
    border: none;
    border-bottom: 1px solid var(--cl-grey);
    background: var(--cl-white);
    width: 100%;
    transition: border 0.1s ease;
    box-sizing: border-box;
    vertical-align: top;
}
.multiselect__label {
    position: absolute;
    top: 16px;
    left: 16px;
    line-height: 2.5rem;
    color: var(--cl-grey);
    transition: all var(--time) ease;
    cursor: pointer;
}

.multiselect__container {
    background-color: var(--cl-white);
    width: 100%;
    z-index: 50;
    position: absolute;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}
.multiselect--float .multiselect__tags {
    border-color: var(--cl-global);
}
.multiselect--float .multiselect__select::before {
    color: var(--cl-global);
    background-image: svg-load('../../../assets/images/sprites/arrow-down-small.svg', fill: var(--cl-global));
}
.multiselect--float .multiselect__label {
    top: 0;
    color: #141116;
    font-size: 12px;
    line-height: 16px;
}
.multiselect--invalid .multiselect__tags {
    border-bottom-color: var(--cl-red);
}

.multiselect--disabled .multiselect__select::before {
    color: var(--cl-divider-grey);
    background-image: svg-load('../../../assets/images/sprites/arrow-down-small.svg', fill: var(--cl-divider-grey));
}

.multiselect--disabled .multiselect__label {
    cursor: default;
    color: var(--cl-divider-grey);
}

.multiselect--disabled .multiselect__tags {
    color: var(--cl-divider-grey);
    border-bottom-color: var(--cl-divider-grey);
}

.multiselect__error {
    position: relative;
    min-height: calc(var(--gs) * 3);
    padding: 0 16px;
    font-size: 12px;
    line-height: calc(var(--gs) * 3);
    color: var(--cl-red);
    overflow: hidden;
}
.multiselect__input::placeholder {
    color: var(--cl-grey);
}
.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
    width: auto;
}
.multiselect__input:hover,
.multiselect__single:hover {
    border-color: #cfcfcf;
}
.multiselect__input:focus,
.multiselect__single:focus {
    border-color: #a8a8a8;
    outline: none;
}
.multiselect__tags-wrap {
    display: inline;
}
.multiselect__tags {
    min-height: calc(var(--gs) * 5);
    display: block;
    padding: calc(var(--gs) - 1px) calc(var(--gs) * 5) calc(var(--gs) - 1px) calc(var(--gs) * 2);
    border: none;
    border-bottom: 1px solid var(--cl-grey);
    background: var(--cl-white);
    font-size: 14px;
    transition: all var(--time) ease;
}
.multiselect__tag {
    position: relative;
    display: inline-block;
    padding: calc(var(--gs) / 2) calc(var(--gs) * 3) calc(var(--gs) / 2) calc(var(--gs) * 1.5);
    border: 1px solid var(--cl-global);
    font-size: 12px;
    line-height: 16px;
    margin-right: var(--gs);
    margin-bottom: calc(var(--gs) / 2);
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}
.multiselect__tag-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: 700;
    font-style: initial;
    text-align: center;
    transition: all var(--time) ease;
}
.multiselect__tag-icon::after {
    position: absolute;
    content: '';
    right: 0;
    width: 24px;
    height: 100%;
    background-image: svg-load('../../../assets/images/sprites/cross-small.svg', fill: var(--cl-global));
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
    background: #369a6e;
}
.multiselect__tag-icon:focus::after,
.multiselect__tag-icon:hover::after {
    color: var(--cl-white);
}
.multiselect__current {
    line-height: 16px;
    min-height: 40px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 8px 12px 0;
    padding-right: 30px;
    white-space: nowrap;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}
.multiselect__select {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    right: 1px;
    top: 16px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.multiselect__select::before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    color: var(--cl-grey);
    background-image: svg-load('../../../assets/images/sprites/arrow-down-small.svg', fill: var(--cl-grey));
}
.multiselect__placeholder {
    color: var(--cl-grey);
    display: inline-block;
}
.multiselect--active .multiselect__placeholder {
    display: none;
}
.multiselect__content-wrapper {
    display: block;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.multiselect__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    vertical-align: top;
}
.multiselect--above .multiselect__content-wrapper {
    bottom: 100%;
}
.multiselect__content::webkit-scrollbar {
    display: none;
}
.multiselect__element {
    display: block;
}
.multiselect__option {
    display: block;
    padding: var(--gs) calc(var(--gs) * 2);
    min-height: 40px;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}
.multiselect__option::after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px;
}
.multiselect__option--highlight {
    background-color: var(--cl-white);
    outline: none;
    color: var(--cl-global);

    span {
        border-bottom: 1px solid var(--cl-global);
    }
}
.multiselect__option--highlight::after {
    content: attr(data-select);
    background-color: var(--cl-white);
    color: var(--cl-global);
}
.multiselect__option--selected {
    background: var(--cl-white);
    font-weight: bold;
}
.multiselect__option--selected::after {
    content: attr(data-selected);
}
.multiselect__option--selected.multiselect__option--highlight {
    background-color: var(--cl-white);
    color: var(--cl-global);
}
.multiselect__option--selected.multiselect__option--highlight::after {
    background-color: var(--cl-white);
    color: var(--cl-global);
    content: attr(data-deselect);
}
.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    color: var(--cl-divider-grey);
}
.multiselect__option--disabled {
    background: var(--cl-divider-grey) !important;
    color: var(--cl-grey) !important;
    cursor: text;
    pointer-events: none;
}
.multiselect__option--group {
    background: var(--cl-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid var(--cl-grey);
}
.multiselect__option--group.multiselect__option--disabled {
    background: var(--cl-white) !important;
    color: var(--cl-global) !important;
}
.multiselect__option--group.multiselect__option--highlight {
    background: #35495e;
    color: var(--cl-white);
}
.multiselect__option--group.multiselect__option--highlight::after {
    background: #35495e;
}
.multiselect__option--disabled.multiselect__option--highlight {
    background: #dedede;
}
.multiselect__option--group-selected.multiselect__option--highlight {
    background: var(--cl-red);
    color: var(--cl-white);
}
.multiselect__option--group-selected.multiselect__option--highlight::after {
    background: var(--cl-red);
    content: attr(data-deselect);
    color: var(--cl-white);
}
.multiselect-enter-active,
.multiselect-leave-active {
    transition: all 0.15s ease;
}
.multiselect-enter,
.multiselect-leave-active {
    opacity: 0;
}
.multiselect__strong {
    margin-bottom: 8px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
*[dir='rtl'] .multiselect {
    text-align: right;
}
*[dir='rtl'] .multiselect__select {
    right: auto;
    left: 1px;
}
*[dir='rtl'] .multiselect__tags {
    padding: 8px 8px 0 40px;
}
*[dir='rtl'] .multiselect__content {
    text-align: right;
}
*[dir='rtl'] .multiselect__option::after {
    right: auto;
    left: 0;
}
*[dir='rtl'] .multiselect__clear {
    right: auto;
    left: 12px;
}
*[dir='rtl'] .multiselect__spinner {
    right: auto;
    left: 1px;
}
@keyframes spinning {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(2turn);
    }
}

.v-select {
    display: inline-block;
    padding: 0;

    .multiselect__tags {
        border: 1px solid var(--cl-global);
        padding: 3px 40px 3px 16px;
    }

    .multiselect__single {
        line-height: 32px;
    }

    .multiselect__select {
        top: 0;
    }
}
