.catalog-filter {
    position: relative;
    width: 100%;

    &__filters {
        margin-bottom: calc(var(--gs) * 4);

        &-range,
        &-check {
            padding-top: calc(var(--gs) * 2);
        }

        &-more {
            font-weight: normal;
            font-size: 16px;
            border-bottom: 1px solid #141116;
            text-transform: none;
            letter-spacing: normal;
        }

        &-range {
            padding: 0 var(--gs) calc(var(--gs) * 2);
        }

        .v-accordion__item-btn {
            padding: 0;
            border: none;
            padding-bottom: calc(var(--gs) * 2);
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
        }

        .v-accordion__item-panel {
            border: none;
        }

        .v-accordion__item {
            padding-top: calc(var(--gs) * 4);
            border-top: 1px solid var(--cl-divider-grey);

            &:hover {
                .v-accordion__item-btn {
                    color: currentColor;
                }
            }
        }
    }
}
