.catalog-filter {
    position: relative;

    &__categories {
        margin-bottom: calc(var(--gs) * 4);

        &-item {
            text-transform: uppercase;
        }
    }

    &__filters {
        margin-bottom: calc(var(--gs) * 4);

        &-range,
        &-check {
            padding-top: calc(var(--gs) * 2);
        }

        &-range {
            padding: 0 var(--gs);
        }

        .v-accordion__item-btn {
            padding: 0;
            border: none;
        }

        .v-accordion__item-panel {
            border: none;
        }

        .v-accordion__item + .v-accordion__item {
            margin-top: calc(var(--gs) * 4);
        }
    }

    &__clear-btn {
        margin-bottom: calc(var(--gs) * 4);
    }
}
