.thank-you-view {
    padding-bottom: calc(var(--gs) * 10);

    @media (--tablet-lg) {
        padding-bottom: calc(var(--gs) * 4);
    }

    &__hl {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @media (--tablet-min) {
            margin-bottom: calc(var(--gs) * 3);
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @media (--tablet-lg) {
            flex-direction: column;
        }

        @media (--tablet) {
            padding: 0;
        }
    }

    &__sticky {
        @media (--tablet-lg-min) {
            width: calc(50% - calc(var(--gs) * 1.5));

            &:first-of-type:last-of-type {
                width: 100%;
            }

            .v-sticky__container {
                top: calc(var(--gs) * 4);
            }
        }

        & + & {
            @media (--tablet-lg) {
                margin-top: calc(var(--gs) * 4);
            }
        }
    }

    &__panel {
        &-attention {
            flex-wrap: nowrap;
        }

        &-list + &-attention {
            margin-top: calc(var(--gs) * 2);
        }

        &-item {
            flex-direction: column;

            & + & {
                margin-top: calc(var(--gs) * 2);
            }
        }

        &-card {
            & + & {
                margin-top: calc(var(--gs) * 2);
            }

            .cart-master-class-card__img {
                width: auto;
                align-items: flex-start;
                align-self: flex-start;
            }

            .cart-product-card__body,
            .cart-bundle-product-card__body,
            .cart-master-class-card__body {
                justify-content: space-between;
                padding: 0;
            }
        }

        &-btn {
            margin-top: calc(var(--gs) * 3);

            @media (--tablet) {
                width: 100%;
            }
        }

        .info-panel__header {
            @media (--tablet-lg-diff) {
                padding-left: 0;
            }
        }
    }
}
