.favorites-view {
    &__section {
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet-lg) {
            margin-bottom: calc(var(--gs) * 4);
        }

        &-hl {
            font-size: 28px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;

            @media (--tablet) {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.02em;
            }
        }

        &-container {
            @media (--tablet) {
                padding: 0;
                margin: 0;
            }
        }
    }

    &__breadcrumbs {
        margin-bottom: calc(var(--gs) * 3);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc(var(--gs) * 2);

        &-hl {
            font-size: 28px;
            text-transform: uppercase;
        }

        &-counter {
            font-size: 14px;
            font-weight: normal;
            color: var(--cl-grey);
            margin-left: calc(var(--gs) * 2);
            text-transform: none;
        }
    }

    &__main-controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-btn {
            width: 100%;
        }
    }

    &__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 calc(var(--gs) * -3 / 2);

        @media (--tablet) {
            justify-content: space-between;
            margin: 0;
        }

        &-item {
            width: calc(calc(100% / 4) - calc(var(--gs) * 3));
            margin: 0 calc(var(--gs) * 3 / 2);
            margin-bottom: calc(var(--gs) * 3);
            transition: all 0.5s;

            @media (--tablet-lg) {
                width: calc(calc(100% / 3) - calc(var(--gs) * 3));
            }

            @media (--tablet) {
                width: calc(50% - calc(var(--gs) / 2));
                margin: 0;
                margin-bottom: calc(var(--gs) * 2);
            }
        }
    }
}
