.personal-edit-modal {
    .popup--sm {
        width: 440px;
    }

    .modal-body {
        padding: 0;
    }

    &__desc {
        margin-bottom: calc(var(--gs) * 3);

        @media (--tablet) {
            margin-bottom: calc(var(--gs) * 2);
        }
    }

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @media (--tablet-lg-min) {
            padding: calc(var(--gs) * 3);
        }
    }

    &__form {
        @media (--tablet) {
            padding: calc(var(--gs) * 2);
        }

        &-label {
            display: flex;
            margin-bottom: var(--gs);
            cursor: text;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: auto;

        @media (--tablet) {
            position: sticky;
            justify-content: space-between;
            bottom: 0;
            padding: var(--gs) calc(var(--gs) * 2);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            background-color: var(--cl-white);
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
