.banner-through {
    transition: .2s all;
    max-height: 0;
    max-width: 1224px;
    margin: 0 auto;

    &__active {
        max-height: 3000px;
     }

     &__swiper {
        .swiper-wrapper {
            height: 48px;
        }
      }

    &__slide {
        position: relative;
     }

     &__counter {
        position: absolute;
        top: 16px;
        right: 35px;
        text-transform: initial;
        min-width: 110px;
      }
}

