.banner-through {
    transition: .5s all;
    max-height: 0;

    &__active {
        max-height: 3000px;
     }

     &__swiper {
        .swiper-wrapper {
            height: 48px;
        }
      }
}

