.checkout-pickup-point-modal {
    .modal-container {
        width: 1232px;

        @media (--desktop) {
            max-width: 90%;
        }

        @media (--tablet-lg) {
            max-width: 100%;
        }
    }

    .modal-body {
        padding: 0;
        height: 680px;
        display: flex;

        @media (--tablet-lg) {
            height: 100%;
        }
    }
    &__spinner-block {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 25%;
    }
    &__header {
        &-btn {
            display: flex;
            align-items: center;
            fill: var(--cl-white);
            color: var(--cl-white);
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            &--close,
            &--arrow {
                .icon {
                    margin-right: var(--gs);
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc(var(--gs) * 1.75) calc(var(--gs) * 3);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        @media (--tablet) {
            padding: calc(var(--gs) * 1.75) calc(var(--gs) * 2);
        }

        &-button {
            display: flex;
            align-items: center;
            line-height: 24px;
            font-weight: 500;
            margin-right: calc(var(--gs) * 1.5);
            letter-spacing: 0.02em;

            &.is-active {
                color: var(--cl-grey);
                fill: var(--cl-grey);
            }
        }

        &-icon {
            margin: -3px var(--gs) 0 0;
        }
    }

    &__map {
        display: flex;
        flex: 1;

        @media (--tablet-lg-min) {
            height: 100%;
        }

        .ymap-container {
            width: 100%;
            height: 100%;
        }
    }

    &__details,
    &__filter {
        display: flex;
        flex-direction: column;
        width: 440px;
        height: 100%;
        overflow: hidden;
        padding-top: calc(var(--gs) * 3);

        &-empty-text {
            display: block;
            padding-left: calc(var(--gs) * 3);
        }

        @media (--tablet-lg) {
            width: 100%;
        }
    }

    &__details {
        @media (--tablet-lg-min) {
            padding: calc(var(--gs) * 3);
        }

        &-back-link {
            display: flex;
            font-size: 20px;
            line-height: 24px;
            fill: var(--cl-grey);
            color: var(--cl-grey);
            text-transform: none;
            margin-bottom: calc(var(--gs) * 3);
        }

        &-info {
            margin-bottom: calc(var(--gs) * 2);

            @media (--tablet-lg) {
                flex-wrap: wrap;
            }

            &-main {
                margin-bottom: var(--gs);

                &-hl {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }

            &-schedule {
                color: var(--cl-grey);
                font-size: 14px;

                &-list {
                    @media (--tablet-min) and (--tablet-lg) {
                        width: 40%;
                    }
                }

                &-item {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;

                    @media (--desktop) {
                        width: 100%;
                    }
                }
            }
        }

        &-desc,
        &-payment {
            margin-bottom: calc(var(--gs) * 2);
        }
        &-desc-overflow {
            max-height: 170px;
            overflow: auto;
            @media(max-width: 1023px) {
                max-height: 245px;
            }
         }
        &-accept {
            @media (--tablet-min) {
                align-self: flex-start;
            }

            @media (--tablet) {
                margin-bottom: auto;
            }
        }
    }

    &__filter {
        @media (--tablet-lg) {
            padding-top: calc(var(--gs) * 2);
        }

        &-header {
            margin: 0 0 calc(var(--gs) * 3);

            @media (--tablet-min) {
                padding: 0 calc(var(--gs) * 3);
            }

            &-hl {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: calc(var(--gs) * 3);

                @media (--tablet) {
                    margin-bottom: 0;
                }
            }

            &-controls {
                display: flex;
                justify-content: space-between;
                margin-bottom: calc(var(--gs) * 2);

                @media (--tablet-lg) {
                    flex-direction: column;
                }

                .v-select {
                    width: calc(50% - calc(var(--gs) * 3 / 2));

                    @media (--tablet-lg) {
                        width: 100%;
                        margin-top: calc(var(--gs) * 2);
                    }

                    .multiselect__error {
                        display: none;
                    }
                }
            }
        }

        &-list {
            overflow: auto;

            &-item {
                border: none;
                border-bottom: 1px solid var(--cl-divider-grey);
                width: 100%;
                min-height: auto;

                @media (--tablet-min) and (--tablet-lg) {
                    padding: calc(var(--gs) * 3);
                }

                &-name {
                    margin-bottom: var(--gs);
                }

                &:first-child {
                    padding-top: 0;
                }
            }
        }
    }
}
