.category-list-panel {
    &.tooltip[x-placement^='bottom'] {
        padding-top: 0;
    }

    .general-popup-panel {
        .tooltip-inner {
            position: relative;
            padding: calc(var(--gs) * 2) 0;
            width: calc(var(--gs) * 30);
        }

        .popover-inner {
            margin: calc(var(--gs) * 2) 0;
        }

        &__header {
            display: none;
        }

        &__body {
            padding: 0;
        }
    }

    &__list {
        width: 100%;
    }

    &__item {
        &-link {
            display: block;
            width: 100%;
            border-bottom: none;
            padding: 0 calc(var(--gs) * 3) calc(var(--gs) * 1.5);

            &:hover > &-text {
                border-bottom: 1px solid var(--cl-global);
            }
        }

        &:last-child &-link {
            padding-bottom: 0;
        }
    }
}
