.category-list-panel {
    /* important необходим для переназначения стилей popover'а */
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &__list {
        width: 100%;
    }

    &__item {
        line-height: normal;

        &:not(:last-child) {
            & > .category-list-panel__link {
                padding-bottom: var(--gs);
            }
        }
        &:not(:first-child) {
            & > .category-list-panel__link {
                padding-top: var(--gs);
            }
        }
    }

    &__link {
        display: block;
        width: 100%;
        border-bottom: none;

        &:hover > &-text {
            border-bottom: 1px solid var(--cl-global);
        }
    }

    .general-popup-panel {
        &__header {
            display: none;
        }

        .tooltip-inner {
            position: relative;
            padding: calc(var(--gs) * 2) 0;
            width: calc(var(--gs) * 30);
        }
    }
}
