.price {
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    top: 1px;
    &__currency {
        font-size: 0.7em;
    }
}

.price__no-price-container {
    cursor: pointer;
}

.price__no-price {
    width: 180px;
    height: 48px;

    @media (--tablet) {
        width: 120px;
        height: 32px;
    }

    .catalog-product-card__price &,
    .catalog-product-list-card__price & {
        width: 144px;
        height: 38px;
        margin-left: 30px;
        margin-bottom: -20px;
        position: relative;
        top: -10px;

        @media (--tablet) {
            width: 102px;
            height: 29px;
            margin-left: 0;
        }
    }
}


