.cabinet-view {
    &__hl {
        margin-bottom: calc(var(--gs) * 3);
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (--tablet-lg) {
            display: none;
        }
    }

    &__avatar {
        margin-bottom: calc(var(--gs) * 7);

        @media (--tablet-lg) {
            margin-bottom: calc(var(--gs) * 4);
        }

        &-placeholder {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.05em;
            color: var(--cl-white);
            background-color: var(--cl-global);

            &--empty {
                background-color: var(--cl-elem-grey);

                .icon {
                    opacity: 0.1;
                }
            }
        }
    }

    &__attention {
        margin-bottom: calc(var(--gs) * 3);
        flex-wrap: nowrap;

        & + & {
            margin-top: calc(var(--gs) * 2);
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;

            @media (--tablet) {
                flex-direction: column;
                align-items: flex-start;
            }

            &-info {
                @media (--tablet) {
                    margin-bottom: calc(var(--gs) * 2);
                }
            }

            &-link {
                text-transform: none;
                border-bottom: 1px solid var(--cl-global);
                font-weight: normal;
            }

            &-btn {
                flex: none;
            }
        }
    }

    &__panel {
        & + & {
            margin-top: calc(var(--gs) * 7);

            @media (--tablet-lg) {
                margin-top: calc(var(--gs) * 4);
            }
        }

        &-link {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
            text-transform: none;

            span {
                @media (--tablet) {
                    display: none;
                }
            }
        }

        &-dropzone {
            width: 288px;
            padding: var(--gs) 0;
            border-radius: 5px;
            border: 1px dashed var(--cl-global);
            text-align: center;
            line-height: 24px;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            @media (--tablet) {
                margin-top: calc(var(--gs) * 2);
            }
        }

        &-item {
            & + & {
                margin-top: var(--gs);

                @media (--tablet) {
                    margin-top: calc(var(--gs) * 2);
                }
            }

            &-link {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
                text-transform: none;

                &--grey {
                    color: var(--cl-grey);
                }
            }
        }
    }
}
