.cabinet-referral-panel {
    &__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        text-transform: none;
    }

    &__item {
        align-items: center;

        .v-check__label {
            margin: 0;
        }

        & + & {
            margin-top: calc(var(--gs) * 2);
        }

        &-input {
            flex: 1;
            max-width: 288px;

            @media (--tablet-lg-min) and (--desktop) {
                max-width: 258px;
            }
        }

        &-btn {
            margin-left: calc(var(--gs) * 2);

            @media (--tablet) {
                margin-left: 0;
                margin-top: var(--gs);
            }
        }

        &-check {
            & + & {
                margin-left: calc(var(--gs) * 2);
            }

            &--no-event {
                pointer-events: none;
            }
        }

        &-select {
            .multiselect__tags {
                padding: calc(var(--gs) / 2) calc(var(--gs) * 5) 0 calc(var(--gs) / 2);
            }

            .multiselect__tag {
                padding: calc(var(--gs) / 2) calc(var(--gs) * 3) calc(var(--gs) / 2) calc(var(--gs) * 1.5);
                border: none;
                background-color: var(--cl-elem-grey);
                font-size: 16px;
                line-height: 24px;
            }

            .multiselect__option--selected {
                font-weight: normal;
            }
        }

        &-checkboxes {
            display: flex;
            align-items: center;
        }

        &-link {
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
            text-transform: none;

            &--grey {
                color: var(--cl-grey);
            }
        }

        .info-row__value {
            @media (--tablet) {
                flex-direction: column;
            }
        }
    }
}
