.masterclasses-view {
    &__hl {
        margin-bottom: calc(var(--gs) * 3);
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (--tablet-lg) {
            display: none;
        }
    }

    &__container {
        @media (--tablet) {
            margin: 0;
            padding: 0;
        }
    }

    &__list {
        &-item {
            & + & {
                margin-top: calc(var(--gs) * 3);
            }
        }
    }
}
