.return-product-selection {
    &__product {
        &-list {
            margin-top: calc(var(--gs) * 2);
            padding-top: calc(var(--gs) * 2);
            margin-bottom: calc(var(--gs) * 4);
            border-top: 1px solid var(--cl-divider-grey);
        }
    }

    &__title {
        font-weight: normal;
        font-size: 20px;
        margin: calc(var(--gs) * 4) 0;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        font-size: 20px;

        &-sum {
            font-weight: bold;
        }
    }
}
