.cart-header-user-panel {
    max-width: calc(var(--gs) * 40);
    display: flex;
    align-items: center;

    &__link {
        border-bottom: none;
    }

    &__help {
        display: flex;
        align-items: center;
        padding-left: calc(var(--gs) * 2);

        .trigger {
            /* Переназначение style, important необходим */
            display: flex !important;
            align-items: center;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
    }

    &__account {
        display: flex;
    }

    &__btn {
        position: relative;
        display: flex;
        margin-left: calc(var(--gs) * 2.5);
        border-bottom: none;

        &-count {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 47%;
            transform: translateY(-50%);
            width: 24px;
            font-size: 10px;
            line-height: 16px;
            color: var(--cl-white);
        }
    }
}
