.password-edit-modal {
    .modal-body {
        padding: calc(var(--gs) * 3);

        @media (--tablet-min) {
            display: flex;
            flex-direction: column;
        }

        @media (--tablet) {
            padding: 0;
        }
    }

    &__hl {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        @media (--tablet) {
            display: none;
        }
    }

    &__password-text {
        margin-bottom: calc(var(--gs) * 2);

        @media (--tablet) {
            margin: calc(var(--gs) * 2) 0;
        }
    }

    &__form {
        input[type='number'] {
            text-align: left;
        }

        &-row {
            width: 100%;
        }

        &-row &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        margin-top: auto;

        @media (--tablet) {
            position: sticky;
            justify-content: space-between;
            bottom: 0;
            padding: var(--gs) calc(var(--gs) * 2);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            background-color: var(--cl-white);
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
