.return-view {
    &__title {
        text-transform: uppercase;
        font-size: 28px;
    }

    &__back-link {
        display: flex;
        font-size: 14px;
        color: var(--cl-grey);
        fill: var(--cl-grey);

        &:hover {
            color: var(--cl-global);
            fill: var(--cl-global);
        }
    }
}
