.checkout-date-modal {
    .modal-container {
        width: 440px;
    }

    .modal-body {
        @media (--tablet-min) {
            padding: calc(var(--gs) * 3);
        }
    }

    &__hl {
        @media (--tablet) {
            display: none;
        }
    }

    &__datepicker {
        @media (--tablet-min) {
            padding: 0;
            margin: 0;
            padding-bottom: calc(var(--gs) * 3);
        }

        .v-datepicker__input,
        .v-datepicker__error,
        .v-datepicker__label,
        .v-datepicker__icon {
            display: none;
        }

        .flatpickr-calendar {
            border: none;
        }
    }

    &__submit {
        text-align: center;

        @media (--tablet) {
            padding: var(--gs) calc(var(--gs) * 2);
            position: sticky;
            top: 100%;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
        }

        &-btn {
            @media (--tablet) {
                width: 100%;
            }
        }
    }
}
