.catalog-banner-card {
    display: flex;
    position: relative;
    cursor: pointer;
    border-bottom: none;

    &__img {

        display: flex;
        height: 100%;
        width: 100%;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;

            /* чинит padding-bottom: 100% в FireFox для распорки */
            @supports (-moz-user-select: none) {
                margin-top: 100%;
                padding-bottom: 0;
            }
        }

        &::before {
            pointer-events: none;
            content: '';
            position: absolute;
            display: block;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--cl-global);
            opacity: 0.03;
        }

        .v-picture {
            width: 100%;
            height: 100%;
        }
    }

    &__panel {
        display: flex;
        align-items: flex-end;
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 2.5%;
        color: var(--cl-white);

        @media (--tablet) {
            padding: calc(var(--gs) * 3);
            justify-content: center !important;
            align-items: flex-end !important;
        }

        &--left {
            justify-content: flex-start;
            align-items: center;
        }

        &--right {
            justify-content: flex-end;
            align-items: center;
        }

        &--top {
            justify-content: center;
            align-items: flex-start;

            &-left {
                justify-content: flex-start;
                align-items: flex-start;
            }

            &-right {
                justify-content: flex-end;
                align-items: flex-start;
            }
        }

        &--bottom {
            justify-content: center;
            align-items: flex-end;

            &-left {
                justify-content: flex-start;
                align-items: flex-end;
            }

            &-right {
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }
}
