.hf-modal-mask {
  z-index: 1001;
  position: fixed;

  float: left;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 648px;
  height: 440px;

  background: #010101;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.hf-modal-container {
  width: 100%;
}

.hf-modal-bg {
  background-color: #000;
}

.tablet .hf-modal-bg {
  height: 380px !important;
  overflow: hidden;
}

.hf-modal-overlay.tablet .hf-modal-mask {
  width: 320px;
  height: 380px;
  overflow: hidden !important;
}

.hf-modal-h2 {
  position: absolute;
  width: 289px;
  height: 96px;
  left: 40px;
  top: 80px;

  font-family: Futura PT;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.tablet .hf-modal-h2 {
  position: relative;
  float: left;
  width: 220px;
  height: 96px;
  left: 0px;
  top: 10px;

  font-size: 18px;
  line-height: 24px;
}

.hf-modal-h4 {
  position: absolute;
  width: 214px;
  height: 72px;
  left: 40px;
  top: 200px;

  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.tablet .hf-modal-h4 {
  position: relative;
  width: 214px;
  height: 72px;
  left: 0px;
  top: 20px;

  font-size: 18px;
  line-height: 20px;
}

.hf-modal-default-button {
  position: absolute;
  width: 160px;
  height: 48px;
  top: 330px;
  left: 40px;

  background-color: var(--cl-white);
  fill: var(--cl-global);
  color: var(--cl-global);
}

.tablet .hf-modal-default-button {
  position: relative;
  left: -142px;
  top: 100px;
}

.hf-modal-image {
  position: absolute;
  width: 648px;
  /*height: 440px;*/
  top: 0;
  right: 0;
}

.hf-modal-close {
  position: absolute;
  top: 29px;
  right: 29px;
  width: 13px;
  height: 13px;
  background-image: svg-load('modal-cross.svg', 'fill: #000');
  cursor: pointer;
}

.tablet .hf-modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.hf-modal-overlay {
  z-index: 9999;
  position: fixed;
  background-color: red;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
}