.profile-view {
    padding-bottom: calc(var(--gs) * 10);

    &__panel {
        padding-top: calc(var(--gs) * 4);
    }

    &__main {
        padding-top: calc(var(--gs) * 3);
    }

    &__grid {
        display: grid;
        grid-template-columns: 288px 1fr;
        grid-template-rows: 1fr;
        grid-gap: calc(var(--gs) * 8);
        overflow: hidden;

        @media (--desktop) {
            grid-template-columns: 256px 1fr;
            grid-template-rows: 1fr;
        }

        @media (--tablet-lg) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 0;
        }

        @media (--tablet) {
            padding: 0;
        }
    }
}
