.profile-view {
    padding-bottom: calc(var(--gs) * 10);

    @media (--tablet) {
        padding-bottom: calc(var(--gs) * 4);
    }

    &__container {
        &--desktop {
            @media (--tablet-lg) {
                display: none;
            }
        }

        &--mobile {
            @media (--tablet-lg-min) {
                display: none;
            }
        }
    }

    &__panel {
        padding-top: calc(var(--gs) * 4);

        @media (--tablet-lg) {
            padding-top: 0;
        }

        & > .v-sticky__container {
            top: 64px;

            @media (--tablet) {
                top: 48px;
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-align: left;
            background-color: var(--cl-white);
            border: none;
            box-shadow: 0 -1px 0 #eff1f3, 0 0 20px rgba(0, 0, 0, 0.1);
            color: var(--cl-global);
            fill: var(--cl-global);

            @media (--tablet-lg) {
                padding: var(--gs) calc(var(--gs) * 3);
            }

            @media (--tablet) {
                padding: var(--gs) calc(var(--gs) * 2);
            }
        }
    }

    &__main {
        position: relative;
        margin-top: calc(var(--gs) * 3);
        overflow: hidden;

        &-view {
            width: 100%;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 248px 1fr;
        grid-template-rows: 1fr;
        grid-gap: calc(var(--gs) * 8);

        @media (--desktop-lg) {
            grid-template-columns: 248px 1fr;
            grid-template-rows: 1fr;
            grid-gap: calc(var(--gs) * 6);
        }

        @media (--tablet-lg) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 0;
        }

        @media (--tablet) {
            padding: 0;
        }
    }
}
